.has-error, div.has-error {
    color: red;
    font-weight: 400;
}

div.has-error {
    padding-top: 5px;
}

.add-representative, .delete-representative {
    margin-top: 37px;
}

.alert-success {
    background-color: #298ecd;
    color: #fff;
    border: none;
}

.btn-small {
    font-size: 16px;
    padding: 7px;
}

.available-info {
    padding-top: 10px;
    display: block;
    font-size: 13px;
}

.article-detail-view span {
    display: block;
    font-weight: 500;

}

.simple-listing li {
    padding-bottom: 20px;
    position: relative;
    padding-left: 15px;
}

.simple-listing li i {
    position: absolute;
    left: 0;
    top: 5px;
    font-size: 12px;
}

.responsive-align-left {
    text-align: right;
}

.balance {
    background: #bcdbf6;
    font-weight: 400;
    color: #1B2133;
    border: none;
}

.loading-img {
    background-color: rgba(0, 0, 0, .7);
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

.loading-img img {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.control-contents {
    word-wrap: break-word;
}

.control-contents p {
    font-size: 20px;
}

@media (max-width: 767px) {
    .responsive-align-left {
        text-align: left;
        padding-top: 15px;
    }
}

