.scrollbar-inner {
    height: 420px;
}

.sp-scrollbar {
    width: 10px;
    background-color: #298ECD;
    cursor: pointer;
}
.sp-thumb {
    background-color: #146a9f;
}

.no3 .sp-scrollbar,
.no4 .sp-scrollbar {
    border-radius: 5px;
}

.no3 .sp-scrollbar .sp-thumb,
.no4 .sp-scrollbar .sp-thumb {
    border-radius: 5px;
}

.scrollpanel .sp-scrollbar .sp-thumb {
    background-color: #aaa;
    transition: height 0.2s ease-in-out;
}

.sp-scrollbar.active .sp-thumb {
    background-color: #36a852;
}

.sp-viewport {
    padding-right: 0 !important;
}

@media (max-height: 800px) {
    /*.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse, .scroll-wrapper  {*/
        /*height: 460px;*/
        /*max-height: inherit;*/
        /*overflow-y: auto !important;*/
    /*}*/
    .scrollbar-inner {
        height: 320px;
    }
}