html, body {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #e4ebf7;
    font-weight: 300;
}

body .pd-20 {padding: 20px;}
body .mt-0 {margin-top: 0;}
body .mt-10 {margin-top: 10px;}
body .mb-10 {margin-bottom: 10px;}
body .mt-30 {margin-top: 30px;}
body .mb-20 {margin-bottom: 20px;}
body .mb-30 {margin-bottom: 30px;}
body .mb-50 {margin-bottom: 50px;}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

h1 {
    font-size: 22px;
    font-weight: 700;
}

ul, ul li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.img-responsive {
    max-width: 100%;
    display: inline-block;
}

a, a:hover, a:focus {
    transition: 0.2s ease;
}

b, strong {
    font-weight: 500;
}

label {
    font-weight: 300;
    font-size: 18px;
    color: #515974;
    margin-bottom: 10px;
}

.form-control {
    background-color: transparent;
    border-color: #298ecd;
    box-shadow: none;
    min-height: 50px;
}

textarea {
    resize: none;
}

select.form-control {
    background-color: #298ecd;
    color: #fff;
}


.btn {
    font-size: 20px;
    padding: 12px;
}

.btn-icon {
    padding: 5px 8px;
    font-size: 14px;
    line-height: normal;
}

.dark-blue,
.light-blue,
.light-blue:hover,
.light-blue:focus,
.light-green,
.light-green:hover,
.light-green:focus,
.dark-grey,
.dark-grey:hover,
.dark-grey:focus {
    background-color: #1b2133;
    color: #ffffff;
    transition: 0.4s ease;
}

.dark-blue:hover, .dark-blue:focus {
    background-color: #298ECD;
    color: #ffffff;
}

.light-blue {background-color: #298ecd;}

.light-green {background-color: #36a852;}

.dark-grey {background-color: #5e636c;}

.btn-lg {
    font-size: 26px;
    padding: 15px 20px;
    font-weight: 300;
}

.top-bar {
    background-color: #f2f6fc;
    height: 97px;
    box-shadow: 0 1px 1px #cbd1dc;
}

.footer-panel {
    background-color: #f2f6fc;
    box-shadow: 0 -1px 1px #cbd1dc;
    z-index: 0;
    display: none;
}

.footer-panel .right-panel {
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer-panel .right-panel .version-type {
    text-align: right;
}

.fix-left {
    position: fixed;
    left: 0;
    width: 350px;
    background-color: #1b2133;
    height: 100%;
    color: #fff;
}

.navbar-header {
    display: block;
    float: none;
    text-align: center;
    border-bottom: 1px solid #0c1224;
    padding: 13px 0;
}

.navbar-brand {
    height: auto;
    float: none;
}

.navbar-brand img {
    display: inline-block;
    max-width: 180px;
}

.profile-name {
    font-size: 20px;
    font-weight: 700;
    padding: 20px 0 20px 20px;
    line-height: 30px;
    margin-bottom: 10px;
    border-bottom: 1px solid #0c1224;
}

.left-panel-navigation ul, .left-panel-navigation li {
    display: block;
    float: none;
}

.left-panel-navigation li a {
    font-size: 18px;
    padding: 18px 25px;
    font-weight: 300;
    color: #fff;
    position: relative;
}

.left-panel-navigation li a img, .left-panel-navigation li a i {
    margin-right: 10px;
    max-width: 20px;
    vertical-align: top;
}

.left-panel-navigation li:hover a, .left-panel-navigation li a:focus,  .left-panel-navigation li.active a {
    background-color: #298ecd;
}

.left-panel-navigation li:hover a:before, .left-panel-navigation li a:focus:before, .left-panel-navigation li.active a:before {
    position: absolute;
    height: 100%;
    background-color: #f45b63;
    width: 5px;
    top: 0;
    left: 0;
    content: ' ';
}

.top-right-links {
    position: absolute;
    right: 40px;
    top: 33px;
}

.top-right-links li {
    display: inline-block;
    position: relative;
    margin-left: 20px;
    margin-top: 3px;
    vertical-align: top;
}

.top-right-links li:first-child {
    margin-top: 0;
}

.top-right-links li a {
    font-size: 20px;
}

.top-right-links li a i {
    font-size: 42px;
    color: #1b2133;
    transition: 0.2s ease;
}

.top-right-links li a i:after {
    width: 10px;
    height: 20px;
    border-radius: 5px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    border: 2px solid #F2F6FC;
    top: -4px;
    background-color: #1b2133;
    content: ' ';
    transition: 0.2s ease;
}

.top-right-links li a:hover i {
    color: #298ECD;
    transition: 0.2s ease;
}

.top-right-links li a:hover i:after {
    background-color: #298ECD;
    transition: 0.2s ease;
}


.copyright-section {
    font-size: 14px;
    background-color: #1B2133;
    padding-top: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-weight: 300;
}

.copyright-section span {
    display: block;
    margin-top: 10px;
    background-color: #000000;
    line-height: 50px;
}

.right-panel {
    padding-top: 140px;
    width: 78%;
    position: relative;
    left: 20%;
}

.main-box {
    background-color: #f2f6fc;
    display: block;
    border-radius: 5px;
    box-shadow: 0 1px 1px #cbd1dc;
}

.title-block {
    display: block;
    border-bottom: 1px solid #e1e7f0;
    padding: 20px 15px 20px 20px;
}

.main-content {
    display: block;
}

.page-title {
    display: block;
    text-align: center;
    padding: 30px 0;
    font-size: 50px;
    color: #515974;

}

.page-title span {
    font-weight: 700;

}

.profile-form label {
    text-align: right;
}

.profile-form .form-control {
    border: none;
    border-bottom: 2px solid #298ecd;
    min-height: inherit;
    background: none;
    box-shadow: none;
    border-radius: 0;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    height: auto;
    color: #515974;
    margin-bottom: 15px;
}

.steps-section {
    background-color: #298ecd;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-bottom: 60px;
}
.step-block span.step-info {
    font-size: 20px;
    display: block;
    font-weight: 400;
}

.has-border:before {
    position: absolute;
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #fff;
    content: ' ';
    left: -50%;
    top: 35px;
}

.step-remain:before {
    border-bottom: 1px dashed #0a5f94;
}

.step-block span.step-number {
    font-size: 40px;
    font-weight: 700;
    background-color: #298ECD;
    width: 66px;
    height: 66px;
    border: 3px solid #fff;
    display: inline-block;
    border-radius: 100%;
    line-height: 60px;
    position: relative;
    margin-bottom: 10px;
    z-index: 1;
}

.step-remain span.step-number {
    border-color: #0a5f94;
    color: #0a5f94;;
}

.article-img {
    display: block;
    border-radius: 10px;
    overflow: hidden;
}

.article-img img {
    width: 100%;
}

.article-img span {
    display: block;
    background-color: #101010;
    color: #fff;
    text-align: left;
    font-weight: 400;
    font-size: 20px;
    padding: 10px 15px;
}

.article-list-block .btn {
    font-size: 18px;
    padding: 6px 12px;
}

.article-list-block .publicer-btn {
    background-color: #515974;
    border-radius: 20px;
    padding: 5px 10px 5px 35px;
    color: #fff;
    position: relative;
    font-size: 14px;
}

.publicer-btn:hover {
    background-color: #1b2133;
    color: #ffffff;
}

.publicer-btn:before {
    border: 2px solid #686f86;
    box-shadow: 0 0 4px #37c25f;
    border-radius: 100%;
    width: 14px;
    height: 14px;
    background-color: #37c25f;
    content: '';
    position: absolute;
    left: 7px;
    top: 7px;
}

.article-list-block-add {
    display: block;
    border-radius: 10px;
    border: 2px dashed #298ecd;
    /*margin-top: 42px;*/
    position: relative;
    height: 360px;
    padding: 20px;
}

.add-article-btn {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 5%;
    width: 90%;
    padding: 5px 10px;
    font-weight: 300;
    font-size: 30px;
}

.add-artice-icon {
    position: relative;
    top: 28%;
}

.login-page {
    width: 100%;
    height: 100%;
}

.login-bg-color {
    position: fixed;
    background-color: #2f3546;
    width: 100%;
    height: 100%;
}

.login-block {
    display: block;
    background-color: #fff;
    border-radius: 7px;
    padding: 20px 20px 30px;
    margin-top: 70px;
    margin-bottom: 70px;
}

.logo-login img {
    max-width: 250px;
}

.login-title {
    display: block;
    font-size: 36px;
    font-weight: 700;
    color: #515974;
    padding: 25px 0;
}

.login-email-inputs, .login-pw-inputs {
    background: url("../images/user-icon.svg") 20px center no-repeat;
    padding: 20px 20px 20px 80px;
    height: auto;
    font-size: 20px;
    color: #515974;
    border-radius: 10px;
    border: 2px solid #298ecd;
    margin-bottom: 25px;
}

.forgot-link {
    font-size: 24px;
    color: #298ecd;
    text-decoration: underline;
}

.forgot-link:hover {
    text-decoration: none;
}

.login-pw-inputs {
    background: url("../images/password-icon.png") 20px center no-repeat;
    margin-bottom: 35px;
}

.login-btn {
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 30px;
}

.popup-title {
    font-weight: 300;
}

.popup-okay-icon, .popup-error-icon {
    font-size: 100px;
    padding: 20px 0 40px;
    color: #36a852;
}

.popup-error-icon {
    color: #1B2133;
}

.table-striped > tbody > tr:nth-of-type(2n+1) {
    background-color: rgba(42, 142, 205, 0.1);
}

.listing-action-btns {
    min-width: 150px;
}

.listing-action-btns .btn {
    margin: 0 2px 10px;
}

.responsive-label {
    display: none;
}

.table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > thead > tr > th {
    border-color: #bad4e5;
    border-bottom: none;
}

.custom-table tr:last-child {
    border-bottom: 1px solid #bad4e5;
}

.package-blocks {
    background-color: #1B2133;
    border-radius: 10px;
    padding: 10px 10px 40px;
}

.package-blocks h2 {
    margin: 100px 0;
    color: #fff;
    font-size: 50px;
}

.custom-tabs li a {
    background-color: #1B2133;
    border-radius: 0;
    color: #fff;
    border-color: #1B2133;
}

.custom-tabs li a:hover, .custom-tabs li a:focus, .custom-tabs li a:active, .custom-tabs li.active a, .custom-tabs li.active:hover a, .custom-tabs li.active:focus a {
    background-color: #298ECD;
    color: #fff;
    border-color: #298ECD;
}

.warning-top-strip {
    background: rgba(252, 0, 13, 0.8);
    color: #fff;
    padding: 10px 0;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 100;
}

.package-blocks .btn:hover {
    background-color: #36a852;
}

.warning-top-strip i {
    font-size: 18px;
}

.saw-filters {
    font-weight: 400;
    position: relative;
    margin-top: 5px;
}

.saw-filters .chosen-container {
    margin-bottom: 5px;
    width: 100% !important;
    max-width: 180px;
    text-align: left;
}

.chosen-container .chosen-results {
    max-height: 150px;
}

.saw-filters .chosen-container-single .chosen-single {
    height: 30px;
    width: 100%;
    left: 0;
    right: 0;
    margin: auto;
}

.saw-filters .chosen-container-single .chosen-single span {
    font-size: 13px;
    margin: 3px 26px 0 4px;
}

.saw-filters .chosen-container-single .chosen-single div b {
    background-position: 0 7px;
    background-size: auto auto;
}

.saw-filters .chosen-container-active.chosen-with-drop .chosen-single div b {
    background-position: -38px 7px;
}

.filter-show, .filter-reset {
    padding: 2px 6px;
    margin-left: 5px;
    font-size: 14px;
}

.table-filter .form-control, .saw-filters .form-control {
    min-height: 29px;
    height: 29px;
    margin: 2px 0 8px;
    padding-right: 40px;
}

.table-filter  .btn {
    font-size: 14px;
    padding: 6px;
    position: absolute;
    right: 0;
    top: 0;
}

.content-search .form-control {
    min-height: inherit;
}

.listing-search-block {
    margin-bottom: 50px;
}

.search-go-btn, .search-reset {
    position: absolute;
    right: 57px;
    top: 0;
    font-size: 15px;
    padding: 5px 10px;
    height: 34px;
}

.search-reset {
    right: 15px;
}

.logo-tablet, .logo-mobile {
    display: none;
}

.balance {
    font-size: 16px;
}

.pckg-pic {
    padding-top: 5px;
}

.left-panel-navigation li a img, .left-panel-navigation li a i, .profile-name i {
    display: none;
}

.record-count {
    display: inline-block;
    padding: 8px;
    font-size: 15px;
    font-weight: 400;
}

.custom-pagination .pagination {
    margin: 0;
}

.w150 {
    width: 250px;
}
.w180 {
    width: 320px;
}
.w250 {
    width: 350px;
}

.responsive-filters {
    display: none;
}

.chosen-container .chosen-drop {
    max-height: 150px;
}

.pagination > li > a, .pagination > li > span {
    background-color: #639EDB;
    border-color: #639EDB;
    color: #fff;
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    background-color: #36a852;
    border-color: #36a852;
}

.pagination > li > a:focus, .pagination > li > a:hover, .pagination > li > span:focus, .pagination > li > span:hover {
    background-color: #1E3651;
    border-color: #1E3651;
    color: #fff;
}

.pagination > .disabled > a, .pagination > .disabled > a:focus, .pagination > .disabled > a:hover, .pagination > .disabled > span, .pagination > .disabled > span:focus, .pagination > .disabled > span:hover {
    background-color: rgba(99,158,219,0.5);
    color: #fff;
    border-color: rgba(99,158,219,0.5);

}

@media (max-height: 574px) {
    .copyright-section {
        display: none;
    }
}

@media (max-width: 1699px) {
    .right-panel {
        float: right;
        left: auto;
        right: 2%;
        width: 70%;
    }
    .container {
        width: 100%;
    }
    .btn-lg {
        font-size: 20px;
    }
    .add-article-btn {
        font-size: 18px;
    }
}

@media (min-width: 1024px) and (max-width: 1550px) {
    .article-list-block .btn {
        font-size: 12px;
    }
    .fix-left {
        width: 280px;
    }
    .right-panel {
        width: 75%;
    }
    .custom-tabs li a {
        font-size: 12px;
        padding: 10px 5px;
    }
    .w150 {
        width: 150px;
    }
    .w180 {
        width: 180px;
    }
    .w250 {
        width: 250px;
    }
}

@media (min-width: 1024px) and (max-width: 1279px) {
    .fix-left {
        width: 270px;
    }
    .right-panel {
        width: 70%;
    }
    .left-panel-navigation li a {
        font-size: 18px;
    }
    .copyright-section {
        font-size: 16px;
    }
    .copyright-section span {
        line-height: 50px;
    }
    .custom-tabs {
        border: none;
    }
    .custom-tabs li {
        width: 50%;
        margin-bottom: 2px;
        text-align: center;
    }
    .available-info {
        width: 60%;
    }
}

@media (max-width: 1024px){
    .has-border::before {
        top: 25px;
    }
    .step-block span.step-info {
        font-size: 16px;
    }
    .step-block span.step-number {
        height: 46px;
        width: 46px;
        font-size: 28px;
        line-height: 40px;
    }
    .btn-lg, .add-article-btn {
        font-size: 22px;
    }
    .custom-tabs {
        border: none;
    }
    .custom-tabs li {
        width: 50%;
        margin-bottom: 2px;
        text-align: center;
    }
    .available-info {
        width: 60%;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .fix-left {
        width: 50px;
    }
    .custom-tabs li a {
        font-size: 12px;
        padding: 10px 5px;
    }
    .top-bar {
        height: 60px;
    }
    .navbar-brand {
        padding: 0;
        margin-left: 0 !important;
    }
    .profile-name {
        font-size: 24px;
        padding: 15px;
        margin-bottom: 0;
    }
    .left-panel-navigation li a span, .profile-name span, .logo-desktop, .copyright-section {
        display: none;
    }
    .logo-tablet {
        display: block;
    }
    .left-panel-navigation li a {
        padding: 15px;
    }
    .left-panel-navigation li a {
        font-size: 16px;
    }
    .container {
        width: 100%;
    }
    .top-right-links {
        right: 20px;
        top: 20px;
    }
    .right-panel {
        width: 90%;
        padding-top: 90px;
    }
    .top-right-links li a i {
        font-size: 24px;
    }
    .top-right-links li a i::after {
        width: 7px;
        height: 14px;
        top: -2px;
    }
    .top-right-links {
        top: 17px;
    }
    .page-title {
        font-size: 26px;
    }
    label {
        font-size: 16px;
    }
    .form-control {
        min-height: inherit;
    }
    textarea.form-control {
        height: 80px;
    }
    .h2, h2 {
        font-size: 24px;
    }
    .btn-lg, .add-article-btn {
        padding: 10px;
        font-size: 18px;
    }
    .balance {
        padding: 5px 30px 5px 5px;
        font-size: 14px;
        text-align: left;
        min-height: 55px;
    }
    .balance .badge {
        position: absolute;
        right: 20px;
        top: 20px;
    }
    .steps-section {
        margin-bottom: 0;
    }
    .listing-search-block {
        margin-bottom: 20px;
        margin-top: 30px;
    }
    .footer-panel {
        display: block;
    }
    .view-article-responsive {
        margin-top: 50px;
    }
    .left-panel-navigation li a img, .left-panel-navigation li a i, .profile-name i {
        display: block;
    }
}

@media (max-width: 991px){
    .table-responsive > .table > tbody > tr > td, .table-responsive > .table > tbody > tr > th, .table-responsive > .table > tfoot > tr > td, .table-responsive > .table > tfoot > tr > th, .table-responsive > .table > thead > tr > td, .table-responsive > .table > thead > tr > th {
        white-space: normal;
    }
    .custom-table, .custom-table .table {
        border: none;
    }
    .custom-table .table-headings {
        display: none;
    }
    .custom-table td, .custom-table tr {
        float: left;
        width: 100%;
    }
    .custom-table tr {
        margin-bottom: 30px;
        border-bottom: 1px solid #bad4e5;
    }
    .custom-table tr td:first-child {
        border-left: 1px solid #bad4e5 !important;
    }
    .custom-table tr td:last-child {
        border-right: 1px solid #bad4e5 !important;
    }
    .custom-table tr:first-child {
        margin-top: 0;
    }
    .custom-table .responsive-label, .custom-table .responsive-data {
        display: block;
        float: left;
        width: 49%;
        text-align: left;
    }
    .custom-table .responsive-data {
        float: right;
    }
    .available-info {
        width: auto;
    }
    .responsive-filters {
        display: block;
    }
    .responsive-filters ul.filter-list {
        background-color: #E4EBF7;
        box-shadow: 0 1px 1px #cbd1dc;
        margin-bottom: 30px;
        padding: 15px 15px 0;
        border-radius: 5px;
    }
    .responsive-filters ul.filter-list li.filter-list-data {
        display: block;
        margin-right: 5px;
        padding: 15px 0;
        border-top: 1px solid #cbd1dc;
    }
    .responsive-filters ul.filter-list li.filter-list-data:first-child {
        border-top: none;
        padding-top: 0;
    }
    .view-btn {
        text-align: left;
        position: relative;
        padding: 10px;
        font-size: 16px;
    }
    .view-btn i {
        position: absolute;
        right: 15px;
        top: 12px;
    }
    .saw-filters .chosen-container {
        max-width: inherit;
    }
    .responsive-block {
        clear: left;
    }
}

@media (max-width: 767px) {
    .copyright-section, .profile-name, .left-panel-navigation li a img, .left-panel-navigation li a i, .steps-section {
        display: none;
    }
    .top-right-links li.logout {
        display: inline-block;
    }
    .left-panel-navigation li a {
        text-align: center;
        font-size: 14px;
        padding: 7px;
    }
    .fix-left {
        width: 280px;
        left: -280px;
    }
    .fix-left .navbar-collapse {
        display: block !important;
    }
    .fix-left .navbar-header {
        border: none;
    }
    .left-panel-navigation ul {
        margin: 0;
    }
    .navbar-collapse {
        padding-left: 0;
        padding-right: 0;
    }
    .right-panel {
        left: 2%;
        right: 2%;
        width: 96%;
        float: none;
        padding-top: 80px;
    }
    .navbar-brand {
        padding-left: 0;
        padding-right: 0;
        margin-left: -15px;
    }
    .top-bar .container {
        padding: 0;
    }
    .top-right-links {
        float: right;
        position: relative;
        right: 10px;
        top: 12px;
        z-index: 10;
    }
    .navbar-toggle {
        position: fixed;
        left: 0;
        padding: 11px 13px;
        border-radius: 0;
        background-color: #639edb;
        font-size: 18px;
        margin: 0;
    }
    .navbar-toggle.open i.fa-bars:before {
        content: '\f060';
    }
    .left-panel-navigation li a {
        padding: 20px;
        font-size: 16px;
        text-align: left;
    }
    .navbar-toggle img {
        max-width: 50px;
    }
    .profile-form label {
        display: block;
        text-align: center;
        margin: 20px 0;
    }
    .has-border::before {
        border: none;
    }
    /*.step-block {*/
        /*margin-bottom: 30px;*/
    /*}*/
    /*.custom-tabs li {*/
        /*width: 100%;*/
        /*margin-bottom: 2px;*/
        /*text-align: center;*/
    /*}*/
    .content-search {
        padding: 0;
    }
    .content-search h3 {
        padding-bottom: 10px;
    }
    .profile-form label {
        display: block;
        margin: 20px 0;
        text-align: left;
    }
    .logo-desktop {
        display: none;
    }
    .logo-mobile {
        display: inline-block;
        position: fixed;
        left: 50%;
    }
    .logo-mobile img {
        width: auto;
    }
    .fix-left .navbar-header {
        padding: 0;
    }
    .navbar-brand {
        padding: 4px 0 0;
    }
    .listing-search-block {
        margin: 30px 0 20px;
    }
    .page-title {
        font-size: 22px;
    }
    label {
        font-size: 15px;
    }
    .form-control {
        min-height: inherit;
    }
    textarea.form-control {
        height: 80px;
    }
    .btn-lg, .add-article-btn, .article-list-block .btn {
        padding: 10px;
        font-size: 16px;
    }
    .article-list-block-add {
        height: 300px;
    }
    .footer-panel, .footer-panel .right-panel .version-type {
        display: block;
        text-align: center;
        position: static;
    }
    .page-title {
        padding: 15px 0 10px;
    }
    .profile-form label {
        margin: 0;
    }
    .h2, h2 {
        font-size: 22px;
    }
    .article-list-block .btn {
        display: inline-block;
        font-size: 0;
        width: auto;
        margin-top: 0;
    }
    .article-list-block .btn i {
        font-size: 16px;
    }
    .scrollbar-inner {
        margin-top: 49px;
    }
    .pckg-pic {
        padding-top: 15px;
    }
    .top-bar {
        height: auto;
    }
    .availability-boxes {
        margin-bottom: 30px;
    }
    .availability-boxes .balance {
        margin: 0;
        padding: 10px;
        text-align: left;
    }
    .availability-boxes .balance span {
        position: absolute;
        right: 30px;
        top: 12px;
    }
    .record-count {
        display: block;
    }
    .saw-filters .chosen-container {
        min-height: 30px;
    }
}

@media (max-width: 479px) {
    .top-right-links li {
        margin-left: 0;
    }
    .navbar-toggle img {
        width: 30px;
    }
    .top-right-links li a i {
        font-size: 26px;
    }
    .top-right-links li a i::after {
        height: 16px;
        top: -3px;
        width: 7px;
    }
}
