{# Used in: Form/theme #}
{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            <div class="has-error">
                {% for error in errors %}
                    {{ error.message }}
                    {%- if loop.last != true -%}
                        ,
                    {%- endif -%}
                {% endfor %}
            </div>
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}
