@font-face {
	font-family: 'Futura Std';
	src: url('../fonts/FuturaStd-LightOblique.eot');
	src: url('../fonts/FuturaStd-LightOblique.eot?#iefix') format('embedded-opentype'),
	url('../fonts/FuturaStd-LightOblique.woff') format('woff'),
	url('../fonts/FuturaStd-LightOblique.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Futura Std';
	src: url('../fonts/FuturaStd-CondExtraBoldObl.eot');
	src: url('../fonts/FuturaStd-CondExtraBoldObl.eot?#iefix') format('embedded-opentype'),
	url('../fonts/FuturaStd-CondExtraBoldObl.woff') format('woff'),
	url('../fonts/FuturaStd-CondExtraBoldObl.ttf') format('truetype');
	font-weight: 800;
	font-style: italic;
}

@font-face {
	font-family: 'Futura Std';
	src: url('../fonts/FuturaStd-BookOblique.eot');
	src: url('../fonts/FuturaStd-BookOblique.eot?#iefix') format('embedded-opentype'),
	url('../fonts/FuturaStd-BookOblique.woff') format('woff'),
	url('../fonts/FuturaStd-BookOblique.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Avenir LT Std';
	src: url('../fonts/AvenirLTStd-BlackOblique.eot');
	src: url('../fonts/AvenirLTStd-BlackOblique.eot?#iefix') format('embedded-opentype'),
	url('../fonts/AvenirLTStd-BlackOblique.woff') format('woff'),
	url('../fonts/AvenirLTStd-BlackOblique.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'Futura Std';
	src: url('../fonts/FuturaStd-CondensedLight.eot');
	src: url('../fonts/FuturaStd-CondensedLight.eot?#iefix') format('embedded-opentype'),
	url('../fonts/FuturaStd-CondensedLight.woff') format('woff'),
	url('../fonts/FuturaStd-CondensedLight.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Avenir LT Std';
	src: url('../fonts/AvenirLTStd-Oblique.eot');
	src: url('../fonts/AvenirLTStd-Oblique.eot?#iefix') format('embedded-opentype'),
	url('../fonts/AvenirLTStd-Oblique.woff') format('woff'),
	url('../fonts/AvenirLTStd-Oblique.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Avenir LT Std';
	src: url('../fonts/AvenirLTStd-Roman.eot');
	src: url('../fonts/AvenirLTStd-Roman.eot?#iefix') format('embedded-opentype'),
	url('../fonts/AvenirLTStd-Roman.woff') format('woff'),
	url('../fonts/AvenirLTStd-Roman.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Avenir LT Std';
	src: url('../fonts/AvenirLTStd-Light.eot');
	src: url('../fonts/AvenirLTStd-Light.eot?#iefix') format('embedded-opentype'),
	url('../fonts/AvenirLTStd-Light.woff') format('woff'),
	url('../fonts/AvenirLTStd-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Futura Std';
	src: url('../fonts/FuturaStd-CondensedOblique.eot');
	src: url('../fonts/FuturaStd-CondensedOblique.eot?#iefix') format('embedded-opentype'),
	url('../fonts/FuturaStd-CondensedOblique.woff') format('woff'),
	url('../fonts/FuturaStd-CondensedOblique.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Futura Std';
	src: url('../fonts/FuturaStd-CondensedExtraBd.eot');
	src: url('../fonts/FuturaStd-CondensedExtraBd.eot?#iefix') format('embedded-opentype'),
	url('../fonts/FuturaStd-CondensedExtraBd.woff') format('woff'),
	url('../fonts/FuturaStd-CondensedExtraBd.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Futura Std';
	src: url('../fonts/FuturaStd-ExtraBold.eot');
	src: url('../fonts/FuturaStd-ExtraBold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/FuturaStd-ExtraBold.woff') format('woff'),
	url('../fonts/FuturaStd-ExtraBold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Futura Std';
	src: url('../fonts/FuturaStd-Bold.eot');
	src: url('../fonts/FuturaStd-Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/FuturaStd-Bold.woff') format('woff'),
	url('../fonts/FuturaStd-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Futura Std';
	src: url('../fonts/FuturaStd-CondensedBoldObl.eot');
	src: url('../fonts/FuturaStd-CondensedBoldObl.eot?#iefix') format('embedded-opentype'),
	url('../fonts/FuturaStd-CondensedBoldObl.woff') format('woff'),
	url('../fonts/FuturaStd-CondensedBoldObl.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Futura Std';
	src: url('../fonts/FuturaStd-MediumOblique.eot');
	src: url('../fonts/FuturaStd-MediumOblique.eot?#iefix') format('embedded-opentype'),
	url('../fonts/FuturaStd-MediumOblique.woff') format('woff'),
	url('../fonts/FuturaStd-MediumOblique.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Avenir LT Std';
	src: url('../fonts/AvenirLTStd-Book.eot');
	src: url('../fonts/AvenirLTStd-Book.eot?#iefix') format('embedded-opentype'),
	url('../fonts/AvenirLTStd-Book.woff') format('woff'),
	url('../fonts/AvenirLTStd-Book.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Futura Std';
	src: url('../fonts/FuturaStd-ExtraBoldOblique.eot');
	src: url('../fonts/FuturaStd-ExtraBoldOblique.eot?#iefix') format('embedded-opentype'),
	url('../fonts/FuturaStd-ExtraBoldOblique.woff') format('woff'),
	url('../fonts/FuturaStd-ExtraBoldOblique.ttf') format('truetype');
	font-weight: 800;
	font-style: italic;
}

@font-face {
	font-family: 'Futura Std';
	src: url('../fonts/FuturaStd-HeavyOblique.eot');
	src: url('../fonts/FuturaStd-HeavyOblique.eot?#iefix') format('embedded-opentype'),
	url('../fonts/FuturaStd-HeavyOblique.woff') format('woff'),
	url('../fonts/FuturaStd-HeavyOblique.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'Futura Std';
	src: url('../fonts/FuturaStd-Medium.eot');
	src: url('../fonts/FuturaStd-Medium.eot?#iefix') format('embedded-opentype'),
	url('../fonts/FuturaStd-Medium.woff') format('woff'),
	url('../fonts/FuturaStd-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Futura Std';
	src: url('../fonts/FuturaStd-BoldOblique.eot');
	src: url('../fonts/FuturaStd-BoldOblique.eot?#iefix') format('embedded-opentype'),
	url('../fonts/FuturaStd-BoldOblique.woff') format('woff'),
	url('../fonts/FuturaStd-BoldOblique.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Avenir LT Std';
	src: url('../fonts/AvenirLTStd-Black.eot');
	src: url('../fonts/AvenirLTStd-Black.eot?#iefix') format('embedded-opentype'),
	url('../fonts/AvenirLTStd-Black.woff') format('woff'),
	url('../fonts/AvenirLTStd-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Futura Std';
	src: url('../fonts/FuturaStd-CondensedLightObl.eot');
	src: url('../fonts/FuturaStd-CondensedLightObl.eot?#iefix') format('embedded-opentype'),
	url('../fonts/FuturaStd-CondensedLightObl.woff') format('woff'),
	url('../fonts/FuturaStd-CondensedLightObl.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Futura Std';
	src: url('../fonts/FuturaStd-Condensed.eot');
	src: url('../fonts/FuturaStd-Condensed.eot?#iefix') format('embedded-opentype'),
	url('../fonts/FuturaStd-Condensed.woff') format('woff'),
	url('../fonts/FuturaStd-Condensed.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Avenir LT Std';
	src: url('../fonts/AvenirLTStd-HeavyOblique.eot');
	src: url('../fonts/AvenirLTStd-HeavyOblique.eot?#iefix') format('embedded-opentype'),
	url('../fonts/AvenirLTStd-HeavyOblique.woff') format('woff'),
	url('../fonts/AvenirLTStd-HeavyOblique.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'Futura Std';
	src: url('../fonts/FuturaStd-CondensedBold.eot');
	src: url('../fonts/FuturaStd-CondensedBold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/FuturaStd-CondensedBold.woff') format('woff'),
	url('../fonts/FuturaStd-CondensedBold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Futura Std';
	src: url('../fonts/FuturaStd-Heavy.eot');
	src: url('../fonts/FuturaStd-Heavy.eot?#iefix') format('embedded-opentype'),
	url('../fonts/FuturaStd-Heavy.woff') format('woff'),
	url('../fonts/FuturaStd-Heavy.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Avenir LT Std';
	src: url('../fonts/AvenirLTStd-Heavy.eot');
	src: url('../fonts/AvenirLTStd-Heavy.eot?#iefix') format('embedded-opentype'),
	url('../fonts/AvenirLTStd-Heavy.woff') format('woff'),
	url('../fonts/AvenirLTStd-Heavy.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Futura Std';
	src: url('../fonts/FuturaStd-Book.eot');
	src: url('../fonts/FuturaStd-Book.eot?#iefix') format('embedded-opentype'),
	url('../fonts/FuturaStd-Book.woff') format('woff'),
	url('../fonts/FuturaStd-Book.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Avenir LT Std';
	src: url('../fonts/AvenirLTStd-LightOblique.eot');
	src: url('../fonts/AvenirLTStd-LightOblique.eot?#iefix') format('embedded-opentype'),
	url('../fonts/AvenirLTStd-LightOblique.woff') format('woff'),
	url('../fonts/AvenirLTStd-LightOblique.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Futura Std';
	src: url('../fonts/FuturaStd-Light.eot');
	src: url('../fonts/FuturaStd-Light.eot?#iefix') format('embedded-opentype'),
	url('../fonts/FuturaStd-Light.woff') format('woff'),
	url('../fonts/FuturaStd-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Avenir LT Std';
	src: url('../fonts/AvenirLTStd-MediumOblique.eot');
	src: url('../fonts/AvenirLTStd-MediumOblique.eot?#iefix') format('embedded-opentype'),
	url('../fonts/AvenirLTStd-MediumOblique.woff') format('woff'),
	url('../fonts/AvenirLTStd-MediumOblique.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Avenir LT Std';
	src: url('../fonts/AvenirLTStd-BookOblique.eot');
	src: url('../fonts/AvenirLTStd-BookOblique.eot?#iefix') format('embedded-opentype'),
	url('../fonts/AvenirLTStd-BookOblique.woff') format('woff'),
	url('../fonts/AvenirLTStd-BookOblique.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Avenir LT Std';
	src: url('../fonts/AvenirLTStd-Medium.eot');
	src: url('../fonts/AvenirLTStd-Medium.eot?#iefix') format('embedded-opentype'),
	url('../fonts/AvenirLTStd-Medium.woff') format('woff'),
	url('../fonts/AvenirLTStd-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}
