/* ----------------------------- */
/* IPM DCM Form style                */
/* ----------------------------- */
.dcm_content {
  color:#fff;
  text-align:center;
  font-size:18px;
}

.dcm_form {
  font-size: 14px;
  /*float: left;*/
  width: 100%;
  padding: 24px 0;
  border-radius: 3px;
  text-align: left;
}

.dcm_form form label {
  color: #fff;
  font-size: 24px;
  display: block;
}

.dcm_button {
  display: inline-block;
  color: #fff;
  font-size: 20px;
  font-weight: 900;
  /*background: #eb4535;*/
  background: #ffc524;
  border-radius: 3px;
  padding: 25px 20px;
  width: 100%;
}

.dcm_button:hover, .dcm_button:focus, .dcm_button:active {
  background: #3a9dda;
  color: #fff;
}

.dcm_fieldset {
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #f8f8f8;
}

.dcm_spacing {
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.dcm_active {
  opacity: 0.75;
  transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
}

.dcm_active:hover, .dcm_active:focus, .dcm_active:active {
  opacity: 1;
}

.dcm_errors .dcm_link {
  text-decoration: underline;
  color: #ffc524;
}

.dcm_info {
  font-size: 12px;
  text-align: left;
}
.blk_2.dcm_content.cookie p {
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 25px;
  text-align: left;
}

.blk_2.dcm_content.cookie h1 {
  margin-bottom: 15px;
}

.blk_2.dcm_content.cookie h3 {
  margin: 10px 0;
  text-align: left;
}

.blk_2.dcm_content.cookie ul {
  text-align: left;
  margin-bottom: 15px;
}

.blk_2.dcm_content.cookie h4 {
  margin: 10px 0;
  text-align: left;
}

a.cookie-email {
  color: #fff;
}

.cookie a.cookie-link {
  color: #217cb5;
}

ul.cookie-contact li {
  margin-bottom: 10px;
}

ul.cookie-contact li:last-child {
  margin-bottom: 0;
}

a.cookie-email:hover {
  color: #eb4535;
}
.privacy-policy-content h3{
  font-size: 24px;
}
.privacy-policy-content ol li{
  list-style-type: upper-roman;
}

.privacy-policy-content ol.roman li{
  list-style-type: upper-roman;
}

.privacy-policy-content ol.alpha li{
  list-style-type: upper-alpha;
}

.privacy-policy-content ol.disc li{
  list-style-type: disc;
}

.privacy-policy-content ul.disc li{
  list-style-type: disc;
}

.privacy-policy-content ul.square li{
  list-style-type: square;
}

.privacy-policy-content ul.circle li{
  list-style-type: circle;
}

.privacy-policy-content{
  color: #fff;
  text-align: left;
}
.privacy-policy-content ol, .privacy-policy-content ul{
  margin-top: 0;
  margin-bottom: 1rem;
  padding-left: 40px;
}
.privacy-index{
  border:1px solid;
  padding-left: 40px;
  text-align: left;
}
.privacy-index h5 {
  font-size: 24px;
}
.privacy-index h6 {
  font-size: 16px;
}

.privacy-index-title{
  text-align: center;
  margin-top: 45px;
}
.privacy-index-subtitle{
  text-align: center;
}
.privacy-index a {
  color: #fff!important;
}
.privacy-index a:hover {
  color: #ff6a52;
  text-decoration: underline;
}
.privacy-content a{
  color: #ff6a52;
  text-decoration: underline;
}
.privacy-content a:hover{
  color: #ff6a52;
}
.privacy-content table, th, td, tr {
  border: 1px solid #fff;
}
.privacy-content td, .privacy-content th{
  padding: 15px;
}
.privacy-content th{
  font-weight: bold;
}

.footer-links {
  margin-left: 10px;
}

.footer-links:after, .footer-links:before {
  content:"";
  display:table;
  clear:both;
  float:none;
}

.footer-links h6 {
  color: #fff;
  border-bottom: 1px solid #fff;
  line-height: 2.2;
  font-size: 16px;
}

.footer .social .footer-links ul {
  list-style: none;
  color: #fff;
  font-size: 13px;
  padding: 0;
  margin-top: 0;
}

.footer-links ul li a {
  color: #fff;
}

.footer .social .footer-links ul li {
  margin-left: 0;
}

.mb-30 {
  margin-bottom: 30px;
}

.footer .social ul, .footer .footer-links ul {
  float: left;
}

.footer .footer-links ul li {
  float: none;
}

@media screen and (max-width:1024px) {
  .footer .social ul li:first-child {
    margin-left: 0;
  }

  .footer-links {
    margin-left: 0;
  }
}

@media screen and (min-width:767px) {

  .dcm_form .form-control:not(textarea) {
    height: 38px;
    padding: 8px 12px;
  }

  .dcm_form .form-group {
    margin-bottom: 22px;
  }
  .dcm_form {
    /*background: #217cb5;*/
    background: rgba(255, 255, 255, 0.08);
    margin-top: 25px;
    padding: 24px 24px 10px;
  }
}

@media screen and (min-width:1136px) {

  .dcm_content {
    padding:45px 65px;
  }
}
