.btn_group_flex {
	display: flex;
	margin: 40px 0 0 0;
	justify-content: center;
}
.a_btm {
	flex: 1;
}
.btn_default {
	display: inline-flex;
	align-items: center;
	flex: 3;
	text-decoration: none;
	display: inline-block;
	font-weight: normal;
	font-size: 16px;
	color: #fefefe;
	padding: 6px 21px;
	background: #242424;
	border-radius: 3px;
}
.btn_default_left {
	margin-right: 15px;
}
.btn_default_right {
	margin-left: 15px;
}
.btn_default:hover {
    background: #EB4535;
    color: #fff;
}
.blk_1 .one_inner .nos_blk .nos_inner h3 img.nos_inner_img {
	margin: 16px 5% 0 0;
	width: 10%;
	float: left;
}
.blk_1_bg img {
	margin: auto;
	display: block;
	text-align: center;
	max-width: 100%;
	clear: both;
}
.nos_inner_title {
	float: left;
	width: 85%;
}
.nos_inner_title_item {
	display: block;
}
.nos_inner_title_item:first-of-type {
	font-size: 36px;
}
.nos_inner_title_item:last-of-type {
	font-size: 24px;
	font-weight: 300;
}
.blk_5 .five_inner h3 span {
	font-size: 16px;
}
.nb {
	margin: 10px 0;
	display: inline-block;
}
.condition  {
	float: left;
	box-sizing: border-box;
	margin-left: 25px;
	width: calc(65% - 25px);
}
@media screen and (max-width:767px)  {
	.btn_group_flex {
		margin: 30px 0 0 0;
		flex-direction: column;
	}
	.btn_default {
		font-size: 15px;
		padding: 10px 12px;
		margin-bottom: 15px;
	}
	.btn_default_left {
		margin-right: 0;
	}
	.btn_default_right {
		margin-left: 0;
	}
  .condition {
    width: 100%;
		margin-left: 0;
  }
}
.condition-list  {
	float: left;
	margin-left: 15px;
	padding: 15px;
}
.condition-list li {
	padding: 15px 0;
	font-size: 16px;
	list-style-type: decimal;
}
.blk_5 .five_inner .price_list {
	padding-bottom: 82px;
	margin-bottom: 82px;
}
.blk_5 .five_inner .price_list.price_list_solo {
	padding-bottom: 20px;
	margin-bottom: 20px;
}
.blk_5 .five_inner .price_list .price_tab_full {
	width: 100%;
	padding: 19px 10px 16px;
	border-left: 1px solid #cacaca;
	border-right: 1px solid #cacaca;
	float: left;
	padding: 20px 30px;
}
.blk_5 .five_inner .price_list .price_tab_full h4 {
	font-size: 14px;
	color: #515253;
	font-family: 'Futura Std';
	text-transform: uppercase;
	font-weight: 700;
}
.blk_5 .five_inner .price_list .price_tab_full h4 span {
	font-size: 12px;
}
.blk_5 .price_tab_full ul {
	margin-left: 18px;
}
.blk_5 .price_tab_full ul li {
	list-style: disc;
	float: left;
	width: auto;
	padding-right: 26px;
	font-size: 12px;
	font-family: 'Futura Std';
	font-weight: 400;
	color: #3f3f3f;
	position: relative;
	margin: 0 0 7px;
}
.blk_5 .five_inner .price_list .price_tab ul li {
	font-size: 13px;
}
.blk_4 .four_inner {
	padding: 0;
}
.blk_4 {
	padding: 0 0 80px 0;
}

.blk_1 .one_inner .nos_blk .nos_inner .nos_con p {
	font-size: 16px;
}
.blk_1 .one_inner .nos_blk .nos_inner .nos_con ul li {
	font-size: 16px;
}
.blk_3 .more_info{
	display: inline-block;
	font-size: 18px;
	color: #ededed;
	font-weight: normal;
	margin: 12px 12px 0 12px;
}
.intro_form {
	font-size: 16px;
	color: #fff;
}
.dcm_about p {
	color: #fff;
}
.blk_2 .two_inner .line_blk .listing_line .list_div ul li.list_item.js-toggle {
	display: none;
}
.mob_a_list{
	float:left;
	width: 100%;
	display:inline-block;
	text-align: center;
}
.mob_a_list a{
	display:inline-block;
	font-size: 10px;
	color: #fff;
	font-weight: 900;
	background: #7f868b;
	padding: 3px 16px;
	position: relative;
}

.banner .inner_bnr_blk .bnr_con h1 label:first-of-type {
	padding: 0 0 0 60px;
}

@media screen and (max-width:1200px) {
	.banner .inner_bnr_blk .bnr_con h1 {
		font-size: 32px;
	}
	.blk_1 .one_inner {
		padding: 0;
	}
	.blk_1 .one_inner .nos_blk .nos_inner h3 {
		font-size: 18px;
	}
	.blk_2 .two_inner {
		padding: 0 15px;
	}
	.blk_6 .six_inner .deve_ul li .deve_inner {
		padding: 16px 20px 20px;
	}
}
@media screen and (max-width:1023px) {
	.a_btm {
		display: none;
	}
	.banner .inner_bnr_blk {
		padding: 0;
	}
	.banner .inner_bnr_blk .bnr_con h1 span {
		display: inline;
	}
	.banner .inner_bnr_blk .bnr_con h1 {
		background-size: 35px auto;
		font-size: 25px;
		padding: 25px 0 0 33px;
		width: 100%;
		float: none;
		display: inline-block;
		margin: 37px 0 15px;
	}
	.banner .inner_bnr_blk .bnr_con h1 .qut_div {
		background-size:100% auto;
		height: 38px;
		margin: -17px 3px 0 0;
		width: 35px;
	}
	.banner .inner_bnr_blk .goto_div .a_msg {
		right: 0;
	}
	.popup{
		width: 100%;
	}
	.popup iframe{
		width: 100%;
		height: 300px;
	}
	.blk_1 .one_inner .nos_blk .nos_inner h3 {
		font-size: 16px;
	}
	.nos_inner_title_item:first-of-type {
		font-size: 24px;
	}
	.nos_inner_title_item:last-of-type {
		font-size: 20px;
	}
	.blk_5 .five_inner {
		padding: 0;
	}
	.blk_5 .five_inner .price_list .price_tab ul li {
		padding: 0 0 0 22px;
	}
	.blk_6 .six_inner .deve_ul li .deve_inner a {
		font-size: 12px;
	}
	.blk_6 .six_inner .deve_ul li .deve_inner h3 {
		font-size: 14px;
	}
}
@media screen and (max-width:767px) {
	.header .hdr ul li.a_lk a{
		display:none;
	}
	.header .hdr ul li {
		float: right;
		margin-left: 0;
	}
	.header .hdr {
		float: right;
		margin: 11px 0 0;
	}
	.banner .inner_bnr_blk .logo_inner {
		display: none;
	}
	.banner .inner_bnr_blk .bnr_con h1 label {
		padding: 0 !important;
		display: inline;
		float: none;
	}
	.banner .inner_bnr_blk .bnr_con h1 .qut_div {
		margin: 0 3px 0 0;
	}
	.banner .inner_bnr_blk .bnr_con h1 {
		margin: 25px 0 15px;
	}
	/*.banner .inner_bnr_blk .bnr_con h1 {
		width: 270px;
	}*/
	.banner .inner_bnr_blk .bnr_con {
		text-align: center;
	}
	.banner .inner_bnr_blk .goto_div .a_msg {
		display: none;
	}
	.banner .inner_bnr_blk .a_btm span {
		color: #7f868b;
		display: inline-block;
		font-size: 14px;
		font-weight: 300;
		margin: 12px 0 0;
		width: 100%;
	}
	.banner .inner_bnr_blk .goto_div .a_mob_lk{
		display:inline-block;
		background: #eb4535 none repeat scroll 0 0;
		border-radius: 0;
		color: #fff;
		font-size: 15px;
		font-weight: 900;
		padding: 10px 12px;
		width: 100%;
		margin: 0;
	}
	.banner .inner_bnr_blk .goto_div {
		margin: 0 0 30px 0;
	}
	.blk_1 .one_inner .nos_blk {
		margin: 0 0 20px;
	}
	.blk_1 {
		padding-bottom: 16px;
	}
	.blk_1 .one_inner h2 {
		font-size: 22px;
		margin: 34px 0;
		font-weight: 900;
	}
	.nos_inner_title {
		width: auto;
	}
	.blk_1 .one_inner .nos_blk .nos_inner h3 img.nos_inner_img {
		margin: 10px 12px 0 0;
		width: 30px;
	}
	.blk_2 .two_inner h2 {
		font-size: 22px;
		font-weight: 900;
	}
	.blk_2 .two_inner .line_blk .line_a_blk a {
		font-size: 10px;
	}
	.banner .inner_bnr_blk .bnr_video .video_inner .a_pop {
		background-size: 30px auto;
	}
	.blk_1 .one_inner .nos_blk .nos_inner h3 {
		padding: 25px 19px 19px;
	}
	.blk_1 .one_inner .nos_blk .nos_inner .nos_con {
		padding: 18px;
	}
	.blk_1 .one_inner .nos_blk .nos_inner .nos_con ul li {
		background: rgba(0, 0, 0, 0) url("../images/arrow.png") no-repeat scroll 2px 3px;
		padding: 0 0 0 30px;
		margin: 0 0 36px;
		background-size: 12px;
	}
	.blk_2 .two_inner .line_blk .list_last {
		padding: 0 30px;
	}
	.blk_2 .two_inner .line_blk .listing_line .list_div {
		position: relative;
	}
	.blk_2 .two_inner .line_blk .listing_line .list_div {
		padding-top: 10px;
	}
	.blk_2 .two_inner .line_blk .list_last a {
		width: 100%;
	}
	.blk_2 {
		padding-bottom: 30px;
	}
	.blk_3 label{
		display:none;
	}
	.blk_3 {
		padding: 15px 10px 15px;
	}
	.blk_4 {
		padding: 0 0 10px 0;
	}
	.blk_4 .four_inner h2 {
		font-size: 22px;
		font-weight: 900;
		margin: 20px 0;
	}
	.blk_4 .four_inner {
		padding: 0;
	}
	.desk_blk_5{
		display:none;
	}
	.blk_6 .six_inner h2 {
		font-size: 22px;
		font-weight: 900;
		margin: 20px 0;
	}
	.blk_6 .six_inner .deve_ul li.deve_li {
		margin-bottom: 14px;
	}
	.blk_6 {
		padding-bottom: 20px;
	}
	.footer {
		height: auto;
		padding: 15px 10px;
	}
	.blk_5.mob_blk_5{
		display:block;
	}
	.blk_5 .five_inner .price_list .price_tab {
		margin-top: 0;
		width: 100%;
	}
	.blk_5 .five_inner .price_list .price_tab.gld_price_tab {
		margin-top: 0;
	}
	.blk_5.mob_blk_5 .five_inner .price_list .price_btn_div {
		float: left;
		box-shadow: none;
		border: none;
		height: auto;
		padding: 5px;
		position: static;
		width: 100%;
	}
	.blk_5.mob_blk_5 .five_inner .price_list .price_btn_div a {
		width: 100%;
		padding: 10px 20px;
	}
	.blk_5.mob_blk_5 .five_inner .price_list .price_tab .prc_last {
		margin: 0 0 10px;
	}
	.blk_5.mob_blk_5 .five_inner {
		padding: 0 0 0 15px;
	}
	.blk_5.mob_blk_5 .five_inner .price_list .price_tab{
		border-right: 1px solid #cacaca;
	}
	.blk_5.mob_blk_5 .five_inner .price_list .owl-dots {
		float: left;
		margin:30px 0 0;
		text-align: center;
		width: 100%;
	}
	.blk_5.mob_blk_5 .five_inner .price_list .owl-dots .owl-dot span {
		position: relative;
		background: #707070;
		border: 1px solid #707070;
		border-radius: 0;
		height: 5px;
		margin: 0;
		opacity: 1;
		width: 40px;
	}
	.blk_5.mob_blk_5 .five_inner .price_list .owl-dots .owl-dot span:after {
		content: "";
		display: block;
		position: absolute;
		width: 0;
		height: 0;
		top: 50%;
		margin-top: -6px;
	}
	.blk_5.mob_blk_5 .five_inner .price_list .owl-dots .owl-dot:first-of-type span:after {
		left: -9px;
		border-right: 8px solid #707070;
		border-top: 6px solid transparent;
		border-bottom: 6px solid transparent;
	}
	.blk_5.mob_blk_5 .five_inner .price_list .owl-dots .owl-dot:last-of-type span:after {
		right: -9px;
		border-left: 8px solid #707070;
		border-top: 6px solid transparent;
		border-bottom: 6px solid transparent;
	}
	.blk_5.mob_blk_5 .five_inner .price_list .owl-dots .owl-dot{
		margin:0 7px;
	}
	.blk_5.mob_blk_5 .five_inner .price_list .owl-dots .owl-dot.active span{
		background: #707070;
		opacity: 0.5;
	}
	.blk_5.mob_blk_5 .five_inner .price_list {
		padding-bottom: 40px;
		margin-bottom: 40px;
	}
	.blk_5.mob_blk_5 .five_inner h2 {
		font-size: 22px;
		font-weight: 900;
		margin: 30px 0;
	}
	.blk_5.mob_blk_5 .price_tab_full {
		width: 100%;
		border: 1px solid #cacaca;
		float: left;
		margin-bottom: 24px;
		padding: 20px 30px;
	}

}

/*                        */
/*    Custom IPM style    */
/*                        */



/*    inner_bnr_blk    */

.bnr_info {
	font-size: 20px;
	color: #232323;
	margin: 24px 0 12px 0;
}
.bnr_info span {
	display: block;
}


/*    Step    */

.nbr_step {
	border-radius: 50%;
	border: 3px solid #fff;
	padding: 12px;
	display: block;
	font-size: 28px;
	width: 60px;
	line-height: 1.2;
	height: 60px;
	vertical-align: top;
	margin: auto;
	margin-top: 35px;
}
.four_inner .nbr_step {
	border-radius: 50%;
	border: 2px solid #fff;
	padding: 10px;
	display: inline-block;
	font-size: 20px;
	width: 40px;
	line-height: 0.9;
	height: 40px;
	margin: 0 15px 15px 0;
	color: #fff;
}
.thumb_step {
	margin-bottom: 15px;
}

.title_step {
	font-weight: normal;
	font-size: 20px;
	line-height: normal;
	margin-top: 20px;
	margin-bottom: 12px;
	color: #fff;
}
.four_inner .title_step {
	margin-top: 0;
	font-size: 18px;
	line-height: 24px;
}
.button_step {
	display: inline-block;
	text-align: center;
	color: #ffc524;
	font-size: 18px;
	border-radius: 3px;
	padding: 3px 12px 3px 20px;
	background: url("../images/arrow-yellow.png") 0 7px no-repeat;
	background-size: 10px;
	font-weight: bold;
}
.button_step:hover,
.button_step:focus {
	color: #fff;
	background: url("../images/arrow.png") 0 7px no-repeat;
	background-size: 10px;
}

/*    Video    */

.video_inner {
	border: 1px solid #fff;
	box-shadow: 0 0px 15px rgba(0,0,0,0.35);
}
.video_inner:after {
	content: "";
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
	top: 0;
	left: 0;
	-webkit-transition:all .4s ease;
	transition:all .4s ease;
}
.video_inner:hover:after {
	background-color: rgba(0, 0, 0, 0.15);
}

.banner .inner_bnr_blk .bnr_video .video_inner .a_pop {
	z-index: 1;
}

video {
	height: auto;
	width: 100%;
}

/*    list_div    */
.blk_2 .two_inner .line_blk .listing_line .list_div .list_container {
	position: relative;
	padding-top: 15px;
	padding-bottom: 15px;
}
.blk_2 .two_inner .line_blk .listing_line .list_div .list_container:after {
	content: '';
	border-right: 1px dashed #fff;
	width: 50%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 0;
}
.blk_2 .two_inner .line_blk .listing_line .list_div ul li.list_item {
	padding-bottom: 12px;
	background: none;
	z-index: 55;
}
.blk_2 .two_inner .line_blk .listing_line .list_div ul li.list_item {
}
.blk_2 .two_inner .line_blk .listing_line .list_div ul li.list_item:nth-child(even):after {
	clear: both;
}
.list_content {
	background: #ededed;
	padding: 19px 20px;
	border-radius: 3px;
	font-size: 13px;
	color: #282a2c;
	font-weight: 900;
}
.blk_2 .two_inner .line_blk .listing_line .list_div ul li.list_item:after {
	position: absolute;
	content: "";
	background: url("../images/arrowrgt.png") center center no-repeat;
	width: 12px;
	height: 15px;
	z-index: 1;
}
.blk_2 .two_inner .line_blk .listing_line .list_div ul li.list_item:before {
	position: absolute;
	content: "";
	background: url("../images/dot.png") no-repeat center center;
	width: 12px;
	height: 12px;
	z-index: 1;
}
.ipm_partners {

}
.ipm_title {
	text-align: center;
	color: #fff;
	font-family: 'Futura Std';
	font-weight: 300;
	font-size: 36px;
	margin-bottom: 25px;
}
.ipm_thumbnail_title {
	border-top: 1px solid #fff;
	text-decoration: none;
	color: #fff;
	font-size: 16px;
	line-height: 1.42857143;
	font-family: 'Futura Std';
  font-weight: 300;
	margin: 0;
	padding: 10px;
	text-align: left;
}
.ipm_thumbnail {
	display: block;
	margin-bottom: 15px;
	padding: 5px;
}
.ipm_thumbnail img {
	text-align: center;
	display: block;
	margin: auto;
}

/*    Only Desktop/Tablet    */

@media screen and (min-width:768px) {
	.blk_1_bg {
		background: url("../images/bg-cercle-desktop.jpg") repeat-x left top;
	}
	.blk_1_bg .container {
		position: relative;
	}
	.blk_1 .blk_1_bg .one_inner h2 {
		color: #fff;
	}
	.blk_1 .blk_1_bg .one_inner {
		position: absolute;
		top: 30px;
		left: 0;
		right: 0;
		margin: auto;
		z-index: 5;
	}
	.blk_2 .two_inner .line_blk .listing_line {
		padding: 0 30px;
		margin: 25px 0;
	}
	.blk_2 .two_inner .line_blk .listing_line .list_div ul li.list_item {
		width: 50%;
		padding-bottom: 17px;
		background: none;
		position: relative;
	}
	.blk_2 .two_inner .line_blk .listing_line .list_div ul li.list_item:after {
		top: 12px;
	}
	.blk_2 .two_inner .line_blk .listing_line .list_div ul li.list_item:nth-child(odd) {
		margin-bottom: 15px;
		float: left;
		padding: 0 2.75% 0 0;
	}
	.blk_2 .two_inner .line_blk .listing_line .list_div ul li.list_item:nth-child(even) {
		float: right;
		margin-top: 20px;
		padding: 0 0 0 2.75%;
	}
	.blk_2 .two_inner .line_blk .listing_line .list_div ul li.list_item:nth-child(odd):after {
		right: 3.35%;
	}
	.blk_2 .two_inner .line_blk .listing_line .list_div ul li.list_item:nth-child(even):after {
		left: 3.35%;
		transform: rotate(180deg);
		-webkit-transform:rotate(180deg);
	}
	.blk_2 .two_inner .line_blk .listing_line .list_div ul li.list_item:nth-child(odd):before {
		right: -1.25%;
		top: 12px;
	}
	.blk_2 .two_inner .line_blk .listing_line .list_div ul li.list_item:nth-child(even):before {
		left: -1.15%;
		top: 14px;
	}
	.list_content {
		min-height: 95px;
	}
	.ipm_thumbnail:hover,
	.ipm_thumbnail:focus,
	.ipm_thumbnail:active,
	.ipm_thumbnail.active {
		transform: scale(1.12);
		box-shadow: 0 0 18px rgba(0, 0, 0, 0.35);
	}
	.ipm_thumbnail:hover .ipm_thumbnail_title,
	.ipm_thumbnail:focus .ipm_thumbnail_title,
	.ipm_thumbnail:active .ipm_thumbnail_title {
		color: #fff;
	}

}

@media (min-width:768px) and (max-width:1024px) {
	.blk_2 .two_inner .line_blk .listing_line .list_div ul li.list_item:nth-child(odd):before {
		right: -6px;
	}
	.blk_2 .two_inner .line_blk .listing_line .list_div ul li.list_item:nth-child(even):before {
		left: -6px
	}
}
/*    Mobile    */

@media screen and (max-width:767px) {
	h1 {
		font-size: 24px;
	}
	h1 span {
		display: block;
		font-size: 0.8em;
		font-weight: 300;
	}
	h1,h2 {
		padding-left: 15px;
		padding-right: 15px;
	}
	.btn {
	    font-size: 16px;
	    padding: 10px;
	    white-space: normal;
			width: 100%;
	}
	.item_step:not(:last-of-type) {
		margin-bottom: 15px;
	}
	.item_step:first-of-type {
		margin-top: 15px;
	}
	.nbr_step {
		border: 1px solid #fff;
		padding: 10px;
		display: inline-block;
		font-size: 20px;
		width: 40px;
		line-height: 0.9;
		height: 40px;
		margin: 0 15px 0 0;
		float: left;
	}
	.title_step {
		text-align: left;
		float: left;
		width: 80%;
		margin-top: 0;
		font-size: 16px;
	}
	.thumb_step {
		display: none;
	}
	.button_step {
		text-align: left;
		float: left;
	}
	.blk_3 .blk_3_btn {
		display: block;
	}
	.blk_3 .blk_3_btn:not(:last-of-type) {
		margin-bottom: 15px;
	}
	.blk_2 .two_inner .line_blk .listing_line .list_div ul li.list_item {
		width: 100%;
		margin-top: 15px;
	}
	.blk_2 .two_inner .line_blk .listing_line .list_div ul li.list_item:after {
		top: 8px;
		left: 50%;
		transform: rotate(-90deg) translate(0px, -38%);
		-webkit-transform:rotate(-90deg) translate(0px, -38%);
	}
	.blk_2 .two_inner .line_blk .listing_line .list_div ul li.list_item:before {
		position: absolute;
		left: 50%;
		top: -10px;
		transform: translate(-50%,0);
		-webkit-transform: translate(-50%,0);
	}
	.blk_5 .five_inner .price_list .price_btn_div a.price_tag_btn {
	    background: transparent;
	    color: #6bbf57;
			text-decoration: underline;
			font-size: 16px;
	}
	.ipm_thumbnail img {
		width: 70%;
	}
	.ipm_title {
		font-size: 22px;
		font-weight: 900;
	}

}
.bnr_info, .blk_7 .seven_inner p {
	font-size: 16px;
	text-align: center;
}

.has-error, div.has-error {
	color: #eb4535;
	font-weight: 400;
}

div.has-error {
	padding-top: 5px;
}
.social img {
	max-width: 80%;
}
.footer .social ul li {
    margin-left: 12px;
}

.light-blue {background-color: #298ecd;}
