{% extends ':EmailTemplates:email_layout.html.twig' %}

{% block body %}
    <tr>
        <td width="20" height="20"></td>
        <td width="560" height="20">
            <p style="font-size: 14px; color:#2d2d2e;">{{ 'hello'|trans }}<span style="color: #0c1224; font-weight: 600;"> {{ admin.name }},</span></p>
            <p style="font-size: 14px; color:#2d2d2e;">
                {{ 'article.your_name'|trans }} {{ article.getArticleTitle }} {{ 'article.msg.unpublished_by'|trans }}<br>
            </p>
            <p style="font-size: 14px; color:#2d2d2e;">
                {{ 'article.msg.to_view_article'|trans }} <a href="{{ url('article_list') }}">{{ 'click'|trans }}</a> {{ 'article.msg.to_view_article_last'|trans }}
            </p>
        </td>
        <td width="20" height="20"></td>
    </tr>
{% endblock %}