{% extends ':EmailTemplates:email_layout.html.twig' %}

{% block body %}
    <tr>
        <td width="20" height="20"></td>
        <td width="560" height="20">
            <p style="font-size: 14px; color:#2d2d2e;">{{ 'hello'|trans }} {{ contentWriter.name }},</p>
            <p style="font-size: 14px; color:#2d2d2e;">
                {{ 'article.name'|trans }} {{ article.getArticleTitle }}{{ 'article.msg.approved'|trans }}{{ article.company.name }}<br>
                {{ 'article.msg.publish'|trans }}
            </p>
            <p style="font-size: 14px; color:#2d2d2e;">
                <a href="{{ url('un_published_articles') }}" target="_blank" class="btn btn-danger block-center">
                    {{ 'click'|trans }}
                </a> {{ 'link.article.btn_name'|trans }}
            </p>
        </td>
        <td width="20" height="20"></td>
    </tr>
{% endblock %}