{% extends ':EmailTemplates:email_layout.html.twig' %}

{% block body %}
    <tr>
        <td width="20" height="20"></td>
        <td width="560" height="20">
            <p style="font-size: 14px; color:#2d2d2e;">{{ 'hello'|trans }}<span style="color: #0c1224; font-weight: 600;"> {{ user.name }},</span></p>
            <p>
                {{ 'payment.complete'|trans }}
            </p>
        </td>
        <td width="20" height="20"></td>
    </tr>
{% endblock %}