{% extends ':EmailTemplates:email_layout.html.twig' %}

{% block body %}
    <tr>
        <td width="20" height="20"></td>
        <td width="560" height="20">
            <p>{{ 'hello'|trans }} {{ article.contentWriter.name }},</p>
            <p style="font-size: 14px; color:#2d2d2e;">
                {{ 'label.customer'|trans }} {{ article.company.name}}  {{ 'thanks.contact_msg'|trans }} {{article.articleTitle }}.
            </p>
            <p style="font-size: 14px; color:#2d2d2e;">
                {{ 'article.msg.to_view_article'|trans }} <a href="{{ url('un_published_articles') }}">{{ 'click'|trans }}</a> {{ 'article.msg.to_view_article_last'|trans }}
            </p>
        </td>
        <td width="20" height="20"></td>
    </tr>
{% endblock %}