<!DOCTYPE html>
<html>
<head>
    <style>
        p {
            font-size: 14px;
            color:#2d2d2e;
        }
    </style>
</head>

<body>
    <div style="margin: 20px auto; max-width: 600px; font-family: Verdana; color:#2d2d2e;">
        <table cellpadding="0" cellspacing="0" border="0" style="border: 1px solid #ececec; color:#2d2d2e;" width="600">
            <tr>
                <td width="20" height="10" style="background-color: #0c1224;"></td>
                <td width="560" height="10" style="background-color: #0c1224;"></td>
                <td width="20" height="10" style="background-color: #0c1224;"></td>
            </tr>
            <tr>
                <td width="20" style="background-color: #0c1224;"></td>
                <td width="560" style="background-color: #0c1224;">
                    <img title="La Libre Network" alt="logo" src="{{ absolute_url(asset('assets/images/logo.png')) }}" width="200">
                </td>
                <td width="20" style="background-color: #0c1224;"></td>
            </tr>
            <tr>
                <td width="20" height="10" style="background-color: #0c1224;"></td>
                <td width="560" height="10" style="background-color: #0c1224;"></td>
                <td width="20" height="10" style="background-color: #0c1224;"></td>
            </tr>
            <tr>
                <td width="20" height="20"></td>
                <td width="560" height="20"></td>
                <td width="20" height="20"></td>
            </tr>
        {% block body %}
        {% endblock %}
            <tr>
                <td width="20" height="20"></td>
                <td width="560" height="20"></td>
                <td width="20" height="20"></td>
            </tr>
            <tr>
                <td width="20" height="20"></td>
                <td width="560" height="20">
                    <p style="font-size: 14px; color:#2d2d2e;">
                        {{ 'email_thanks'|trans }}, <br />
                        La Libre Network
                    </p>
                </td>
                <td width="20" height="20"></td>
            </tr>
            <tr>
                <td width="20" height="20"></td>
                <td width="560" height="20"></td>
                <td width="20" height="20"></td>
            </tr>
            <tr>
                <td width="20" height="10" style="background-color: #0c1224;"></td>
                <td width="560" height="10" style="background-color: #0c1224;"></td>
                <td width="20" height="10" style="background-color: #0c1224;"></td>
            </tr>
            <tr>
                <td width="20" height="10" style="background-color: #0c1224;"></td>
                <td width="560" height="10" style="background-color: #0c1224;"></td>
                <td width="20" height="10" style="background-color: #0c1224;"></td>
            </tr>
        </table>
    </div>
</body>
</html>
