{% extends ':EmailTemplates:email_layout.html.twig' %}

{% block body %}
    <tr>
        <td width="20" height="20"></td>
        <td width="560" height="20">
            <p style="font-size: 14px; color:#2d2d2e;">{{ 'hello'|trans }} {{ user.name }},</p>
            <p style="font-size: 14px; color:#2d2d2e;">
                {{ 'user.new_user.content_representative'|trans({'%role%': user.roles.0, '%company%' : user.company.name }) }}
            </p>
            <p style="font-size: 14px; color:#2d2d2e;">
                <strong>{{ 'label.url'|trans }}:</strong> <a href="{{ url('fos_user_security_login') }}">{{ url('fos_user_security_login') }}</a>
            </p>
            <p style="font-size: 14px; color:#2d2d2e;">
                <strong>{{ 'label.email'|trans }}:</strong> {{ user.email }}
            </p>
            <p style="font-size: 14px; color:#2d2d2e;">
                <strong>{{ 'label.password'|trans }}:</strong> {{ password }}
            </p>
        </td>
        <td width="20" height="20"></td>
    </tr>
{% endblock %}