{% extends ':EmailTemplates:email_layout.html.twig' %}

{% block body %}
    <tr>
        <td width="20" height="20"></td>
        <td width="560" height="20">
            {% if boost is defined %}
                <p>{{ 'hello'|trans }} {{ article.company.name }},</p>
                <p>
                    {{ 'label.customer'|trans }} {{ article.company.name }} {{ 'subject.boost_mail'|trans }} {{ article.articleTitle }}.<br>
                </p>
                <p>
                    <a href="{{ url('articles_requested_for_boost') }}">{{ 'click'|trans }}</a> {{ 'boost.request.btn.text'|trans }}
                </p>
            {% endif %}
            {% if print is defined %}
                <p>{{ 'hello'|trans }} {{ article.devOp.name }},</p>
               <p>
                   {{ 'label.customer'|trans }} {{ article.company.name }} {{ 'print.msg.mail'|trans }} {{ article.articleTitle }}.<br>
                   </p>
                <p>
                    <a href="{{ url('articles_requested_for_print') }}"> {{ 'click'|trans }}</a> {{ 'boost.request.btn.text'|trans }}
               </p>
            {% endif %}
            {% if unpublish is defined %}
                <p>{{ 'hello'|trans }} {{ article.devOp.name }},</p>
                <p>
                    {{ 'label.customer'|trans }} {{ article.company.name }} {{ 'subject.unpublish_mail'|trans }} {{ article.articleTitle }}.<br>
                </p>
                <p>
                    <a href="{{ url('articles_requested_for_unpublishing') }}">{{ 'click'|trans }}</a>  {{ 'boost.request.btn.text'|trans }}
                </p>
            {% endif %}
            </p>
        </td>
        <td width="20" height="20"></td>
    </tr>
{% endblock %}