{% extends 'AdminBundle::layout.html.twig' %}

{% block body %}
    <div class="right-panel">
        <div class="main-box mb-30">
            <div class="title-block">
                <h1>{{ 'backend.left_panel.heading.work_queue'|trans }}</h1>
            </div>
            <div class="main-content pd-20">
                {{ include('AdminBundle:Article:tabs.html.twig') }}
                <h3>{{ 'page.heading.backoffice.articles_requested_for_boost'|trans }}</h3>
                <div class="clearfix">&nbsp;</div>
                {% include 'AdminBundle::flash_messages.html.twig' %}
                <div class="table-responsive custom-table">
                    <table class="table table-bordered table-striped">
                        <tr class="table-headings">
                            <th class="text-center">{{ 'page.heading.backoffice.articles_requested_for_boost.customer'|trans }}</th>
                            <th class="text-center">{{ 'page.heading.backoffice.articles_requested_for_boost.article_status'|trans }}</th>
                            <th class="text-center">{{ 'page.heading.backoffice.articles_requested_for_boost.subscription_end_date'|trans }}</th>
                            <th class="text-center">{{ 'page.heading.backoffice.articles_requested_for_boost.content_writer'|trans }}</th>
                            <th class="text-center">{{ 'page.heading.backoffice.articles_requested_for_boost.boost_start_date'|trans }}</th>
                            <th class="text-center listing-action-btns">{{ 'listings.heading.action'|trans }}</th>
                        </tr>
                        {% if articles %}
                        {% for article in articles %}
                            <tr>
                                <td class="text-center">
                                    <span class="responsive-label">{{ 'page.heading.backoffice.articles_requested_for_boost.customer'|trans }}</span>
                                    <span class="responsive-data">
                                        {{ article.company.name }} <br />
                                        ({{ article.company.admin.name }} - {{ article.company.admin.jobtitle }})
                                    </span>
                                </td>
                                <td class="text-center">
                                    <span class="responsive-label">{{ 'page.heading.backoffice.articles_requested_for_boost.article_status'|trans }}</span>
                                    <span class="responsive-data">{{ ('page.listing.backoffice.unpublished_articles.article_status.' ~ article.status)|trans }}</span>
                                </td>
                                <td class="text-center">
                                    <span class="responsive-label">{{ 'page.heading.backoffice.articles_requested_for_boost.subscription_end_date'|trans }}</span>
                                    <span class="responsive-data">{{ article.company.subscriptionenddate|date('Y-m-d') }}</span>
                                </td>
                                <td class="text-center">
                                    <span class="responsive-label">{{ 'page.heading.backoffice.articles_requested_for_boost.content_writer'|trans }}</span>
                                    <span class="responsive-data">{{ article.contentwriter.name }}</span>
                                </td>
                                <td class="text-center">
                                    <span class="responsive-label">{{ 'page.heading.backoffice.articles_requested_for_boost.boost_start_date'|trans }}</span>
                                    <span class="responsive-data">{{ article.boostStartDate|date('d-m-Y') }}</span>
                                </td>
                                <td class="text-center">
                                    {% if app.user.hasAccess('AD_OPS') and article.booststatus == constant('EntityBundle\\Entity\\Article::BOOST_REQUEST_SENT') %}
                                        <a href="{{ path('boost_article', {'id': article.id}) }}" class="btn light-green btn-icon" title="{{ 'page.listing.backoffice.articles_requested_for_boost.button.boost_now'|trans }}">
                                            <i class="fa fa-check"></i>
                                        </a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="5" class="text-center">{{ 'list.no_records_found'|trans }}</td>
                            </tr>
                        {% endfor %}
                        {% else %}
                            <tr>
                                <td class="text-center" colspan="5">{{ 'norecord_found'|trans }}</td>
                            </tr>
                        {% endif %}
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}