{% extends 'AdminBundle::layout.html.twig' %}

{% block body %}
    <div class="right-panel">
        <div class="main-box mb-30">
            <div class="title-block">
                <h1>{{ 'backend.left_panel.heading.work_queue'|trans }}</h1>
            </div>
            <div class="main-content pd-20">
                {{ include('AdminBundle:Article:tabs.html.twig') }}
                <h3>{{ 'backend.left_panel.heading.article_request_for_customer_approval.heading'|trans }}</h3>
                <div class="clearfix">&nbsp;</div>
                {% include 'AdminBundle::flash_messages.html.twig' %}
                <div class="table-responsive custom-table">
                    <table class="table table-bordered table-striped">
                        <tr class="table-headings">
                            <th class="text-center">{{ 'page.heading.backoffice.articles_requested_for_unpublishing.customer'|trans }}</th>
                            <th class="text-center">{{ 'page.heading.backoffice.articles_requested_for_unpublishing.article_status'|trans }}</th>
                            <th class="text-center">{{ 'page.heading.backoffice.articles_requested_for_unpublishing.subscription_end_date'|trans }}</th>
                            <th class="text-center">{{ 'page.heading.backoffice.articles_requested_for_unpublishing.content_writer'|trans }}</th>
                            <th class="text-center listing-action-btns">{{ 'listings.heading.action'|trans }}</th>
                        </tr>
                        {% for article in articles %}
                            <tr>
                                <td class="text-center">
                                    <span class="responsive-label">{{ 'page.heading.backoffice.articles_requested_for_unpublishing.customer'|trans }}</span>
                                    <span class="responsive-data">
                                        {{ article.company.name }} <br />
                                        ({{ article.company.admin.name }} - {{ article.company.admin.jobtitle }})
                                    </span>
                                </td>
                                <td class="text-center">
                                    <span class="responsive-label">{{ 'page.heading.backoffice.articles_requested_for_unpublishing.article_status'|trans }}</span>
                                    <span class="responsive-data">{{ ('page.listing.backoffice.unpublished_articles.article_status.' ~ article.status)|trans }}</span>
                                </td>
                                <td class="text-center">
                                    <span class="responsive-label">{{ 'page.heading.backoffice.articles_requested_for_unpublishing.subscription_end_date'|trans }}</span>
                                    <span class="responsive-data">{{ article.company.subscriptionenddate|date('Y-m-d') }}</span>
                                </td>
                                <td class="text-center">
                                    <span class="responsive-label">{{ 'page.heading.backoffice.articles_requested_for_unpublishing.content_writer'|trans }}</span>
                                    <span class="responsive-data">{{ article.contentwriter.name }}</span>
                                </td>
                                <td class="text-center">
                                    {% if app.user.hasAccess('CONTENT_WRITER_AND_MANAGER') and
                                    (article.status == constant('EntityBundle\\Entity\\Article::ARTICLE_REQUESTED') or
                                    article.status == constant('EntityBundle\\Entity\\Article::ARTICLE_DRAFTED') or
                                    article.status == constant('EntityBundle\\Entity\\Article::CHANGE_REQUESTED') or
                                    article.status == constant('EntityBundle\\Entity\\Article::CHANGE_COMPLETED') or
                                    article.status == constant('EntityBundle\\Entity\\Article::APPROVED')
                                    )
                                    %}
                                        <a href="{{ path('write_article', {'id': article.id}) }}" class="btn light-blue btn-icon" title="{{ 'page.listing.backoffice.unpublished_articles.button.write_article'|trans }}">
                                            <i class="fa fa-pencil-square-o"></i>
                                        </a>
                                    {% endif %}
                                    <a href="{{ path('show_article', {'id': article.id}) }}" class="btn light-green btn-icon" title="{{ 'page.listing.backoffice.unpublished_articles.button.view_article'|trans }}">
                                        <i class="fa fa-eye"></i>
                                    </a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="5" class="text-center">{{ 'list.no_records_found'|trans }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}