{% extends 'AdminBundle::layout.html.twig' %}

{% block body %}
    <div class="right-panel">
        <div class="main-box mb-30">
            <div class="title-block">
                <h1>{{ 'page.heading.backoffice.published_articles'|trans }}</h1>
            </div>
            <div class="main-content pd-20">
                {% include 'AdminBundle::flash_messages.html.twig' %}
                <div class="table-responsive custom-table">
                    <table class="table table-bordered table-striped">
                        <tr class="table-headings">
                            <th class="text-center">{{ 'page.heading.backoffice.published_articles.customer'|trans }}</th>
                            <th class="text-center">{{ 'page.heading.backoffice.published_articles.published_date'|trans }}</th>
                            <th class="text-center">{{ 'page.heading.backoffice.published_articles.subscription_end_date'|trans }}</th>
                            <th class="text-center">{{ 'page.heading.backoffice.published_articles.content_writer'|trans }}</th>
                            <th class="text-center listing-action-btns">{{ 'listings.heading.action'|trans }}</th>
                        </tr>
                        {% for article in articles %}
                            <tr>
                                <td class="text-center">
                                    <span class="responsive-label">{{ 'page.heading.backoffice.published_articles.customer'|trans }}</span>
                                    <span class="responsive-data">
                                        {{ article.company.name }} <br />
                                        ({{ article.company.admin.name }} - {{ article.company.admin.jobtitle }})
                                    </span>
                                </td>
                                <td class="text-center">
                                    <span class="responsive-label">{{ 'page.heading.backoffice.published_articles.published_date'|trans }}</span>
                                    <span class="responsive-data">{{ article.publishedAt|date('Y-m-d') }}</span>
                                </td>
                                <td class="text-center">
                                    <span class="responsive-label">{{ 'page.heading.backoffice.published_articles.subscription_end_date'|trans }}</span>
                                    <span class="responsive-data">{{ article.company.subscriptionenddate|date('Y-m-d') }}</span>
                                </td>
                                <td class="text-center">
                                    <span class="responsive-label">{{ 'page.heading.backoffice.published_articles.content_writer'|trans }}</span>
                                    <span class="responsive-data">{{ article.contentwriter.name }}</span>
                                </td>
                                <td class="text-center">
                                    {% if article.externalcmslink != '' %}
                                        <a href="{{ article.externalcmslink }}" target="_blank" class="btn dark-grey btn-icon" title="{{ 'page.listing.backoffice.unpublished_articles.button.view_published_article'|trans }}">
                                            <i class="fa fa-eye"></i>
                                        </a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="5" class="text-center">{{ 'list.no_records_found'|trans }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}