<ul class="nav nav-tabs mb-30 custom-tabs">
    <li class="{{ app.request.attributes.get('_route') == 'un_published_articles' ? 'active': '' }}">
        <a href="{{ path('un_published_articles') }}">
            {{ 'backend.left_panel.heading.un_published_article'|trans }}
        </a>
    </li>

    <li class="{{ app.request.attributes.get('_route') == 'articles_requested_for_boost' ? 'active': '' }}">
        <a href="{{ path('articles_requested_for_boost') }}">
            {{ 'backend.left_panel.heading.article_request_for_boost'|trans }}
        </a>
    </li>

    <li class="{{ app.request.attributes.get('_route') == 'articles_requested_for_print' ? 'active': '' }}">
        <a href="{{ path('articles_requested_for_print') }}">
            {{ 'backend.left_panel.heading.article_request_for_print'|trans }}
        </a>
    </li>

    <li class="{{ app.request.attributes.get('_route') == 'articles_requested_for_unpublishing' ? 'active': '' }}">
        <a href="{{ path('articles_requested_for_unpublishing') }}">
            {{ 'backend.left_panel.heading.article_request_for_un_publishing'|trans }}
        </a>
    </li>

    <li class="{{ app.request.attributes.get('_route') == 'requested_customer_approval' ? 'active': '' }}">
        <a href="{{ path('requested_customer_approval') }}">
            {{ 'backend.left_panel.heading.article_request_for_customer_approval'|trans }}
        </a>
    </li>
</ul>