{% extends 'AdminBundle::layout.html.twig' %}

{% block body %}

<div class="right-panel">
    <div class="main-box mb-30">
        <div class="title-block">
            <h1>{{ 'article.detail'|trans }}</h1>
        </div>
        <div class="main-content pd-20">
            {% include 'AdminBundle::flash_messages.html.twig' %}
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 article-detail-view mb-20">
                        <span>{{ 'backend.view_article.article_title'|trans }}</span>
                        {{ article.articleTitle }}
                    </div>
                    <div class="col-lg-4 article-detail-view mb-20">
                        <span>{{ 'backend.view_article.article_link'|trans }}</span>
                        <a href="{{ article.externalCmsLink }}">{{ article.externalCmsLink }}</a>
                    </div>
                </div>
                <div class="row">
                    {% if article.enterpriseName %}
                    <div class="col-lg-4 article-detail-view mb-20">
                        <span>{{ 'label.enterpriseName'|trans }}</span>
                        {{ article.enterpriseName }}
                    </div>
                    {% endif %}
                    {% if article.turnover %}
                    <div class="col-lg-4 article-detail-view mb-20">
                        <span>{{ 'label.turnover'|trans }}</span>
                        {{ article.turnover }}
                    </div>
                    {% endif %}
                    {% if article.numberOfEmployees %}
                    <div class="col-lg-4 article-detail-view mb-20">
                        <span>{{ 'label.numberOfEmployees'|trans }}</span>
                        {{ article.numberOfEmployees }}
                    </div>
                    {% endif %}
                </div>

                <div class="row">
                    {% if article.company.name %}
                    <div class="col-lg-4 article-detail-view mb-20">
                        <span>{{ 'label.companyname'|trans }}</span>
                        {{ article.company.name }}
                    </div>
                    {% endif %}
                    {% if article.company.admin.name %}
                    <div class="col-lg-4 article-detail-view mb-20">
                        <span>{{ 'label.companyadmin'|trans }}</span>
                        {{ article.company.admin.name }}
                    </div>
                    {% endif %}
                    {% if article.shortDescription %}
                    <div class="col-lg-4 article-detail-view mb-20">
                        <span>{{ 'label.shortdescription'|trans }}</span>
                        {{ article.shortDescription }}
                    </div>
                    {% endif %}

                </div>

                <hr class="mb-30">

                {% if questions %}
                <hr>
                <div class="row">

                        {% for que, ans in questions %}
                            <div class="col-md-6 mb-30">
                                <p>
                                    <b>{{ 'label.que'|trans }} :</b> &nbsp;{{ que|trans }}
                                </p>
                                <p>
                                    <b>{{ 'label.ans'|trans }}  :</b> &nbsp;{{ ans }}
                                </p>
                            </div>
                            {% if loop.index % 2 == 0 %}</div><div class="row">{% endif %}
                        {% endfor %}

                </div>
                {% endif %}
                {% if contacts %}
                <hr>
                <div class="row">
                    <div class="col-lg-12">
                        <h3 class="mb-30">{{ 'label.article.contact'|trans }}</h3>

                            <ul class="simple-listing">
                                {% for contact in contacts %}
                                    <li>
                                        <i class="fa fa-chevron-right"></i>{{ contact.description }}, <span class="date">{{ contact.createdAt|date('d-m-y') }}</span>
                                    </li>
                                {% endfor %}
                            </ul>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

