{% extends 'AdminBundle::layout.html.twig' %}

{% block body %}
    <div class="right-panel">
        <div class="main-box mb-30">
            <div class="title-block">
                <h1>{{ 'page.heading.backoffice.write_article'|trans }}</h1>
            </div>
            <div class="main-content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2 mb-30 mt-30">
                            {% include 'AdminBundle::flash_messages.html.twig' %}
                            {{ form_start(form) }}
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group mb-30">
                                        {{ form_label(form.articleTitle) }}<span class="has-error">*</span>
                                        {{ form_widget(form.articleTitle, {'attr': {'class' : 'form-control'}}) }}
                                        {{ form_errors(form.articleTitle) }}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group mb-30">
                                        {{ form_label(form.externalCmsLink) }}<span class="has-error">*</span>
                                        {{ form_widget(form.externalCmsLink, {'attr': {'class' : 'form-control'}}) }}
                                        {{ form_errors(form.externalCmsLink) }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group mb-30">
                                        {{ form_label(form.shortDescription) }}<span class="has-error">*</span>
                                        {{ form_widget(form.shortDescription, {'attr': {'class' : 'form-control'}}) }}
                                        {{ form_errors(form.shortDescription) }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group mb-30">
                                        {{ form_label(form.articleThumbnail) }}<span class="has-error">*</span>
                                        {{ form_widget(form.articleThumbnail) }}
                                        {{ form_errors(form.articleThumbnail) }}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group mt-30">
                                        {% if article.articleThumbnail %}
                                            <img src="{{ asset(article.articleThumbnail) }}" width="80" class="img-thumbnail">
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 col-md-offset-4">
                                    {{ form_widget(form.submit, {'attr': {'class': 'btn light-green btn-lg btn-block mb-20'}}) }}
                                </div>
                            </div>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}