{% extends 'AdminBundle::layout.html.twig' %}

{% block body %}
    <div class="clearfix">&nbsp;</div>
    <div class="clearfix">&nbsp;</div>
    <div class="container">
        <div class="row">
            <h1>{{ 'homepage_heading'|trans }}</h1>
        </div>
    </div>
{% endblock %}
