<!DOCTYPE html>
<html>
    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>La Libre Network</title>

        <!-- Bootstrap core CSS -->
        <link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('assets/css/style.css') }}" rel="stylesheet">
        <link href="{{ asset('assets/css/3-col-portfolio.css') }}" rel="stylesheet">

        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    </head>
    <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('homepage') }}">{{ 'site_name'|trans }}</a>
            </div>
            <ul class="nav navbar-nav">
                {% if is_granted('ROLE_CUSTOMER') %}
                <li class="active"><a  href="#" class="dropdown-toggle" data-toggle="dropdown">{{ 'label.article.name'|trans }}</a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('article_add') }}">{{ "label.create.article"|trans }}</a></li>
                        <li><a href="{{ path('article_list') }}">{{ "label.article.name"|trans }}</a></li>
                        <li><a href="{{ path('view_article', {'id': 1}) }}">{{ "label.article.view"|trans }}</a></li>
                        <li><a href="{{ path('request_article_change', {'id': 1}) }}">{{ 'request.article.change'|trans }}</a></li>
                        <li><a href="{{ path('approve_article', {'id': 1}) }}">{{ 'article.approved'|trans }}</a></li>
                        <li><a href="{{ path('boost_status', {'id': 1}) }}">{{ 'boost.status'|trans }}</a></li>
                        <li><a href="{{ path('print_status', {'id': 1}) }}">{{ 'print.status'|trans }}</a></li>
                    </ul>
                </li>
                <li><a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ 'credit_log'|trans }}</a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('view_credit_log', {'id': 1}) }}">{{ 'page.heading.customer.view_credit_log'|trans }}</a></li>
                    </ul>
                </li>
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if app.user %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ app.user.username|capitalize }} <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('fos_user_security_logout') }}">{{ 'logout'|trans }}</a></li>
                        </ul>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <div class="container">
    {% block body %}{% endblock %}
    </div>
    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">{{ 'copy_rights'|trans }}</p>
        </div>
        <!-- /.container -->
    </footer>
    {% block javascripts %}
        <script src="{{ asset('assets/js/jquery-3.2.1.min.js') }}"></script>
        <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
    {% endblock %}
    </body>
</html>
