{% for msg in app.session.flashBag.get('success') %}
    <div class="row">
        <div class="col-sm-12">
            <div class="alert alert-success">
                <div class="media">
                    <div class="media-left"><i class="fa fa-info-circle"></i></div>
                    <div class="media-body">
                        <strong>{{ 'success'|trans }}!</strong> {{ msg }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}

{% for msg in app.session.flashBag.get('error') %}
    <div class="row">
        <div class="col-sm-12">
            <div class="alert alert-success">
                <div class="media">
                    <div class="media-left"><i class="fa fa-info-circle"></i></div>
                    <div class="media-body">
                        <strong>{{ 'warning'|trans }}!</strong> {{ msg }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}