<header id="header">
    <nav class="navbar navbar-fixed-top top-bar">
        <div class="container">
            <ul class="top-right-links">
                <li class="logout"><a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-circle-thin"></i></a></li>
            </ul>
            <div class="fix-left">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <img src="{{ asset('assets/images/responsive-btn.png') }}" alt="">
                    </button>
                    <a class="navbar-brand" href="{{ path('homepage') }}"><img src="{{ asset('assets/images/logo.png') }}" alt="logo" title="La Libre Network"></a>
                </div>
                <div class="profile-name">{{ app.user.name }}</div>
                <div id="navbar" class="collapse navbar-collapse left-panel-navigation">
                    <div class="scrollbar-inner no3">
                        <ul class="nav navbar-nav scroll-wrapper ">

                            {% if not app.user.hasAccess('ADMIN') %}
                                <li {% if
                                    app.request.attributes.get('_route') == 'un_published_articles'
                                    or app.request.attributes.get('_route') == 'articles_requested_for_unpublishing'
                                    or app.request.attributes.get('_route') == 'articles_requested_for_print'
                                    or app.request.attributes.get('_route') == 'articles_requested_for_boost'
                                    or app.request.attributes.get('_route') == 'requested_customer_approval'
                                    %}class="active" {% endif %}>
                                    <a href="{{ path('un_published_articles') }}"><i class="fa fa-list"></i> {{ 'backend.left_panel.heading.work_queue'|trans }}</a>
                                </li>

                                {% if app.user.hasAccess('ALL_USER_EXCEPT_LEAD_JOURNALIST') %}
                                    <li {% if  app.request.attributes.get('_route') == 'published_articles' %}class="active" {% endif %}><a href="{{ path('published_articles') }}"><i class="fa fa-file-text-o"></i> {{ 'backend.left_panel.heading.published_article'|trans }}</a></li>
                                    <li {% if  app.request.attributes.get('_route') == 'company_list' %}class="active" {% endif %}>
                                        <a href="{{ path('company_list') }}"><img src="{{ asset('assets/images/specialist-user.svg') }}"> {{ 'backend.left_panel.heading.company_list'|trans }}</a>
                                    </li>
                                    <li {% if  app.request.attributes.get('_route') == 'company_waiting_period_listing' %}class="active" {% endif %}><a href="{{ path('company_waiting_period_listing') }}"><i class="fa fa-credit-card"></i> {{ "label.company_listing"|trans }}</a></li>
                                {% endif %}
                            {% endif %}
                            {% if app.user.hasAccess('ADMIN') %}
                                <li {% if  app.request.attributes.get('_route') == 'user_list' %}class="active" {% endif %}><a href="{{ path('user_list') }}"><i class="fa fa-user"></i> {{ 'backend.left_panel.heading.users'|trans }}</a></li>
                            {% endif %}
                            <li {% if  app.request.attributes.get('_route') == 'admin_profile' %}class="active" {% endif %}>
                                <a href="{{ path('admin_profile') }}"><i class="fa fa-pencil-square-o"></i> {{ 'edit.profile'|trans }}</a>
                            </li>
                            <li {% if  app.request.attributes.get('_route') == 'front_change_password' %}class="active" {% endif %}>
                                <a href="{{ path('fos_user_change_password') }}"><i class="fa fa-key"></i> {{ 'password_change'|trans }}</a>
                            </li>
                        </ul>
                    </div>
                </div><!--/.nav-collapse -->
                <div class="copyright-section">
                    Droits de reproduction <br>et de diffusion réservés <br> &copy; IPM SA
                    <span>Version 0.1</span>
                </div>
            </div>
        </div>
    </nav>
</header>