{% if app.user and (app.user.hasAccess('ALL_USER') or app.user.hasAccess('ADMIN')) %}
    {% set template = 'AdminBundle::layout.html.twig' %}
{% else %}
    {% set template = 'FrontBundle::layout.html.twig' %}
{% endif %}

{% extends template %}
{% block body %}
    {% block fos_user_content %}
    {% endblock fos_user_content %}
{% endblock %}

