{% extends 'FrontBundle::layout.html.twig' %}

{% block body %}

    <div class="right-panel">
        <div class="main-box mb-30">
            <div class="title-block">
                <h1>{{ 'my.profile'|trans }}</h1>
            </div>
            <div class="main-content">
                <div class="page-title">{{ 'hello'|trans }} <span>{{ app.user.name }} </span></div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 profile-form">
                            <div class="row form-group">
                                <label for="" class="col-md-5">{{ 'company.name'|trans }}</label>
                                <div class="col-md-7">
                                    {{ company.name }}
                                </div>
                            </div>
                            <div class="row form-group">
                                <label for="" class="col-md-5">{{ 'company.vat'|trans }}</label>
                                <div class="col-md-7">
                                    {{ company.vat }}
                                </div>
                            </div>
                            <div class="row form-group">
                                <label for="" class="col-md-5">{{ 'company.billing_address'|trans }}</label>
                                <div class="col-md-7">
                                    {{ company.addressLine1 }}, {{ company.addressLine2 }}
                                </div>
                            </div>
                            <div class="row form-group">
                                <label for="" class="col-md-5">{{ 'company.label.subscription'|trans }}</label>
                                <div class="col-md-7">
                                    <b>{{ 'company.label.from'|trans }}:</b>  {{ company.subscriptionStartDate|date('d/m/Y') }}
                                    <b>{{ 'company.label.to'|trans }}:</b> {{ company.subscriptionEndDate|date('d/m/Y') }}
                                </div>
                            </div>
                            <div class="row form-group">
                                <label for="" class="col-md-5">{{ 'company.package'|trans }}</label>
                                <div class="col-md-7 text-center">
                                    {% if company.currentSubscription.title == 'Silver'  %}
                                    <img src="{{ asset('assets/images/silver.png') }}" alt="" class="mt-30 mb-30 img-responsive">
                                    {% elseif company.currentSubscription.title == 'Gold'  %}
                                        <img src="{{ asset('assets/images/gold.png') }}" alt="" class="mt-30 mb-30 img-responsive">
                                    {% elseif company.currentSubscription.title == 'Platinium'  %}
                                        <img src="{{ asset('assets/images/platinium.png') }}" alt="" class="mt-30 mb-30 img-responsive">
                                    {% endif %}
                                </div>
                            </div>
                            {#<div class="row">
                                <div class="col-md-4 col-md-offset-4">
                                    <a href="{{ path('company_edit') }}" class="btn dark-blue btn-block btn-lg mb-30">{{ 'company.edit_profile.modification'|trans }}</a>
                                </div>
                            </div>#}

                            <h2 class="text-center mt-30 mb-30">{{ 'company.admin'|trans }}</h2>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="well well-sm balance">
                                        <strong>{{ 'company.edit_profile.user.name'|trans }}</strong> <br>
                                        <small>{{ admin.name }}</small>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="well well-sm balance">
                                        <strong>{{ 'company.edit_profile.user.email'|trans }}</strong> <br>
                                        <small>{{ admin.email }}</small>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="well well-sm balance">
                                        <strong>{{ 'company.edit_profile.user.job_title'|trans }}</strong> <br>
                                        <small>{{ admin.jobTitle }}</small>
                                    </div>
                                </div>
                                {% if (admin.id == app.user.id) %}
                                    <div class="col-md-4 col-md-offset-4">
                                        <a href="{{ path('user_profile') }}" class="btn dark-blue btn-block btn-lg mb-30">{{ 'company.edit_profile.modification'|trans }}</a>
                                    </div>
                                {% endif %}
                            </div>

                            {% if representatives %}
                                <h2 class="text-center mt-30 mb-30">{{ 'company.represntative'|trans }}</h2>
                                <div class="col-md-12">
                                    {% for representative in representatives %}
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="well well-sm balance">
                                                    <strong>{{ 'company.edit_profile.user.name'|trans }}</strong> <br>
                                                    <small>{{ representative.name }}</small>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="well well-sm balance">
                                                    <strong>{{ 'company.edit_profile.user.email'|trans }}</strong> <br>
                                                    <small>{{ representative.email }}</small>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="well well-sm balance">
                                                    <strong>{{ 'company.edit_profile.user.job_title'|trans }}</strong> <br>
                                                    <small>{{ representative.jobTitle }}</small>
                                                </div>
                                            </div>
                                            {% if (representative.id == app.user.id) %}
                                                <div class="col-md-4 col-md-offset-4">
                                                    <a href="{{ path('user_profile') }}" class="btn dark-blue btn-block btn-lg mb-30">{{ 'company.edit_profile.modification'|trans }}</a>
                                                </div>
                                            {% endif %}
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

