{% extends 'FrontBundle::layout.html.twig' %}

{% block body %}
    <div class="right-panel">
        <div class="main-box mb-30">
            <div class="title-block">
                <h1>{{ 'my.profile'|trans }}</h1>
            </div>
            <div class="main-content">
                <div class="steps-section">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-4 step-block">
                                <span class="step-number"><i class="fa fa-check"></i></span>
                                <span class="step-info">{{ 'fillmyservey'|trans }}</span>
                            </div>
                            <div class="col-sm-4 step-block has-border">
                                <span class="step-number">2</span>
                                <span class="step-info">{{ 'validation_article'|trans }}</span>
                            </div>
                            <div class="col-sm-4 step-block has-border">
                                <span class="step-number">3</span>
                                <span class="step-info">{{ 'statistics_myarticle'|trans }}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        {% for subscription in subscriptions %}
                            <div class="col-md-4 text-center">
                                <div class="package-blocks mb-30">
                                    <h2>{{ subscription.title }}</h2>
                                    <a class="btn dark-grey" href="{{ path('upgrade_subscription', {'id': subscription.id}) }}">Continue</a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="clearfix">&nbsp;</div>
            </div>
        </div>
    </div>
{% endblock body %}