<div class="right-panel">
    <div class="main-box mb-30">
        <div class="title-block">
            <h1>{{ 'password_change'|trans }}</h1>
        </div>
        <div class="main-content">
            {% if app.user.hasAccess('ALL_USER') or app.user.hasAccess('ADMIN') %}
                {% include 'AdminBundle::flash_messages.html.twig' %}
            {% endif %}
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 mb-30">
                        <div class="page-title">{{ 'password_change'|trans }}</div>
                        {{ form_start(form, { 'attr': {'class': 'login'}}) }}
                        <div class="row">
                            <div class="form-group mb-30">
                                {{ form_label(form.current_password) }}
                                {{ form_widget(form.current_password, {'attr': {'class': 'form-control'}}) }}
                                {{ form_errors(form.current_password) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group mb-30">
                                {{ form_label(form.plainPassword.first) }}
                                {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
                                {{ form_errors(form.plainPassword.first) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group mb-30">
                                {{ form_label(form.plainPassword.second) }}
                                {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
                                {{ form_errors(form.plainPassword.second) }}
                            </div>
                        </div>

                        <div class="row">
                            <div class="g-recaptcha" data-sitekey="{{ google_recaptcha.site_key }}"></div>
                            <script src='https://www.google.com/recaptcha/api.js' async defer></script>
                            {% if errors is defined and errors|length > 0 %}
                                <div class="has-error">
                                    {% for error in errors %}
                                        {{ error.message }}
                                        {%- if loop.last != true -%}
                                            ,
                                        {%- endif -%}
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>

                        <div class="row">
                            <div class="col-md-6 col-md-offset-3 mt-30">
                                <input type="submit" class="btn light-green btn-lg btn-block mb-20" value="{{ 'password_change'|trans }}" />
                            </div>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
