<div class="header">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 logo">
                <a href="{{ path('static_homepage') }}"><img src="{{ asset('assets/static/images/logo.png') }}" alt=""/></a>
            </div>
            <div class="col-sm-6 hdr">
                <ul>
                    <li class="a_lk"><a class="a_btm" href="#tarifs-conditions">Devenir membre</a></li>
                    <li class="a_lk2">
                        {% if app.user %}
                            {% if app.user.hasAccess('ADMIN') %}
                                <a href="{{ path('user_list') }}">{{ app.user.name }}</a>
                            {% elseif ('ROLE_CONTENT_WRITER' in app.user.roles or
                                'SALES_TEAM' in app.user.roles or
                                'AD_OPS' in app.user.roles or
                                'ROLE_LEAD_JOURNALIST' in app.user.roles or
                                'ROLE_MANAGER' in app.user.roles or
                                'ROLE_ACCOUNT_MANAGER' in app.user.roles)
                            %}
                                <a href="{{ path('un_published_articles') }}">{{ app.user.name }}</a>
                            {% elseif ('ROLE_CUSTOMER' in app.user.roles or
                                'ROLE_REPRESENTATIVE' in app.user.roles
                            ) %}
                                <a href="{{ path('article_list') }}">{{ app.user.name }}</a>
                            {% endif %}
                        {% else %}
                            <a href="{{ path('fos_user_security_login') }}">Je me connecte</a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
