<!DOCTYPE html>
<html lang="{{ locale }}">
<head>

    {% set title = 'La Libre Network' %}
    {% set description = 'La Libre Network vous aide à développer un contenu qui va vous garantir une meilleure visibilité sur le web.' %}

    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="{{ description }}">
    <meta name="author" content="">
    <link rel="icon" href="{{ asset('assets/images/favicon.ico') }}">

    <title>{{ title }}</title>

    <!-- Facebook Open Graph meta tag -->
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:type" content="website">
    <meta property="og:image" content="http://www.lalibrenetwork.be/images/logo-big.png">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:url" content="http://www.lalibrenetwork.be" />

    <!-- Twitter Open Graph meta tag -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@llnetwork">
    <meta name="twitter:creator" content="@llnetwork">
    <meta name="twitter:title" content="{{ title }}">
    <meta name="twitter:description" content="{{ description }}">
    <meta name="twitter:image" content="http://www.lalibrenetwork.be/images/logo-big.png">

    {% block stylesheets %}
        <link href="{{ asset('assets/static/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="{{ asset('assets/static/css/font.css') }}" rel="stylesheet">
        <link href="{{ asset('assets/static/css/form-style.css') }}" rel="stylesheet">
        <link href="{{ asset('assets/static/css/form-validator.css') }}" rel="stylesheet">
        <link href="{{ asset('assets/static/css/animate.css') }}" rel="stylesheet">
        <link href="{{ asset('assets/static/css/owl.carousel.css') }}" rel="stylesheet">
        <link href="{{ asset('assets/static/css/owl.theme.css') }}" rel="stylesheet">
        <link href="{{ asset('assets/static/css/jquery.fancybox.css') }}" rel="stylesheet">
        <link href="{{ asset('assets/static/css/style.css') }}" rel="stylesheet">
    {% endblock %}
    <!-- Hotjar Tracking Code for https://www.lalibrenetwork.be/ -->
    <script>
        (function(h,o,t,j,a,r){
            h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
            h._hjSettings={hjid:639778,hjsv:5};
            a=o.getElementsByTagName('head')[0];
            r=o.createElement('script');r.async=1;
            r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
            a.appendChild(r);
        })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
    </script>
</head>
<body>
<div class="loading-img hidden" id="loader_image"><img src="{{ asset('assets/images/loader-image.svg') }}"></div>

{% include 'StaticBundle::header.html.twig' %}

{% block body %}
{% endblock %}

<div class="blk_3">
    <label class="fleft">Plus d’info ?</label>
    <a class="blk_3_btn" href="{{ path('add_user_question') }}">Vous avez une question ?</a>
    <a class="blk_3_btn" href="{{ path('add_user_company') }}" >Spécialiste SEO/SEA ? Devenons partenaires !</a>
    <div class="more_info">
      Ou appelez-nous au <a href="tel:022112727">02 211 27 27</a>
    </div>
</div>

<div class="footer">
  <div class="container">
    <div class="row">
      <div class="hidden-xs hidden-sm col-md-2 dcm_logo">
        <a href="{{ path('static_homepage') }}"><img src="{{ asset('assets/static/images/ftr_logo.png') }}" alt=""/></a>
      </div>
      <div class="col-xs-12 col-md-8 dcm_about">
        <p>La Libre Network est une marque du groupe IPM. Fort d’une expérience incontestable dans le secteur des médias, avec des marques fortes telles que La Libre, la DH ou encore Paris Match, le groupe IPM est en constante évolution et totalement à l’écoute de ses clients. C’est dans ce contexte que de nouvelles solutions ont été développées pour accompagner leurs besoins en terme de présence digitale, et ainsi leur offrir une solution complète dépassant les propres médias d’IPM, utilisant au mieux les possibilités de Google ainsi que des réseaux sociaux.</p>
      </div>
      <div class="col-xs-12 col-sm-6 hidden-md hidden-lg dcm_logo">
        <a href="{{ path('static_homepage') }}"><img src="{{ asset('assets/static/images/ftr_logo.png') }}" alt=""/></a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-2 social mb-30">
        <ul>
          <li><a href="https://www.facebook.com/LaLibreNetwork"><img src="{{ asset('assets/static/images/fb.png') }}" alt="icon facebook"/></a></li>
          <li><a href="https://twitter.com/lalibrenetwork"><img src="{{ asset('assets/static/images/tw.png') }}" alt="icon twitter"/></a></li>
          <li><a href="https://www.linkedin.com/company/26996722/"><img src="{{ asset('assets/static/images/in.png') }}" alt="icon linkedin"/></a></li>
          <li><a href="https://www.youtube.com/channel/UCVJDwvAsMYfT4kJqbAbZdJw"><img src="{{ asset('assets/static/images/yt.png') }}" alt="icon youtube"/></a></li>
        </ul>

          <div class="footer-links">
              <h6>Links</h6>
              <ul>
                  <li><a rel="noopener" target="_blank" href="{{ path('cookie_policy') }}">Privacy Policy &amp; Terms</a></li>
                  <li><a rel="noopener" target="_blank" href="{{ path('privacy_policy') }}">Cookies Policy</a></li>
              </ul>
          </div>
      </div>
    </div>
  </div>
</div>
{% include 'FrontBundle::flash_messages.html.twig' %}
{% block javascript %}
    <!-- Bootstrap core JavaScript ================================================== -->
    <script src="{{ asset('assets/static/js/jquery.min.js') }}"></script>
    <script src="{{ asset('assets/static/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('assets/static/js/jquery.fancybox.js') }}"></script>
    <script src="{{ asset('assets/static/js/jquery.form-validator.js') }}"></script>
    <script src="{{ asset('assets/static/js/at-jquery.js') }}"></script>
    <script src="{{ asset('assets/static/js/date.js') }}"></script>
    <script src="{{ asset('assets/static/js/security.js') }}"></script>
    <script src="{{ asset('assets/static/js/bephone.js') }}"></script>
    <script src="{{ asset('assets/static/js/betva.js') }}"></script>
    <script src="{{ asset('assets/static/js/bottomfix.js') }}"></script>
    <script src="{{ asset('assets/static/js/fr.js') }}"></script>
    <script src="{{ asset('assets/static/js/owl.carousel.js') }}"></script>
    <script src="{{ asset('assets/static/js/viewportchecker.js') }}"></script>
    <script src="{{ asset('assets/static/js/image-src.js') }}"></script>

    <script>
        jQuery(document).ready(function($){
            $(".a_pop").fancybox({
                afterShow: function() {
                    // After the show-slide-animation has ended - play the vide in the current slide
                    //  var bloc = document.getElementById("bloc-video");
                    var vid = document.getElementById("myVideo");
                    vid.load();
                    vid.play();

                    // Attach the ended callback to trigger the fancybox.next() once the video has ended.
                    this.content.find('video').on('ended', function() {
                        $.fancybox.next();
                    });
                },
                width: 1024,
                height: 576,
                aspectRatio: true,
                autoSize : false,
                scrolling : 'no'
            });
            $('.blk_5 .five_inner .price_list').inViewport(
                    function(){$(this).addClass("fix");},
                    function(){$(this).removeClass("fix");}
            );
            $('.blk_6').inViewport(
                    function(){$(".blk_5 .five_inner .price_list").removeClass("fix");},
                    function(){$(".blk_5 .five_inner .price_list").removeClass("fix");}
            );
        });
    </script>


    <!--Start of Zendesk Chat Script-->
    <script type="text/javascript">
        window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
                d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
        _.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute("charset","utf-8");
            $.src="https://v2.zopim.com/?51kQoodfeI9jOc0elOF99S8bdAmCjEsz";z.t=+new Date;$.
                    type="text/javascript";e.parentNode.insertBefore($,e)})(document,"script");
    </script>
    <!--End of Zendesk Chat Script-->

    <script>
        $.validate({
            form : '#registration-form',
            modules : 'date, security, fr, bephone',
            reCaptchaSiteKey: '6LeLKzAUAAAAADeAIj6t6iFl7C2BaV-SVAMcZLup', // online key
            reCaptchaTheme: 'light',
            scrollToTopOnError : true // Set this property to true on longer forms
        });
    </script>

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-NNCVNBD');</script>
    <!-- End Google Tag Manager -->

    <script type="text/javascript">
        $(document).ready(function () {
            {% if app.session.flashBag is not empty %}
            $('#flashMessage').click();
            {% endif %}
        });
    </script>

    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NNCVNBD"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
{% endblock %}
</body>

</html>
