{% extends 'FrontBundle::layout.html.twig' %}

{% block body %}
<div class="right-panel">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="page-header">Home page</h1>

                <div class="row placeholders">
                    <div class="col-xs-6 col-sm-3 placeholder">
                        <h4>{{ 'homepage_heading'|trans }}</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
