{% extends 'StaticBundle::layout.html.twig' %}

{% block body %}

    <div class="blk_4">
        <div class="container">
            <div class="row">

                <div class="four_inner">
                    <h2>Devenir membre en 3 étapes simples :</h2>
                    <div class="six_inner clearfix">
                        <ul class="deve_ul">
                            <li class="col-xs-12 col-sm-4 deve_li item_step visible animated fadeInLeft">
                                <div class="deve_inner">
                                    <a href="{{ path('become_member') }}">
                                        <img class="thumb_step" src="{{ asset('assets/static/images/thumbnail-form.png') }}" alt="vu mobile et desktop du formulaire d’inscription"></a>
                                    <div class="clearfix">
                                        <span class="nbr_step">1</span>
                                        <p class="title_step">Vous remplissez le formulaire d’inscription </p>
                                        <a class="button_step a_btm" href="#become-member">Remplir le formulaire</a>
                                    </div>
                                </div>
                            </li>
                            <li class="col-xs-12 col-sm-4 deve_li item_step visible animated fadeInLeft">
                                <div class="deve_inner">
                                    <img class="thumb_step" src="{{ asset('assets/static/images/thumbnail-call.png') }}" alt="vu mobile et desktop d'une personne de contact">
                                    <div class="clearfix">
                                        <span class="nbr_step">2</span>
                                        <p class="title_step">Nous validons ensemble par téléphone l’offre correspondant le mieux à vos besoins</p>
                                    </div>
                                </div>
                            </li>
                            <li class="col-xs-12 col-sm-4 deve_li item_step visible animated fadeInLeft">
                                <div class="deve_inner">
                                    <img class="thumb_step" src="{{ asset('assets/static/images/thumbnail-dashboard.png') }}" alt="vu mobile et desktop de l'espace personnalisé créé">
                                    <div class="clearfix">
                                        <span class="nbr_step">3</span>
                                        <p class="title_step">Vous recevez les accès à votre espace personnalisé</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div id="become-member" class="blk_2 dcm_content">
        <div class="container">
            <div class="two_inner">

                <div class="deve_li fup visible animated fadeInUp">
                    <div class="dcm_form">

                        {{ form_start(form, {'attr': {'id': 'registration-form', 'class': 'form has-validation-callback'}}) }}
                            <fieldset>
                                <!-- Col Adresses -->
                                <div class="row dcm_fieldset">
                                    <!-- Col Adresse de facturation si différente -->
                                    <div class="col-md-6">
                                        <div class="row">
                                            <label class="col-xs-12 col-md-12">{{ 'become.member.label.society'|trans }}</label>
                                            <div class="col-xs-12 col-sm-4 col-md-12">
                                                <div class="form-group">
                                                    {{ form_widget(form.societyName, {'attr': {'class': 'form-control', 'placeholder': 'become_member.label.society_name'|trans, 'data-validation': 'required'}}) }}
                                                    {{ form_errors(form.societyName) }}
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-4 col-md-12">
                                                <div class="form-group">
                                                    {{ form_widget(form.societyTva, {'attr': {'class': 'form-control', 'placeholder': 'become_member.label.society_tva'|trans, 'data-validation': 'length', 'data-validation-length':'9-12'}}) }}
                                                    {{ form_errors(form.societyTva) }}
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-4 col-md-12">
                                                <div class="form-group">
                                                    {{ form_widget(form.societyLegalForm, {'attr': {'class': 'form-control', 'placeholder': 'become_member.label.society_legal_form'|trans, 'data-validation': 'required'}}) }}
                                                    {{ form_errors(form.societyLegalForm) }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Col Adresse de la société -->
                                    <div class="col-md-6">
                                        <div class="row">
                                            <label class="col-xs-12 col-md-12">{{ 'become.member.label.address_society'|trans }}</label>
                                            <div class="col-xs-12 col-md-12">
                                                <div class="form-group">
                                                    {{ form_widget(form.addressStreet, {'attr': {'class': 'form-control', 'placeholder': 'become_member.label.address_street'|trans, 'data-validation': 'required'}}) }}
                                                    {{ form_errors(form.addressStreet) }}
                                                </div>
                                            </div>
                                            <div class="col-xs-3 col-md-3">
                                                <div class="form-group">
                                                    {{ form_widget(form.addressNumber, {'attr': {'class': 'form-control', 'placeholder': 'become_member.label.address_number'|trans, 'data-validation': 'required'}}) }}
                                                    {{ form_errors(form.addressNumber) }}
                                                </div>
                                            </div>
                                            <div class="col-xs-3 col-md-3">
                                                <div class="form-group">
                                                    {{ form_widget(form.addressPostbox, {'attr': {'class': 'form-control', 'placeholder': 'become_member.label.address_post_box'|trans}}) }}
                                                    {{ form_errors(form.addressPostbox) }}
                                                </div>
                                            </div>
                                            <div class="col-xs-6 col-md-6">
                                                <div class="form-group">
                                                    {{ form_widget(form.addressZipCode, {'attr': {'class': 'form-control', 'placeholder': 'become_member.label.address_code_postal'|trans, 'data-validation': 'number'}}) }}
                                                    {{ form_errors(form.addressZipCode) }}
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-md-12">
                                                <div class="form-group">
                                                    {{ form_widget(form.addressCity, {'attr': {'class': 'form-control', 'placeholder': 'become_member.label.address_city'|trans, 'data-validation': 'required'}}) }}
                                                    {{ form_errors(form.addressCity) }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row dcm_fieldset">
                                    <label class="col-xs-12 col-md-12">{{ 'become.member.label.contact_person'|trans }}</label>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            {{ form_widget(form.nomContact, {'attr': {'class': 'form-control', 'placeholder': 'become_member.label.name'|trans, 'data-validation': 'required'}}) }}
                                            {{ form_errors(form.nomContact) }}
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            {{ form_widget(form.prenomContact, {'attr': {'class': 'form-control', 'placeholder': 'become_member.label.first_name'|trans, 'data-validation': 'required'}}) }}
                                            {{ form_errors(form.prenomContact) }}
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            {{ form_widget(form.emailContact, {'attr': {'class': 'form-control', 'placeholder': 'become_member.label.email'|trans, 'data-validation': 'email'}}) }}
                                            {{ form_errors(form.emailContact) }}
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            {{ form_widget(form.phoneContact, {'attr': {'class': 'form-control', 'placeholder': 'become_member.label.phone'|trans, 'data-validation': 'bephone'}}) }}
                                            {{ form_errors(form.phoneContact) }}
                                        </div>
                                    </div>
                                </div>

                                <div class="row dcm_fieldset">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            {{ form_label(form.pack) }}
                                            {{ form_widget(form.pack, {'attr': {'class': 'form-control', 'data-validation': 'required'}}) }}
                                            {{ form_errors(form.pack) }}
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            {{ form_widget(form.recaptcha) }}
                                            {{ form_errors(form.recaptcha) }}
                                            <script src='https://www.google.com/recaptcha/api.js?hl={{ app.request.locale }}' async defer></script>
                                        </div>
                                        <p class="dcm_info">{{ 'mandatory_message'|trans }}</p>
                                    </div>
                                    <div class="col-sm-8">
                                        <div class="form-group">
                                            {{ form_widget(form.submit, {'attr': {'class': 'dcm_button btn-xl'}}) }}
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        {{ form_end(form) }}

                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
