{% extends 'StaticBundle::layout.html.twig' %}

{% block body %}
    <div class="banner">
        <div class="inner_bnr_blk">
            <div class="col-xs-12 logo_inner fup visible animated fadeInUp">
                <img src="{{ asset('assets/static/images/logo-big.png') }}" alt="">
            </div>
        </div>
    </div>

    <div class="blk_2 dcm_content cookie">
        <div class="container">
            <div class="row">
                <h1>Politique de cookies du groupe IPM</h1>

                <p>Ce document décrit la politique de cookies du groupe IPM. Elle est la même pour tous les sites que nous gérons dans notre groupe (lalibre.be, dh.be, parismatch.be, logicimmo.be et <a class="cookie-link" target="_blank" href="https://www.ipmgroup.be/marques/">autres marques</a>).</p>

                <p>Ce document comprend 3 parties : (1) la définition d’un cookie, (2) la description des cookies utilisées par le groupe IPM et (3) la description de la procédure de gestion de cookies que vous voulez accepter en surfant sur nos sites.</p>

                <h3>1. Qu’est-ce qu’un cookie ?</h3>

                <p>Il s’agit d’un petit fichier texte déposé dans un espace dédié du disque dur de votre terminal
                (ordinateur, tablette, téléphone mobile ou tout autre appareil optimisé pour Internet), lors de la
                consultation d’un contenu ou d’une publicité en ligne sur un site. Ce fichier Cookie ne peut être lu que par son émetteur. Il permet, à son émetteur, pendant sa durée de validité, de reconnaître le terminal concerné à chaque fois que ce terminal accède à un contenu numérique comportant des cookies du même émetteur. Le cookie ne vous identifie pas personnellement, mais uniquement le navigateur de votre terminal.</p>

                <p>Les cookies ont, très majoritairement une durée de vie de limitée. La durée la plus standard est de 30 jours.</p>

                <p>Le but premier des cookies est de rendre votre expérience de surf plus efficace et plus rapide. Les cookies permettent de sauvegarder vos préférences, de conserver vos données de connexion, etc.</p>


                <h3>2. 4 Cookies sont utilisés par le groupe IPM</h3>

                <ul>
                    <li>I. Standard</li>
                    <li>II. Statistiques</li>
                    <li>III. Publicitaires</li>
                    <li>IV. Réseaux sociaux</li>
                </ul>

                <h4>I. Cookies standard</h4>
                <p>Ce sont les cookies indispensables à la navigation sur le site. Ils permettent l’accès aux produits et service du site. Ce sont les cookies qui permettent de naviguer sur le site de manière rapide et efficace. Les cookies standard permettent d’adapter la présentation du site aux préférences d'affichage de votre terminal (langue utilisée, résolution d'affichage), mémoriser les mots de passe et autres informations relatives à un utilisateur.</p>

                <p>Les cookies standard permettent en particulier de vous reconnaître, de signaler votre passage sur telle ou telle page et ainsi d’améliorer votre confort de navigation.</p>

                <h4>II. Cookies statistiques</h4>
                <p>Les cookies statistiques sont émis par IPM ou par nos prestataires techniques (Google Analytics, DMP, Hotjar ou Gemius) aux fins de mesurer l’audience des différents contenus et rubriques de notre site, afin de les évaluer et de mieux les organiser. Typiquement les données collectées sont, par exemple : nombre de visiteurs, temps passé sur une page, type de page consultée par après. A titre d’exemple Gemius est le logiciel utilisé par l’ensemble des sites de média pour communiquer la taille de leur audience aux annonceurs publicitaires.</p>

                <p>Ces cookies permettent également, le cas échéant, de détecter des problèmes de navigation et par conséquent d’améliorer l’ergonomie de nos services.</p>

                <p>Ces cookies ne produisent que des statistiques anonymes et des volumes de fréquentation, à l’exclusion de toute information individuelle. La durée de vie de ces cookies statistiques n’excède pas 13 mois.</p>


                <h4>III. Cookies publicitaires</h4>
                <p>Ces cookies permettent tout d’abord de comptabiliser le nombre total de publicités affichées dans nos espaces publicitaires, d’identifier ces publicités, leur nombre d'affichages respectifs, le nombre d'utilisateurs ayant cliqué sur chaque publicité et, le cas échéant, les actions ultérieures effectuées par ces utilisateurs sur les pages auxquelles mènent ces publicités, afin de calculer
                les sommes dues aux acteurs de la chaîne de diffusion publicitaire (agence de communication,
                régie publicitaire, site/support de diffusion) et d'établir des statistiques. Ces Cookies publicitaires
                permettent également d’adapter les contenus publicitaires affichés sur votre terminal dans nos
                espaces publicitaires, selon la navigation de votre terminal dans notre site, voir, le cas échéant,
                en fonction des données de localisation (longitude et latitude) transmises par votre terminal avec
                votre accord préalable (publicité comportementale). Ainsi, vous pouvez visualiser la publicité qui nous semble la plus adaptée à votre profil anonyme d’utilisation de votre terminal.</p>

                <p>Les cookies publicitaires permettent également à un site internet de vous envoyer
                des messages publicitaires ciblés. Nos sites utilisent notamment Doubleclick, Adhese et Cxense (recueille des données sur les pages et annonces consultées et établit un profil d’utilisateur ; en principe, les données collectées sont anonymes sauf si l’utilisateur se fait connaître via son compte Google), Facebook Conversion Pixel (enregistre le comportement
                d’achat après visualisation d’une publicité sur Facebook ; cette information est ajoutée au profil Facebook de l’utilisateur). Les cookies qui permettent de déceler la présence d’un adblocker sont placés dans cette catégorie.</p>


                <h4>IV. Cookies Réseaux sociaux</h4>
                <p>Les cookies « Réseaux sociaux » permettent de partager des contenus de notre site avec
                d’autres personnes ou de faire connaître à ces autres personnes votre consultation ou votre
                opinion concernant un contenu du site. Tel est, notamment, le cas des boutons « partager », «
                j’aime », issus de réseaux sociaux « facebook » ou « twitter ». Le réseau social fournissant un tel
                bouton applicatif est susceptible de vous identifier grâce à ce bouton, même si vous ne l’avez pas
                utilisé lors de la consultation de notre site.</p>

                <h3>3. Comment gérer les cookies?</h3>

                <p>En utilisant notre site, vous acceptez l’utilisation des cookies précités. Vous pouvez toutefois choisir à tout instant de désactiver tout ou une partie de ces cookies, à l’exception des cookies standard nécessaires au fonctionnement du site comme indiqué ci-dessus.</p>
                <p>Pour gérer vos cookies aller dans le Centre de Gestion des cookies du Groupe IPM (Cliquez ici). Vous y trouverez une explication sur les différents types de cookies et la possibilité de gérer vos cookies selon vos préférences.</p>
                <p>En cas de questions supplémentaires sur notre politique de cookies, nous vous invitons à prendre contact avec notre service à la clientèle/ Protection de la vie privée dont voici les coordonnées :</p>
                <ul class ="cookie-contact">
                    <li><a href="mailto:privacy@ipmgroup.be" class="cookie-email">privacy@ipmgroup.be</a></li>
                </ul>
                <p>Nous ne manquerons pas de répondre à vos demandes dans les plus brefs délais.</p>
            </div>
        </div>
    </div>
{% endblock %}