{% extends 'StaticBundle::layout.html.twig' %}

{% block body %}
    <div class="banner">
        <div class="container">
            <div class="row">

                <div class="inner_bnr_blk">
                    <div class="col-xs-12 logo_inner fup">
                        <img src="{{ asset('assets/static/images/logo-big.png') }}" alt=""/>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-7 bnr_con fleft">
                        <h1>Je veux booster la visibilité <label>de <span>mon entreprise </span></label><label>sur <span>le web</span></label><div class="qut_div"></div></h1>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-5 bnr_video fright">
                        <div class="video_inner">
                            <img class="img-video" src="{{ asset('assets/static/images/bg-video.jpg') }}" alt="la libre network vidéo"/>
                            <a href="#bloc-video" class="a_pop">video</a>
                            <div id="bloc-video" style="display:none">
                                <video id="myVideo" class="bloc-video" preload="auto" controls>
                                    <source src="{{ asset('assets/static/vid/Lalibre-network-V2-HD.mp4') }}" type="video/mp4" />
                                    Votre navigateur ne prend pas en charge les vidéos HTML5.
                                </video>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12">
                        <p class="bnr_info"><span>Vous cherchez un moyen efficace et rapide pour présenter votre entreprise et faire en sorte que cette vitrine virtuelle soit visible par vos prospects ? La Libre Network vous propose une solution clé-en-main avec un budget maîtrisé et rapide à mettre en place</span></p>
                    </div>
                    <div class="col-xs-12 btn_group_flex">
                        <a class="btn_default btn_default_left" href="http://www.lalibre.be/network" target="_blank">Découvrez les articles de nos membres</a>
                        <a class="a_btm" href="#bottom"><img src="{{ asset('assets/static/images/mouse.png') }}" alt="la libre network plus d'infos"/><span>Plus d’infos</span></a>
                        <a class="btn_default btn_default_right" href="https://blog.lalibrenetwork.be/articles/transformation-digitale/" target="_blank">Découvrez nos conseils pour améliorer votre visibilité</a>
                    </div>
                    <div class="col-xs-12 goto_div">
                        <a class="a_mob_lk " href="{{ path('become_member') }}">Devenir membre</a>
                        <a class="a_msg" href=""><img src="{{ asset('assets/static/images/msg2.png') }}" alt="la libre network membre"/></a>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="blk_1" id="bottom">
        <div class="blk_1_bg container-fluid">
          <div class="row">
            <div class="container">
              <div class="row">
                <div class="one_inner">
                    <h2>Une solution de communication complète</h2>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
                  <img class="is-image-src" src="{{ asset('assets/static/images/medium/cercle.jpg') }}" alt="tableau"/>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>

    <div class="blk_7">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-12">
              <div class="seven_inner">
                <p>De plus, en souscrivant à La Libre Network, vous entrez dans un vaste réseau dynamique qui met à votre disposition des outils pour vous aider à gérer votre transformation digitale, et vous permet de faire entendre votre voix sur des thématiques de société</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="blk_3">
        <label class="fleft">Plus d’info ?</label>
        <a href="{{ asset('assets/static/pdf/brochure.pdf') }}" target="_blank" class="blk_3_btn fright">Télécharger la brochure</a>
    </div>

    <div id="tarifs-conditions" class="blk_5 desk_blk_5">
        <div class="container">
            <div class="row">

                <div class="five_inner">
                    <h2>Tarifs & Conditions</h2>

                    <div class="price_list">

                        <div class="price_tab">
                            <h3>Silver</h3>
                            <div class="price_tag">
                                <h4><em>€</em> 2.500</h4>
                                <span>HTVA</span>
                                <a class="price_tag_link" href="{{ path('static_startup') }}">Vous êtes une startup ?</a>
                            </div>
                            <ul>
                                <li>
                                    <div class="abs_pr"><img src="{{ asset('assets/static/images/tixk.png') }}" alt=""/></div>
                                    Article sur base d'un questionnaire
                                </li>
                                <li>
                                    <div class="abs_pr"><img src="{{ asset('assets/static/images/tixk.png') }}" alt=""/></div>
                                    Optimisation SEO de l'article
                                </li>
                                <li>
                                    <div class="abs_pr"><img src="{{ asset('assets/static/images/tixk.png') }}" alt=""/></div>
                                    12 mois de visibilité sur La Libre Network
                                </li>
                                <li>
                                    <div class="abs_pr"><img src="{{ asset('assets/static/images/tixk.png') }}" alt=""/></div>
                                    Diffusion de l'article sur nos réseaux sociaux
                                </li>
                                <li>
                                    <div class="abs_pr">1</div>
                                    Crédit Article
                                </li>
                                <li>
                                    <div class="abs_pr"><img src="{{ asset('assets/static/images/wrong.png') }}" alt=""/></div>
                                    Crédit Remise en Une
                                </li>
                                <li>
                                    <div class="abs_pr"><img src="{{ asset('assets/static/images/wrong.png') }}" alt=""/></div>
                                    Crédit publication  print 'La Libre Network'
                                </li>
                            </ul>
                            <div class="more">
                              <h4 class="more_title">

                                 Inclus avec ce pack
                              </h4>
                            </div>
                            <ul>
                                <li>
                                    <div class="abs_pr"><img src="{{ asset('assets/static/images/tixk.png') }}" alt=""/></div>
                                    Membership réseau Network
                                </li>
                                <li>
                                    <div class="abs_pr"><img src="{{ asset('assets/static/images/tixk.png') }}" alt=""/></div>
                                    Participation à l'intelligence collective
                                </li>
                                <li>
                                    <div class="abs_pr"><img src="{{ asset('assets/static/images/tixk.png') }}" alt=""/></div>
                                    Accès à toutes les informations
                                </li>
                                <li>
                                    <div class="abs_pr"></div>
                                    (site, Newsletter, plateformes privées, …)
                                </li>
                                <li>
                                    <div class="abs_pr">5</div>
                                    Crédits événements (conférences, petits-déjeuners, workshops, formations, etc)
                                </li>
                            </ul>
                        </div>

                        <div class="price_tab gld_price_tab">
                            <h3>Gold</h3>
                            <div class="price_tag">
                                <h4><em>€</em> 3.400</h4>
                                <span>HTVA</span>
                            </div>
                            <ul>
                                <li>
                                    <div class="abs_pr"><img src="{{ asset('assets/static/images/tixk.png') }}" alt=""/></div>
                                    Article sur base d'un questionnaire
                                </li>
                                <li>
                                    <div class="abs_pr"><img src="{{ asset('assets/static/images/tixk.png') }}" alt=""/></div>
                                    Optimisation SEO de l'article
                                </li>
                                <li>
                                    <div class="abs_pr"><img src="{{ asset('assets/static/images/tixk.png') }}" alt=""/></div>
                                    12 mois de visibilité sur La Libre Network
                                </li>
                                <li>
                                    <div class="abs_pr"><img src="{{ asset('assets/static/images/tixk.png') }}" alt=""/></div>
                                    Diffusion de l'article sur nos réseaux sociaux
                                </li>
                                <li>
                                    <div class="abs_pr">1</div>
                                    Crédit Article
                                </li>
                                <li>
                                    <div class="abs_pr">1</div>
                                    Crédit Remise en Une
                                </li>
                                <li>
                                    <div class="abs_pr">1</div>
                                    Crédit publication  print 'La Libre Network'
                                </li>
                            </ul>
                            <div class="more">
                              <h4 class="more_title">

                                 Inclus avec ce pack
                              </h4>
                            </div>
                            <ul>
                                <li>
                                    <div class="abs_pr"><img src="{{ asset('assets/static/images/tixk.png') }}" alt=""/></div>
                                    Membership réseau Network
                                </li>
                                <li>
                                    <div class="abs_pr"><img src="{{ asset('assets/static/images/tixk.png') }}" alt=""/></div>
                                    Participation à l'intelligence collective
                                </li>
                                <li>
                                    <div class="abs_pr"><img src="{{ asset('assets/static/images/tixk.png') }}" alt=""/></div>
                                    Accès à toutes les informations
                                </li>
                                <li>
                                    <div class="abs_pr"></div>
                                    (site, Newsletter, plateformes privées, …)
                                </li>
                                <li>
                                    <div class="abs_pr">10</div>
                                    Crédits événements (conférences, petits-déjeuners, workshops, formations, etc)
                                </li>
                            </ul>
                        </div>

                        <div class="price_tab plt_price_tab">
                            <h3>Platinum</h3>
                            <div class="price_tag">
                                <h4><em>€</em> 4.750</h4>
                                <span>HTVA</span>
                            </div>
                            <ul>
                                <li>
                                    <div class="abs_pr"><img src="{{ asset('assets/static/images/tixk.png') }}" alt=""/></div>
                                    Article sur base d'un interview
                                </li>
                                <li>
                                    <div class="abs_pr"><img src="{{ asset('assets/static/images/tixk.png') }}" alt=""/></div>
                                    Optimisation SEO de l'article
                                </li>
                                <li>
                                    <div class="abs_pr"><img src="{{ asset('assets/static/images/tixk.png') }}" alt=""/></div>
                                    12 mois de visibilité sur La Libre Network
                                </li>
                                <li>
                                    <div class="abs_pr"><img src="{{ asset('assets/static/images/tixk.png') }}" alt=""/></div>
                                    Diffusion de l'article sur nos réseaux sociaux
                                </li>
                                <li>
                                    <div class="abs_pr">2</div>
                                    Crédits Article
                                </li>
                                <li>
                                    <div class="abs_pr">2</div>
                                    Crédits Remise en Une
                                </li>
                                <li>
                                    <div class="abs_pr">2</div>
                                    Crédits publication  print 'La Libre Network'
                                </li>
                            </ul>
                            <div class="more">
                              <h4 class="more_title">

                                 Inclus avec ce pack
                              </h4>
                            </div>
                            <ul>
                                <li>
                                    <div class="abs_pr"><img src="{{ asset('assets/static/images/tixk.png') }}" alt=""/></div>
                                    Membership réseau Network
                                </li>
                                <li>
                                    <div class="abs_pr"><img src="{{ asset('assets/static/images/tixk.png') }}" alt=""/></div>
                                    Participation à l'intelligence collective
                                </li>
                                <li>
                                    <div class="abs_pr"><img src="{{ asset('assets/static/images/tixk.png') }}" alt=""/></div>
                                    Accès à toutes les informations
                                </li>
                                <li>
                                    <div class="abs_pr"></div>
                                    (site, Newsletter, plateformes privées, …)
                                </li>
                                <li>
                                    <div class="abs_pr">20</div>
                                    Crédits événements (conférences, petits-déjeuners, workshops, formations, etc)
                                </li>
                            </ul>
                        </div>

                        <div class="price_tab_full">
                            <h4>Options <span>(HTVA)</span></h4>
                            <ul>
                                <li>Photos professionnelles € 400</li>
                                <li>Production et diffusion vidéo professionnelle € 1.900</li>
                                <li>Crédit supplémentaire article € 2.000</li>
                                <li>Crédit supplémentaire Remise en Une € 400</li>
                                <li>Crédit supplémentaire publication print "La Libre Network" € 1.150</li>
                            </ul>
                        </div>


                        <div class="price_btn_div">
                            <a href="{{ path('become_member') }}">Devenir membre </a>
                            <a class="price_tag_btn" href="{{ path('static_startup') }}">Vous êtes une startup ?</a>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>

    <div class="blk_5 mob_blk_5">
        <div class="container">
            <div class="row">

                <div class="five_inner">
                    <h2>Tarifs & Conditions</h2>

                    <div id="owl-demo" class="price_list owl-carousel owl-theme">

                        <div class="price_tab item">
                            <h3>Silver</h3>
                            <div class="price_tag">
                                <h4><em>€</em> 2.500</h4>
                                <span>HTVA</span>
                                <a class="price_tag_link" href="{{ path('static_startup') }}">Vous êtes une startup ?</a>
                            </div>
                            <ul>
                                <li>
                                    <div class="abs_pr"><img src="{{ asset('assets/static/images/tixk.png') }}" alt=""/></div>
                                    Article sur base d'un questionnaire
                                </li>
                                <li>
                                    <div class="abs_pr"><img src="{{ asset('assets/static/images/tixk.png') }}" alt=""/></div>
                                    Optimisation SEO de l'article
                                </li>
                                <li>
                                    <div class="abs_pr"><img src="{{ asset('assets/static/images/tixk.png') }}" alt=""/></div>
                                    12 mois de visibilité sur La Libre Network
                                </li>
                                <li>
                                    <div class="abs_pr"><img src="{{ asset('assets/static/images/tixk.png') }}" alt=""/></div>
                                    Diffusion de l'article sur nos réseaux sociaux
                                </li>
                                <li>
                                    <div class="abs_pr">1</div>
                                    Crédit Article
                                </li>
                                <li>
                                    <div class="abs_pr"><img src="{{ asset('assets/static/images/wrong.png') }}" alt=""/></div>
                                    Crédit Remise en Une
                                </li>
                                <li>
                                    <div class="abs_pr"><img src="{{ asset('assets/static/images/wrong.png') }}" alt=""/></div>
                                    Crédit publication  print 'La Libre Network'
                                </li>
                            </ul>
                            <div class="more">
                              <h4 class="more_title">

                                 Inclus avec ce pack
                              </h4>
                            </div>
                            <ul>
                                <li>
                                    <div class="abs_pr"><img src="{{ asset('assets/static/images/tixk.png') }}" alt=""/></div>
                                    Membership réseau Network
                                </li>
                                <li>
                                    <div class="abs_pr"><img src="{{ asset('assets/static/images/tixk.png') }}" alt=""/></div>
                                    Participation à l'intelligence collective
                                </li>
                                <li>
                                    <div class="abs_pr"><img src="{{ asset('assets/static/images/tixk.png') }}" alt=""/></div>
                                    Accès à toutes les informations
                                </li>
                                <li>
                                    <div class="abs_pr"></div>
                                    (site, Newsletter, plateformes privées, …)
                                </li>
                                <li>
                                    <div class="abs_pr">5</div>
                                    Crédits événements (conférences, petits-déjeuners, workshops, formations, etc)
                                </li>
                            </ul>
                            <div class="price_btn_div">
                              <a class="price_tag_btn" href="{{ path('static_startup') }}">Vous êtes une startup ?</a>
                                <a href="{{ path('become_member') }}">Devenir membre </a>
                            </div>
                        </div>

                        <div class="price_tab gld_price_tab item">
                            <h3>Gold</h3>
                            <div class="price_tag">
                                <h4><em>€</em> 3.400</h4>
                                <span>HTVA</span>
                            </div>
                            <ul>
                                <li>
                                    <div class="abs_pr"><img src="{{ asset('assets/static/images/tixk.png') }}" alt=""/></div>
                                    Article sur base d'un questionnaire
                                </li>
                                <li>
                                    <div class="abs_pr"><img src="{{ asset('assets/static/images/tixk.png') }}" alt=""/></div>
                                    Optimisation SEO de l'article
                                </li>
                                <li>
                                    <div class="abs_pr"><img src="{{ asset('assets/static/images/tixk.png') }}" alt=""/></div>
                                    12 mois de visibilité sur La Libre Network
                                </li>
                                <li>
                                    <div class="abs_pr"><img src="{{ asset('assets/static/images/tixk.png') }}" alt=""/></div>
                                    Diffusion de l'article sur nos réseaux sociaux
                                </li>
                                <li>
                                    <div class="abs_pr">1</div>
                                    Crédit Article
                                </li>
                                <li>
                                    <div class="abs_pr">1</div>
                                    Crédit Remise en Une
                                </li>
                                <li>
                                    <div class="abs_pr">1</div>
                                    Crédit publication  print 'La Libre Network'
                                </li>
                            </ul>
                            <div class="more">
                              <h4 class="more_title">

                                 Inclus avec ce pack
                              </h4>
                            </div>
                            <ul>
                                <li>
                                    <div class="abs_pr"><img src="{{ asset('assets/static/images/tixk.png') }}" alt=""/></div>
                                    Membership réseau Network
                                </li>
                                <li>
                                    <div class="abs_pr"><img src="{{ asset('assets/static/images/tixk.png') }}" alt=""/></div>
                                    Participation à l'intelligence collective
                                </li>
                                <li>
                                    <div class="abs_pr"><img src="{{ asset('assets/static/images/tixk.png') }}" alt=""/></div>
                                    Accès à toutes les informations
                                </li>
                                <li>
                                    <div class="abs_pr"></div>
                                    (site, Newsletter, plateformes privées, …)
                                </li>
                                <li>
                                    <div class="abs_pr">10</div>
                                    Crédits événements (conférences, petits-déjeuners, workshops, formations, etc)
                                </li>
                            </ul>
                            <div class="price_btn_div">
                                <a href="{{ path('become_member') }}">Devenir membre </a>
                            </div>
                        </div>

                        <div class="price_tab plt_price_tab item">
                            <h3>Platinum</h3>
                            <div class="price_tag">
                                <h4><em>€</em> 4.750</h4>
                                <span>HTVA</span>
                            </div>
                            <ul>
                                <li>
                                    <div class="abs_pr"><img src="{{ asset('assets/static/images/tixk.png') }}" alt=""/></div>
                                    Article sur base d'un interview
                                </li>
                                <li>
                                    <div class="abs_pr"><img src="{{ asset('assets/static/images/tixk.png') }}" alt=""/></div>
                                    Optimisation SEO de l'article
                                </li>
                                <li>
                                    <div class="abs_pr"><img src="{{ asset('assets/static/images/tixk.png') }}" alt=""/></div>
                                    12 mois de visibilité sur La Libre Network
                                </li>
                                <li>
                                    <div class="abs_pr"><img src="{{ asset('assets/static/images/tixk.png') }}" alt=""/></div>
                                    Diffusion de l'article sur nos réseaux sociaux
                                </li>
                                <li>
                                    <div class="abs_pr">2</div>
                                    Crédits Article
                                </li>
                                <li>
                                    <div class="abs_pr">2</div>
                                    Crédits Remise en Une
                                </li>
                                <li>
                                    <div class="abs_pr">2</div>
                                    Crédits publication  print 'La Libre Network'
                                </li>
                            </ul>
                            <div class="more">
                              <h4 class="more_title">

                                 Inclus avec ce pack
                              </h4>
                            </div>
                            <ul>
                                <li>
                                    <div class="abs_pr"><img src="{{ asset('assets/static/images/tixk.png') }}" alt=""/></div>
                                    Membership réseau Network
                                </li>
                                <li>
                                    <div class="abs_pr"><img src="{{ asset('assets/static/images/tixk.png') }}" alt=""/></div>
                                    Participation à l'intelligence collective
                                </li>
                                <li>
                                    <div class="abs_pr"><img src="{{ asset('assets/static/images/tixk.png') }}" alt=""/></div>
                                    Accès à toutes les informations
                                </li>
                                <li>
                                    <div class="abs_pr"></div>
                                    (site, Newsletter, plateformes privées, …)
                                </li>
                                <li>
                                    <div class="abs_pr">20</div>
                                    Crédits événements (conférences, petits-déjeuners, workshops, formations, etc)
                                </li>
                            </ul>
                            <div class="price_btn_div">
                                <a href="{{ path('become_member') }}">Devenir membre </a>
                            </div>
                        </div>


                    </div>

                </div>

            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="price_tab_full">
                        <h4>Options <span>(HTVA)</span></h4>
                        <ul>
                            <li>Photos professionnelles € 400</li>
                            <li>Production et diffusion vidéo professionnelle € 1.900</li>
                            <li>Crédit supplémentaire article € 2.000</li>
                            <li>Crédit supplémentaire Remise en Une € 400</li>
                            <li>Crédit supplémentaire publication print "La Libre Network" € 1.150</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="blk_6" id="membre">
        <div class="container">
            <div class="row">

                <div class="six_inner">
                    <h2>Devenir membre</h2>

                    <ul class="deve_ul">
                        <li class="col-xs-12 col-sm-4 deve_li fup">
                            <div class="deve_inner">
                                <h3><span></span><div>Je deviens membre maintenant !</div></h3>
                                <div class="deve_img">
                                    <span></span><img src="{{ asset('assets/static/images/dv1.png') }}" alt=""/>
                                </div>
                                <a href="{{ path('become_member') }}">Remplir le formulaire</a>
                            </div>
                        </li>
                        <li class="col-xs-12 col-sm-4 deve_li fup">
                            <div class="deve_inner">
                                <h3><span></span><div>Organiser une video-conférence avec un de nos conseillers</div></h3>
                                <div class="deve_img">
                                    <span></span><img src="{{ asset('assets/static/images/dv2.png') }}" alt=""/>
                                </div>
                                <a href="https://calendly.com/sales-la-libre-network/30-minutes-de-presentation-la-libre-network/" target="_blank">Prendre un RDV</a>
                            </div>
                        </li>
                        <li class="col-xs-12 col-sm-4 deve_li fup">
                            <div class="deve_inner">
                                <h3><span></span><div>Nous appeler</div></h3>
                                <div class="deve_img">
                                    <span></span><img src="{{ asset('assets/static/images/dv3.png') }}" alt=""/>
                                </div>
                                <a href="tel:022112727">02 211 27 27</a>
                            </div>
                        </li>
                    </ul>

                </div>

            </div>
        </div>
    </div>

    <div class="blk_8">
      <div class="container">
        <div class="row">
          <div class="eight_inner">
            <div class="ipm_partners">
              <h2>Ils nous font confiance</h2>

              <div class="col-xs-12 col-sm-6 col-sm-offset-0 col-md-2 col-md-offset-1">
                <a class="ipm_thumbnail" href="http://www.lalibre.be/network/entreprises/fonds-prince-albert-la-bourse-belge-pour-jeunes-professionnels-5a04742dcd707514e8a905d6" target="_blank">
                  <img src="{{ asset('assets/static/images/partners/partners1.png') }}" alt="Logo de Fonds Prince Albert"/>
                  <h4 class="ipm_thumbnail_title">Fonds Prince Albert : la bourse belge pour jeunes professionnels</h4>
                </a>
              </div>

              <div class="col-xs-12 col-sm-6 col-md-2">
                <a class="ipm_thumbnail" href="http://www.lalibre.be/network/entreprises/ventis-societe-100-wallonne-et-pionniere-dans-l-eolien-en-region-wallonne-59ce574bcd70be70bcb5f809" target="_blank">
                  <img src="{{ asset('assets/static/images/partners/partners2.png') }}" alt="Logo de Ventis"/>
                  <h4 class="ipm_thumbnail_title">Ventis, société 100% wallonne et pionnière dans l’éolien en Région wallonne</h4>
                </a>
              </div>

              <div class="col-xs-12 col-sm-4 col-md-2">
                <a class="ipm_thumbnail" href="http://www.lalibre.be/network/entreprises/seraphin-le-premier-courtier-digital-belge-rajeunit-l-assurance-59de0b3bcd70be70bcedeb9e" target="_blank">
                  <img src="{{ asset('assets/static/images/partners/partners3.png') }}" alt="Logo de Seraphin"/>
                  <h4 class="ipm_thumbnail_title">Seraphin, le premier courtier digital belge, rajeunit l'assurance</h4>
                </a>
              </div>

              <div class="col-xs-12 col-sm-4 col-md-2">
                <a class="ipm_thumbnail" href="http://www.lalibre.be/network/entreprises/extra-la-chaine-de-magasins-qui-conquiert-en-wallonie-59ce3d2acd70be70bcb5839e" target="_blank">
                  <img src="{{ asset('assets/static/images/partners/partners4.png') }}" alt="Logo de Extra"/>
                  <h4 class="ipm_thumbnail_title">Extra, la chaîne de magasins qui conquiert en Wallonie</h4>
                </a>
              </div>

              <div class="col-xs-12 col-sm-4 col-md-2">
                <a class="ipm_thumbnail" href="http://www.lalibre.be/network/entreprises/mr-energie-le-courtier-en-energie-qui-vous-permet-de-faire-des-economies-59ce41d1cd70be70bcb5a494" target="_blank">
                  <img src="{{ asset('assets/static/images/partners/partners5.png') }}" alt="Logo de Mr Énergie"/>
                  <h4 class="ipm_thumbnail_title">Mr Énergie, le courtier en énergie qui vous permet de faire des économies</h4>
                </a>
              </div>

          </div>
        </div>

      </div>

    </div>

    <div class="blk_2">
        <div class="container">
            <div class="row">

                <div class="two_inner">
                    <h2>Une année à La Libre Network</h2>

                    <div class="line_blk">
                        <div class="line_a_blk">
                            <a>Vous devenez membre de La Libre Network</a>
                        </div>
                        <div class="listing_line">
                            <div class="list_div">
                                <ul class="list_container">

                                    <div class="clearfix">
                                        <li class="list_item">
                                            <div class="list_content clearfix">
                                                <!-- text -->
                                                <div class="col-xs-4 col-sm-2 img_list">
                                                    <img src="{{ asset('assets/static/images/nt1.png') }}" alt="user"/>
                                                </div>
                                                <div class="col-xs-8 col-sm-10 con_list">
                                                    <p>Vous recevez votre login à votre espace personnalisé  et disposez des crédits correspondant au pack que vous avez acheté</p>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list_item">
                                            <div class="list_content clearfix">
                                                <!-- text -->
                                                <div class="col-xs-4 col-sm-2 img_list">
                                                    <img src="{{ asset('assets/static/images/nt2.png') }}" alt="desktop"/>
                                                </div>
                                                <div class="col-xs-8 col-sm-10 con_list">
                                                    <p>Vous utilisez votre crédit pour ajouter un article et répondez au questionnaire dans votre dashboard pour aiguiller notre équipe de rédaction</p>
                                                </div>
                                            </div>
                                        </li>
                                    </div> <!-- /clearfix -->

                                    <div class="clearfix">
                                        <li class="list_item">
                                            <div class="list_content clearfix">
                                                <!-- text -->
                                                <div class="col-xs-4 col-sm-2 img_list">
                                                    <img src="{{ asset('assets/static/images/nt2.png') }}" alt="desktop"/>
                                                </div>
                                                <div class="col-xs-8 col-sm-10 con_list">
                                                    <p>Notre équipe de rédaction vous envoie une première version d’article dans un délai de maximum 15 jours</p>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list_item">
                                            <div class="list_content clearfix">
                                                <!-- text -->
                                                <div class="col-xs-4 col-sm-2 img_list">
                                                    <img src="{{ asset('assets/static/images/nt2.png') }}" alt="desktop"/>
                                                </div>
                                                <div class="col-xs-8 col-sm-10 con_list">
                                                    <p>Votre article vous plait, vous le validez</p>
                                                </div>
                                            </div>
                                        </li>
                                    </div> <!-- /clearfix -->

                                    <div class="clearfix">
                                        <li class="list_item js-toggle">
                                            <div class="list_content clearfix">
                                                <!-- text -->
                                                <div class="col-xs-4 col-sm-2 img_list">
                                                    <img src="{{ asset('assets/static/images/nt2.png') }}" alt="desktop"/>
                                                </div>
                                                <div class="col-xs-8 col-sm-10 con_list">
                                                    <p>Vous souhaitez faire des changements, vous contactez la rédaction et validez votre article par la suite</p>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list_item js-toggle">
                                            <div class="list_content clearfix">
                                                <!-- text -->
                                                <div class="col-xs-4 col-sm-2 img_list">
                                                    <img src="{{ asset('assets/static/images/nt2.png') }}" alt="desktop"/>
                                                </div>
                                                <div class="col-xs-8 col-sm-10 con_list">
                                                    <p>Vous nous déclarez être intéressés spécifiquement par les sujets "Exploiter les données issues du Big Data" et "Avoir un e-commerce performant" dans le cadre de l’info sur la transformation digitale</p>
                                                </div>
                                            </div>
                                        </li>
                                    </div> <!-- /clearfix -->

                                    <div class="clearfix">
                                        <li class="list_item js-toggle">
                                            <div class="list_content clearfix">
                                                <!-- text -->
                                                <div class="col-xs-4 col-sm-2 img_list">
                                                    <img src="{{ asset('assets/static/images/nt2.png') }}" alt="desktop"/>
                                                </div>
                                                <div class="col-xs-8 col-sm-10 con_list">
                                                    <p>Votre article est publié dans un délai maximum de 3 jours ouvrables après validation</p>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list_item js-toggle">
                                            <div class="list_content clearfix">
                                                <!-- text -->
                                                <div class="col-xs-4 col-sm-2 img_list">
                                                    <img src="{{ asset('assets/static/images/nt3.png') }}" alt="record"/>
                                                </div>
                                                <div class="col-xs-8 col-sm-10 con_list">
                                                    <p>La Libre Network organise un workshop sur le SEO, vous y participez</p>
                                                </div>
                                            </div>
                                        </li>
                                    </div> <!-- /clearfix -->

                                    <div class="clearfix">
                                        <li class="list_item js-toggle">
                                            <div class="list_content clearfix">
                                                <!-- text -->
                                                <div class="col-xs-4 col-sm-2 img_list">
                                                    <img src="{{ asset('assets/static/images/nt4.png') }}" alt="sound"/>
                                                </div>
                                                <div class="col-xs-8 col-sm-10 con_list">
                                                    <p>Vous êtes invité à donner votre avis sur le Groupe Facebook des membres de La Libre Network au sujet des nouvelles réformes du gouvernement Wallon</p>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list_item js-toggle">
                                            <div class="list_content clearfix">
                                                <!-- text -->
                                                <div class="col-xs-4 col-sm-2 img_list">
                                                    <img src="{{ asset('assets/static/images/nt4.png') }}" alt="sound"/>
                                                </div>
                                                <div class="col-xs-8 col-sm-10 con_list">
                                                    <p>La Libre publie sur la tribune de La Libre Network les conclusions du débat sur les nouvelles mesures du gouvernements Wallon</p>
                                                </div>
                                            </div>
                                        </li>
                                    </div> <!-- /clearfix -->

                                    <div class="clearfix">
                                        <li class="list_item js-toggle">
                                          <div class="list_content clearfix">
                                              <!-- text -->
                                              <div class="col-xs-4 col-sm-2 img_list">
                                                  <img src="{{ asset('assets/static/images/nt3.png') }}" alt="record"/>
                                              </div>
                                              <div class="col-xs-8 col-sm-10 con_list">
                                                  <p>Le gouvernement Wallon a pris en considération l’avis des membres de la tribune de La Libre Network.be et affirme en tenir compte lors des prochaines négociations</p>
                                              </div>
                                        </li>
                                        <li class="list_item js-toggle">
                                            <div class="list_content clearfix">
                                                <!-- text -->
                                                <div class="col-xs-4 col-sm-2 img_list">
                                                    <img src="{{ asset('assets/static/images/nt1.png') }}" alt="user"/>
                                                </div>
                                                <div class="col-xs-8 col-sm-10 con_list">
                                                    <p>Vous devenez incollable sur les thèmes du Big Data et de la performance du e-commerce grâce aux newsletters spécifiques et aux formations que vous recevez de La Libre Network</p>
                                                </div>
                                            </div>
                                        </li>
                                    </div> <!-- /clearfix -->

                                    <div class="clearfix">
                                        <li class="list_item js-toggle">
                                            <div class="list_content clearfix">
                                                <!-- text -->
                                                <div class="col-xs-4 col-sm-2 img_list">
                                                    <img src="{{ asset('assets/static/images/nt2.png') }}" alt="desktop"/>
                                                </div>
                                                <div class="col-xs-8 col-sm-10 con_list">
                                                    <p>Votre site d’entreprise a une meilleure position sur Google grâce aux liens et aux visites générées par votre article sur La Libre Network</p>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list_item js-toggle">
                                            <div class="list_content clearfix">
                                                <!-- text -->
                                                <div class="col-xs-4 col-sm-2 img_list">
                                                    <img src="{{ asset('assets/static/images/nt4.png') }}" alt="sound"/>
                                                </div>
                                                <div class="col-xs-8 col-sm-10 con_list">
                                                    <p>Un nouveau débat la Libre Network sur la fiscalité des entreprises a lieu sur les groupes d’intelligences collectives de La Libre Network</p>
                                                </div>
                                            </div>
                                        </li>
                                    </div> <!-- /clearfix -->

                                    <div class="clearfix">
                                        <li class="list_item js-toggle">
                                            <div class="list_content clearfix">
                                                <!-- text -->
                                                <div class="col-xs-4 col-sm-2 img_list">
                                                    <img src="{{ asset('assets/static/images/nt4.png') }}" alt="sound"/>
                                                </div>
                                                <div class="col-xs-8 col-sm-10 con_list">
                                                    <p>Les conclusions du débat sur la fiscalité des groupes d’intelligences collectives sont publiés dans La Libre Belgique et lalibre.be</p>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list_item js-toggle">
                                          <div class="list_content clearfix">
                                            <!-- text -->
                                            <div class="col-xs-4 col-sm-2 img_list">
                                              <img src="{{ asset('assets/static/images/nt2.png') }}" alt="desktop"/>
                                            </div>
                                            <div class="col-xs-8 col-sm-10 con_list">
                                              <p>On parle de vous dans La Libre : votre portrait est brossé dans le supplément papier trimestriel de « La Libre Network »</p>
                                            </div>
                                          </div>
                                        </li>
                                    </div> <!-- /clearfix -->

                                    <div class="clearfix">
                                        <li class="list_item js-toggle">
                                            <div class="list_content clearfix">
                                                <!-- text -->
                                                <div class="col-xs-4 col-sm-2 img_list">
                                                    <img src="{{ asset('assets/static/images/nt3.png') }}" alt="record"/>
                                                </div>
                                                <div class="col-xs-8 col-sm-10 con_list">
                                                    <p>La Libre Network organise un petit déjeuner avec un CEO du Bel20</p>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list_item js-toggle">
                                          <div class="list_content clearfix">
                                            <!-- text -->
                                            <div class="col-xs-4 col-sm-2 img_list">
                                              <img src="{{ asset('assets/static/images/nt2.png') }}" alt="desktop"/>
                                            </div>
                                            <div class="col-xs-8 col-sm-10 con_list">
                                              <p>Votre article est remis en tête de liste sur Lalibre.be car vous utilisez votre crédit « Mise en Une »</p>
                                            </div>
                                          </div>
                                        </li>
                                    </div> <!-- /clearfix -->

                                    <div class="clearfix">
                                        <li class="list_item js-toggle">
                                            <div class="list_content clearfix">
                                                <!-- text -->
                                                <div class="col-xs-4 col-sm-2 img_list">
                                                    <img src="{{ asset('assets/static/images/nt3.png') }}" alt="record"/>
                                                </div>
                                                <div class="col-xs-8 col-sm-10 con_list">
                                                    <p>Vous participez à une formation organisée par La Libre Network sur la manière d’appréhender le Big Data en PME</p>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list_item js-toggle">
                                            <div class="list_content clearfix">
                                                <!-- text -->
                                                <div class="col-xs-4 col-sm-2 img_list">
                                                    <img src="{{ asset('assets/static/images/nt1.png') }}" alt="user"/>
                                                </div>
                                                <div class="col-xs-8 col-sm-10 con_list">
                                                    <p>Votre membership est renouvelé automatiquement sauf notification contraire de votre part.</p>
                                                </div>
                                            </div>
                                        </li>
                                    </div> <!-- /clearfix -->

                                </ul>
                                <div class="mob_a_list">
                                    <a href="javascript:void(0)">Voir plus</a>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

            </div>
        </div>
      </div>

    </div>

  </div>

{% endblock %}
