{% extends 'StaticBundle::layout.html.twig' %}

{% block body %}
    <div class="banner">
        <div class="inner_bnr_blk">
            <div class="col-xs-12 logo_inner fup visible animated fadeInUp">
                <img src="{{ asset('assets/static/images/logo-big.png') }}" alt="">
            </div>
        </div>
    </div>

    <div class="blk_2 dcm_content privacy-policy-content">
        <div class="container">
            <div class="row">
                <h2 class="privacy-index-title">– POLITIQUE VIE PRIVÉE –</h2>
                <h3 class="privacy-index-subtitle">La Libre Network</h3>
                <div class="privacy-index">
                    <h5>La Libre Network et vos données</h5>
                    <ol type="I" class="roman">
                        <li>
                            <h6><a href="#p-I">Objet</a></h6>
                        </li>
                        <li>
                            <h6><a href="#p-II">Quelles sont les catégories de données à caractère personnel que nous traitons et comment les obtenons nous ?</a></h6>
                            <ol type="A" class="alpha">
                                <li><a href="#p-II-a">Données à caractère non personnel</a></li>
                            </ol>
                        </li>
                        <li>
                            <h6><a href="#p-III">Pour quelles finalités collectons-nous vos données ?</a></h6>
                            <ol type="A" class="alpha">
                                <li><a href="#p-III-a">Le respect de nos obligations légales</a></li>
                                <li><a href="#p-III-b">Dans le cadre de notre relation contractuelle</a></li>
                                <li><a href="#p-III-c">Dans le cadre de nos intérêts légitimes</a></li>
                                <li><a href="#p-III-d">Le consentement</a></li>
                                <li><a href="#p-III-e">Profilage et traitements automatisés</a></li>
                            </ol>
                        </li>
                        <li>
                            <h6><a href="#p-IV">Combien de temps gardons-nous vos données à caractère personnel ?</a></h6>
                        </li>
                    </ol>
                    <h5>Vos droits au regard du RGPD</h5>
                    <ol type="I" start="5">
                        <li>
                            <h6><a href="#p-V">Accès, retrait, rectification, effacement, portabilité, limitation et opposition</a></h6>
                            <ol type="A" class="alpha">
                                <li><a href="#p-v-a">Droit d’accès et copie</a></li>
                                <li><a href="#p-v-b">Droit au retrait de votre consentement</a></li>
                                <li><a href="#p-v-c">Droit de rectification</a></li>
                                <li><a href="#p-v-d">Droit à l’oubli</a></li>
                                <li><a href="#p-v-e">Le droit à la portabilité</a></li>
                                <li><a href="#p-v-f">Droit à la limitation du traitement</a></li>
                                <li><a href="#p-v-g">Droit d’opposition</a></li>
                            </ol>
                        </li>
                        <li>
                            <h6><a href="#p-VI">Comment exercer vos droits ?</a></h6>
                            <ol type="A" class="alpha">
                                <li><a href="#p-vi-a">Identification</a></li>
                                <li><a href="#p-vi-b">Quand est-ce nous vous répondons ?</a></li>
                            </ol>
                        </li>
                    </ol>
                    <h5>Généralités</h5>
                    <ol type="I" start="7">
                        <li>
                            <h6><a href="#p-VII">Transfert à des parties tierces</a></h6>
                            <ol type="A" class="alpha">
                                <li><a href="#p-vii-a">Sous-traitant</a></li>
                                <li><a href="#p-vii-b">Au sein du groupe IPM</a></li>
                                <li><a href="#p-vii-c">A nos partenaires commerciaux, tiers</a></li>
                                <li><a href="#p-vii-d">Données transmises par vos connaissances</a></li>
                                <li><a href="#p-vii-e">Transmission pour une obligation légale ou par ordre d’une autorité compétente</a></li>
                            </ol>
                        </li>
                        <li>
                            <h6><a href="#p-VIII">Le centre de préférence</a></h6>
                        </li>
                        <li>
                            <h6><a href="#p-IX">Sécurité</a></h6>
                        </li>
                        <li>
                            <h6><a href="#p-X">Réclamation et plainte</a></h6>
                        </li>
                        <li>
                            <h6><a href="#p-XI">Comment nous contacter ?</a></h6>
                        </li>
                        <li>
                            <h6><a href="#p-XII">Modification</a></h6>
                        </li>
                        <li>
                            <h6><a href="#p-XIII">Droit applicable et juridiction compétente</a></h6>
                        </li>
                    </ol>
                </div>
                <div class="privacy-content">
                    <h1 class="cookie-policy-title">La Libre Network et vos données</h1>
                    <h3 id="p-I">I. Objet</h3>
                    <p>La présente Politique est établie par La Libre Network, entité du Groupe IPM,  société éditrice du site internet <b>www.lalibrenetwork.be</b>  (ci-après le « site web »), dont le siège social est 79 Rue des Francs à 1140 Etterbeek sous le numéro d’entreprise 0451.728.010.</p>
                    <p>La Libre Network (dans le texte, « nous », « notre » ou éventuellement « le/la nôtre ») a créé le site web afin de proposer des solutions de communications aux entreprises et leur proposer du contenu adapté. Dans le cadre de nos activités nous sommes amenés à traiter des données à caractère personnel concernant nos clients, personnes physiques, ou à toute personne physique en contact avec nous, en ce compris le client potentiel (ci-après « le prospect ».)</p>
                    <p>L’objectif de cette Politique est d&#8217;expliquer comment nous collectons, utilisons et conservons vos données à caractère personnel.</p>
                    <p>La protection des données et le respect de votre vie privée sont des valeurs essentielles pour nous et nous nous engageons à traiter et protéger vos données à caractère personnel de façon loyale et transparente dans le respect de la loi.</p>
                    <p>Nous entendons par « données à caractère personnel » toutes les données à caractère personnel vous concernant, c&#8217;est-à-dire toute information qui permet de vous identifier directement ou indirectement en tant que personne physique. </p>
                    <p>La présente Politique s’inscrit dans notre souhait d’agir en toute transparence, dans le respect de la loi du 8 décembre 1992 relative à la protection de la vie privée à l&#8217;égard des traitements de données à caractère personnel (ci-après dénommée la « loi sur la protection de la vie privée ») et du règlement (UE) 2016/679 du Parlement européen et du Conseil du 27 avril 2016 relatif à la protection des personnes physiques à l’égard du traitement des données à caractère personnel et à la libre circulation de ces données abrogeant la directive 95/46/CE (ci-après dénommé le « règlement général sur la protection des données »). </p>
                    <p>Si vous souhaitez réagir à l&#8217;une des pratiques décrites ci-après, n’hésitez pas à <a href="#p-XI" >nous contacter</a>.</p>
                    <h3 id="p-II">II. Quelles sont les catégories de données à caractère personnel que nous traitons et comment les obtenons nous ?</h3>
                    <table style="width:100%">
                        <tr>
                            <th width="30%">Catégories</th>
                            <th width="30%">Exemples</th>
                            <th>Contexte</th>
                        </tr>
                        <tr>
                            <td>Données d’identification personnelles</td>
                            <td>Le nom, l’adresse ,&#8230;</td>
                            <td>Lors de votre inscription aux alertes email, à l’inscription à notre newsletter ou lors du remplissage du formulaire « contactez-nous ».</td>
                        </tr>
                        <tr>
                            <td>Données d’identification électroniques</td>
                            <td>Numéro de téléphone, email, adresses IP,&#8230;</td>
                            <td>Certaines de ces informations sont collectées via les formulaires en ligne que vous trouvez sur notre site web. D’autres via des cookies nous permettant de vous assurer une meilleure expérience d’utilisation.</td>
                        </tr>
                    </table>
                    <h4>
                        <ol type="A" class="alpha">
                            <li id="p-II-a">Données à caractère non personnel</li>
                        </ol>
                    </h4>
                    <p>Il peut arriver que nous collections des données à caractère non personnel. Ces données sont qualifiées de données à caractère non personnel car elles ne permettent pas de vous identifier directement ou indirectement.</p>
                    <p>Celles-ci pourront dès lors être utilisées à quelques fins que ce soit, par exemple, pour améliorer notre site web, nos produits, cibler nos publicités ou encore perfectionner les services proposés.</p>
                    <h3 id="p-III">III. Pour quelles finalités collectons-nous vos données ?</h3>
                    <p>Nous collectons et traitons vos données à caractère personnel pour les finalités qui sont décrites ci-dessous.</p>
                    <p>Nous avons déterminé ces finalités et veillons à ce que seules les données à caractère personnel nécessaires et pertinentes  dans le respect du principe de minimisation des données  fassent l&#8217;objet d&#8217;un traitement.</p>
                    <p>D’une manière générale, nous basons le traitement de vos données à caractère personnel sur les bases légales suivantes :</p>
                    <ul>
                        <li>Afin de nous conformer à nos obligations légales ;</li>
                        <li>Afin de prendre les mesures préalables et d’exécuter le contrat qui nous lie lorsque vous postez une annonce via notre site web ;</li>
                        <li>Afin de réaliser notre intérêt légitime (dans ce cas nous faisons toujours attention à respecter un équilibre entre notre intérêt et vos droits et libertés) ;</li>
                        <li>Enfin, sur base de votre consentement.</li>
                    </ul>
                    <p>Dans le cas où nous serions amenés à effectuer des traitements qui ne sont pas encore prévus par la présente Politique, nous vous contacterons avant d’utiliser vos données à caractère personnel. Ce contact aura pour objectif de vous informer concernant ce traitement et, le cas échéant, de vous demander votre consentement explicite.</p>
                    <ol type="A" class="alpha">
                        <li id="p-III-a">Le respect de nos obligations légales<br />
                            Dans certains cas nous sommes obligés de traiter vos données à caractère personnel dans le cadre d’obligations légales ou lorsque nous collaborons avec les autorités compétentes. Dans ces cas, nous transmettons vos données à caractère personnel pour satisfaire à nos obligations.
                        </li>
                        <li id="p-III-b">Dans le cadre de notre relation contractuelle<br />
                            Lorsque vous postez une annonce via notre site, un contrat existe entre vous et nous. Dans ce cadre, nous sommes amenés à traiter des données à caractère personnel pour satisfaire à nos obligations contractuelles et pour remplir la mission que vous nous avez fixée. </p>
                            <p>Afin d’exécuter notre contrat, nous traitons vos données à caractère personnel pour les finalités suivantes :</p>
                            <ul type="disc" class="disc">
                                <li>Assurer une réponse à vos demandes ;</li>
                                <li>Assurer des actions de communication et de marketing ;</li>
                                <li>Transmettre vos données à nos partenaires ;</li>
                                <li>Vous contacter pour procéder à une évaluation de nos services ;</li>
                                <li>Vous tenir informé(e) des nouveautés et informations via notre newsletter.</li>
                            </ul>
                        </li>
                        <li id="p-III-c">Dans le cadre de nos intérêts légitimes<br />
                            Dans certains cas, il est de notre intérêt légitime de traiter vos données à caractère personnel.</p>
                            <p>À cet effet, nous veillons toujours à préserver un juste équilibre entre les nécessités de traiter vos données à caractère personnel et le respect de vos droits et libertés, notamment la protection de votre vie privée. </p>
                            <p>Vos données à caractère personnel sont ainsi traitées pour : </p>
                            <ul type="square" class="square">
                                <li>L’identification sur le site web ;</li>
                                <li>La personnalisation de nos services ;</li>
                                <li>La gestion des personnes inscrites sur le site ;</li>
                                <li>La prospection commerciale et la gestion des prospects ;</li>
                                <li>La préparation d&#8217;études, de modèles (de risque, marketing et autres) et de statistiques, en recourant à des techniques d&#8217;anonymisation et/ou de pseudonymisation dès lors que cela est possible ;</li>
                                <li>La préservation de la sécurité des biens et des personnes, la lutte contre la fraude ou les tentatives d'intrusion, d'abus ou d'autres infractions ;</li>
                                <li>La formation de notre personnel à travers l&#8217;utilisation de situations réelles à titre illustratif (nous essayons, autant que faire se peut, d’anonymiser vos données à caractère personnel ) ;</li>
                                <li>L’analyse de vos recherches précédentes afin de personnaliser au mieux nos offres de service pour qu’elles vous correspondent ;</li>
                                <li>L’amélioration de la qualité du service pour les inscrits au site web non liés par un contrat ;</li>
                                <li>La conservation d’une liste des clients ne souhaitant plus être contactés ;</li>
                                <li>L’amélioration des services existants et de l’expérience des utilisateurs (inscrits ou non) du site ;</li>
                                <li>L’organisation de jeux, de concours</li>
                                <li>La transmission d’annonces à vos connaissances (<a href="#p-VII">voyez la partie transfert à de tierces parties</a> ) ;</li>
                                <li>La gestion de vos demandes liées à l’application de vos droits ;</li>
                                <li>La constatation, l’exercice, la défense et la préservation de nos droits.</li>
                            </ul>
                        </li>
                        <li id="p-III-d">Le consentement Lorsque vous vous inscrivez sur notre site web suite aux formulaires ou à une newsletter, nous vous demandons de prendre connaissance et d’accepter que nous traitions vos données à caractère personnel conformément à la présente Politique.
                            <p>Nous traiterons donc vos données à caractère personnel sur base de votre consentement aux fins de :</p>
                            <ul type="disc" class="disc">
                                <li>Vous envoyer une newsletter rédactionnelle spécialisée ;</li>
                                <li>Vous envoyer des alertes contenant des annonces personnalisées en tenant compte de vos préférences ;</li>
                                <li>Transmettre vos données de contact aux sociétés du Groupe IPM afin qu’elles vous contactent pour vous proposer des offres commerciales ;</li>
                                <li>Transmettre vos données de contact à nos partenaires tiers afin qu’ils vous contactent pour vous proposer des offres commerciales ;</li>
                                <li>Vous contacter afin de vous faire connaître nos nouveaux services.</li>
                            </ul>
                            <p>Dès lors que vous nous aviez donné votre accord pour l’envoi de newsletter via notre site, nous estimons que vous continuez à accepter que nous vous contactions à cette fin. Notez bien que vous avez le <a href="#p-v-b">droit de retirer votre consentement</a> relativement au traitement des données à caractère personnel à tout moment.
                        </li>
                        <li id="p-III-e">Profilage et traitements automatisés
                            <p>Afin de vous assurer une meilleure expérience utilisateur, nous utilisons la technique du profilage permettant de vous associer à vos différentes préférences. </p>
                            <p>Dès que possible, nous n’utiliserons seulement que des données anonymisées ou pseudonymisées.</p>
                            <p>Le profilage est toute forme de traitement automatisé de données à caractère personnel consistant à utiliser ces données pour évaluer certains aspects personnels relatifs à une personne physique, notamment pour analyser ou prédire des éléments concernant le rendement au travail, la situation économique, la santé, les préférences personnelles, les intérêts, la fiabilité, le comportement, la localisation ou les déplacements de cette personne physique. </p>
                            <p>Dans les cas où nous utilisons vos données à caractère personnel pour procéder à un profilage, nous nous assurons qu’aucune décision ayant des effets juridiques ou vous affectant de manière significative de façon similaire ne soit prise.
                        </li>
                    </ol>
                    <h3 id="p-IV">IV. Combien de temps gardons-nous vos données à caractère personnel ?</h3>
                    <p>De manière générale, nous veillons à ne pas conserver vos données à caractère personnel au-delà du temps nécessaire au regard des finalités pour lesquelles celles-ci ont été collectées.</p>
                    <p>Plus précisément, il convient de distinguer plusieurs situations pour déterminer la durée de rétention de vos données à caractère personnel. Ces différentes hypothèses sont reprises dans le tableau ci-dessous.</p>
                    <table style="width:100%">
                        <tr>
                            <th width="30%">Situation</th>
                            <th>Durée de rétention</th>
                        </tr>
                        <tr>
                            <td>Vous êtes inscrits sur le site web</td>
                            <td>Nous gardons vos données à caractère personnel pendant toute la durée de votre inscription afin de vous offrir le meilleur service possible.</td>
                        </tr>
                        <tr>
                            <td>Vous êtes inscrits sur le site web et à nos newsletters</td>
                            <td>Nous gardons vos données à caractère personnel pendant toute la durée de votre inscription afin de vous offrir le meilleur service possible et à vous informer quant aux nouveautés sur les thématiques liées au monde de l’entreprise.</td>
                        </tr>
                        <tr>
                            <td>Vous vous êtes désinscrits du site web, de nos newsletters ou de nos alertes emails.</td>
                            <td>Dans ce cas nous conserverons vos données pendant <b>trois ans</b> à compter de votre désinscription. Ensuite, celles-ci seront détruites.</td>
                        </tr>
                    </table>
                    <p>Au terme de l’écoulement de la période de rétention, nous mettons tout en œuvre pour vous assurer que les données personnelles ont bien été rendues indisponibles et inaccessibles.</p>
                    <h3 align="center">Vos droits au regard du RGPD</h3>
                    <h3 id="p-V">V. Accès, retrait, rectification, effacement, portabilité, limitation et opposition</h3>
                    <p>Vos droits au sens de la réglementation vous permettent de garder la maîtrise de ce que nous faisons de vos données à caractère personnel.</p>
                    <p id="p-v-a">A Droit d’accès et copie</p>
                    <p>Ce droit d’accès aux données que nous possédons sur vous s’applique pour toutes les finalités que nous avons reprises ci-dessus.</p>
                    <p>Ce droit vous permet notamment de nous demander si nous traitons vos données à caractère personnel, à quelles fins, les catégories de données concernées, ainsi que les destinataires de vos données.</p>
                    <p>Vous pouvez également nous demander une copie de l’ensemble des données à caractère personnel que nous traitons et qui vous concerne.</p>
                    <ol type="A" start="6" class="alpha">
                        <li id="p-v-b">Droit au retrait de votre consentement<br />
                            Dès lors que nous traitons vos données à caractère personnel sur la base légale du consentement, vous pouvez toujours retirer votre consentement.</li>
                        <li id="p-v-c">Droit de rectification<br />
                            Vous possédez également un droit de rectification vous permettant de nous demander, à tout moment, de modifier les informations qui sont inexactes, incomplètes ou obsolètes.</li>
                        <li id="p-v-d">Droit à l’oubli<br />
                            <p>Vous pouvez obtenir l’effacement de vos données à caractère personnel lorsque l’un des motifs suivants s’applique :</p>
                            <ul class="circle">
                                <li>Les données ne sont plus nécessaires au regard des finalités du traitement ;</li>
                                <li>Vous retirez votre consentement quant au traitement de vos données et nous ne basons ce traitement que sur la base juridique de votre consentement ;</li>
                                <li>Vous vous <a href="#p-v-g">opposez</a> au traitement ;</li>
                                <li>Nous avons traité vos données à caractère personnel de manière illicite ;</li>
                                <li>Dans le cas où les données que nous possédons sont incomplètes, inexactes ou obsolètes ;</li>
                                <li>Nous devons effacer vos données à caractère personnel afin de respecter une obligation légale (du droit de l&#8217;Union ou du droit de l&#8217;État membre) auquel nous sommes soumis.</li>
                            </ul>
                        </li>
                        <li id="p-v-e">Le droit à la portabilité<br />
                            Dans le cas où nous traitons vos données à caractère personnel sur base d’un contrat ou de votre consentement, vous pouvez nous demander de vous transférer l’ensemble de vos données à caractère personnel ou encore de les transférer à un autre responsable de traitement.
                        </li>
                        <li id="p-v-f">Droit à la limitation du traitement<br />
                            <p>Dans certains cas, vous pouvez aussi nous demander de limiter le traitement de vos données à caractère personnel.</p>
                            <p>    Les situations dans lesquelles vous pouvez nous demander de limiter le traitement de vos données à caractère personnel sont les suivantes :</p>
                            <ul class="circle">
                                <li>Si vous contestez l’exactitude d’une donnée à caractère personnel le temps que nous puissions vérifier l’exactitude de cette donnée ;</li>
                                <li>Si nous traitons vos données à caractère personnel de manière illicite et que vous préférez que nous limitions ce traitement plutôt que l’effacement de vos données à caractère personnel.<br />
                                    Évidemment, dès lors que la limitation du traitement n’est plus d’application, nous vous en informerons.
                                </li>
                            </ul>
                        </li>
                        <li id="p-v-g">Droit d’opposition
                            <p>   Comme nous l’avons expliqué, nous vous demandons votre accord pour vous adresser des informations commerciales, de la publicité ou des propositions personnalisées (par le biais d’actions de marketing direct ou des newsletters électroniques).</p>
                            <p>   Vous avez le droit, si vous ne souhaitez pas ou plus que nous vous envoyons de telles communications, de vous opposer au traitement de vos données à caractère personnel pour ces finalités.
                        </li>
                    </ol>
                    <h3 id="p-VI">VI. Comment exercer vos droits ?</h3>
                    <p id="p-vi-a">A Identification<br />
                        Afin de pouvoir vous aider à faire respecter vos droits, nous devons vérifier que votre demande concerne bien vos données à caractère personnel. </p>
                    <p>Dans cette optique, nous procéderons à une vérification de votre identité via l’envoi d’un lien unique par email nous permettant de nous assurer de votre identité.</p>
                    <ol type="A" start="12" class="alpha">
                        <li id="p-vi-b">Dans quel délai nous vous répondons ?<br />
                            Nous nous engageons à revenir vers vous le plus vite possible et, au plus tard, dans le mois de votre demande.</p>
                            <p>Nous pourrions être obligés d’étendre cette période à deux mois dans le cas où votre demande est complexe et que nous sommes confrontés à un excès de demandes. Si un telle situation venait à se produire, nous vous informerons des raisons de ce retard.
                        </li>
                    </ol>
                    <h3 align="center">Généralités</h3>
                    <h3 id="p-VII">VII. Transfert à des parties tierces</h3>
                    <p id="p-vii-a">En fonction de vos choix et des nécessités liées à l’accomplissement de notre contrat, il se peut que nous transférions vos données à caractère personnel à nos sous-traitants, à nos partenaires du groupe IPM ou à nos partenaires commerciaux tiers.</p>
                    <p id="p-vii-b">A Au sein du groupe IPM<br />
                        Si vous nous donnez votre accord pour ce faire, nous transmettrons vos données de contact (adresse email et nom) à d’autres sociétés du groupe IPM. Celles-ci pourront dès lors vous contacter afin que vous puissiez prendre connaissance de leurs offres et des opportunités qu’elles proposent. Vous pouvez définir vos choix via <a href="#p-VIII">le centre de préférence</a>.</p>
                    <ol type="A" start="13" class="alpha">
                        <li id="p-vii-c">A nos partenaires commerciaux, tiers<br />
                            Dans l’hypothèse où vous y consentez spécifiquement nous transmettons à nos partenaires commerciaux vos données de contact (adresse email et nom) afin qu’ils puissent vous contacter pour vous proposer des offres qui correspondent à vos centres d’intérêts définis dans <a href="#p-VIII">le centre de préférence</a>.</li>
                        <li id="p-vii-e">Transmission pour une obligation légale ou par ordre d’une autorité compétente<br />
                            Comme déjà expliqué, dans certains cas nous serons amenés à transmettre vos données à caractère personnel pour nous plier à une obligation légale, une décision judiciaire ou une demande de toute autorité compétente.</li>
                    </ol>
                    <h3 id="p-VIII">VIII. Le centre de préférence</h3>
                    <p>Au sein du groupe IPM dont nous faisons partie, nous accordons une grande importance à votre vie privée et à la transparence quant aux traitements de donner à caractère personnel qui y sont relatifs. Nous voulons d’ailleurs être certains que vous puissiez accéder aux informations qui vous intéressent. A cette fin nous avons développé « un centre de préférence » accessible via l’ensemble des sites internet du Groupe IPM. Cette application personnelle (l’accès y étant sécurisé via l’usage d’un code personnel) doit vous permettre de contrôler les informations que nous vous envoyons ou que nos partenaires tiers vous envoient.</p>
                    <p>Dans cette interface, vous aurez la possibilité de choisir les traitements que nous pouvons effectuer sur vos données à caractère personnel (envoi de newsletter pour chaque marque, transfert de données aux tiers, &#8230;).</p>
                    <p>Vous aurez ainsi un contrôle direct sur vos données à caractère personnel ce qui vous permettra de les mettre à jour.</p>
                    <h3 id="p-IX">IX. Sécurité des données</h3>
                    <p>Nous mettons en œuvre les mesures techniques et organisationnelles appropriées afin de garantir un niveau de sécurité adéquat quant au traitement de vos données à caractère personnel. Ce niveau de sécurité est établi sur base des risques présentés par le traitement et la nature des données à protéger. </p>
                    <p>Nous avons mis en place des mesures de sécurité appropriées pour protéger vos données à caractère personnel, notamment, contre la perte, le vol, l’usage abusif ou l’altération des informations reçues, la divulgation ou l’utilisation non autorisée de vos données à caractère personnel.</p>
                    <p>Dans l’éventualité improbable et malheureuse où vos données à caractère personnel que nous contrôlons devaient être compromises en raison d&#8217;une violation de la sécurité de l&#8217;information nous nous engageons à agir rapidement afin d’identifier la cause de cette violation et à prendre les mesures de remédiation adéquates. </p>
                    <p>Si nécessaire, conformément à la loi en vigueur, nous vous informerons de cet incident. </p>
                    <h3 id="p-X">X. Réclamation et plainte</h3>
                    <p>Si vous souhaitez réagir à l&#8217;une des pratiques décrites dans la présente Politique, nous vous conseillons de nous <a href="#p-XI">contacter directement</a> afin de voir comment nous pouvons vous aider.</p>
                    <p>Vous pouvez également introduire une réclamation auprès de l’Autorité de protection des données à l’adresse suivante : </p>
                    <h4>Autorité de protection des Données</h4>
                    <p>Rue de la Presse, 35<br />
                        1000 Bruxelles<br />
                        Tél. + 32 2 274 48 00<br />
                        Fax. + 32 2 274 48 35<br />
                        <a href="mailto:commission@privacycommission.be">commission@privacycommission.be</a></p>
                    <p>En outre, vous avez toujours la possibilité de porter plainte devant le Tribunal de premier instance de Bruxelles.</p>
                    <p>Pour de plus amples informations sur les plaintes et voies de recours possibles, nous vous invitons à consulter les informations disponibles sur le site de l’Autorité de protection des données : https://www.privacycommission.be/de/node/19254</p>
                    <h3 id="p-XI">XI. Comment nous contacter ?</h3>
                    <p>Pour toute question et/ou réclamation concernant la présente Politique, n’hésitez pas à nous contacter. </p>
                    <ul style="list-style-type:none;">
                        <li><i class="fa fa-envelope" aria-hidden="true"></i>: <a href="mailto:privacy@ipmgroup.be">privacy@ipmgroup.be</a></li>
                        <li><i class="fa fa-desktop" aria-hidden="true"></i>: www.lalibrenetwork.be</li>
                        <li><i class="fa fa-home" aria-hidden="true"></i>: Rue des Francs, 79 à 1040 Bruxelles – Belgique</li>
                    </ul>
                    <h3 id="p-XII">XII. Modification</h3>
                    <p>Nous nous réservons le droit de modifier à tout moment les dispositions de la présente Politique. Nous publierons les modifications directement sur notre site web.</p>
                    <h3 id="p-XIII">XIII. Droit applicable et juridiction compétente </h3>
                    <p>La présente Politique est régie par le droit belge.</p>
                    <p>Tout litige relatif à l’interprétation ou l’exécution de la présente Politique sera soumis au droit belge et relèvera de la compétence exclusive des tribunaux francophones de l’arrondissement judiciaire de Bruxelles.</p>
                    <p>La présente version de la Politique entre en vigueur et a été mise à jour en date du 25 mai 2018.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            var $root = $('html, body');

            $('a[href^="#"]').click(function () {
                console.log($($(this).attr('href')).offset().top);
                var top = parseFloat($($(this).attr('href')).offset().top) - parseFloat($('.header').outerHeight());
                $root.animate({
                    scrollTop: top
                }, 500);

                return false;
            });
        });
    </script>
{% endblock %}