{% extends 'StaticBundle::layout.html.twig' %}

{% block body %}

    <div class="banner">
        <div class="inner_bnr_blk">
            <div class="col-xs-12 logo_inner fup visible animated fadeInUp">
                <img src="{{ asset('assets/static/images/logo-big.png') }}" alt="">
            </div>
        </div>
    </div>

    <div class="blk_5">
        <div class="container">
            <div class="row">

                <div class="five_inner">
                    <h2>La Libre Network soutient les Startup !</h2>

                    <div class="price_list price_list_solo col-xs-12">

                        <div class="price_tab price_tab_solo">
                            <h3>Silver</h3>
                            <div class="price_tag">
                                <h4><em>€</em> 1.950 <del> 2.500 </del></h4>
                                <span>HTVA</span>
                            </div>
                            <ul>
                                <li>
                                    <div class="abs_pr"><img src="{{ asset('assets/static/images/tixk.png') }}" alt=""/></div>
                                    Article sur base questionnaire
                                </li>
                                <li>
                                    <div class="abs_pr"><img src="{{ asset('assets/static/images/tixk.png') }}" alt=""/></div>
                                    Optimisation SEO de l'article
                                </li>
                                <li>
                                    <div class="abs_pr"><img src="{{ asset('assets/static/images/tixk.png') }}" alt=""/></div>
                                    1 an de visibilité sur La Libre Network
                                </li>
                                <li>
                                    <div class="abs_pr"><img src="{{ asset('assets/static/images/tixk.png') }}" alt=""/></div>
                                    Diffusion de l'article sur nos réseaux sociaux
                                </li>
                                <li>
                                    <div class="abs_pr">1</div>
                                    Crédit Article
                                </li>
                                <li>
                                    <div class="abs_pr"><img src="{{ asset('assets/static/images/wrong.png') }}" alt=""/></div>
                                    Crédit Remise en Une
                                </li>
                                <li>
                                    <div class="abs_pr"><img src="{{ asset('assets/static/images/wrong.png') }}" alt=""/></div>
                                    Crédit publication  print 'La Libre Network'
                                </li>
                            </ul>
                            <ul>
                                <li>
                                    <div class="abs_pr"><img src="{{ asset('assets/static/images/tixk.png') }}" alt=""/></div>
                                    Membership réseau Network
                                </li>
                                <li>
                                    <div class="abs_pr"><img src="{{ asset('assets/static/images/tixk.png') }}" alt=""/></div>
                                    Participation à l'intelligence collective
                                </li>
                                <li>
                                    <div class="abs_pr"><img src="{{ asset('assets/static/images/tixk.png') }}" alt=""/></div>
                                    Accès à toutes les informations
                                </li>
                                <li>
                                    <div class="abs_pr"></div>
                                    (site, Newsletter, plateformes privées, …)
                                </li>
                                <li>
                                    <div class="abs_pr">5</div>
                                    Crédits événements (conférences, petits-déjeuners, workshops, formations, etc)
                                </li>
                            </ul>
                        </div>

                        <div class="condition">
                          <h3>Nous proposons aux startups notre pack « Silver » <br>au prix de € 1950 <span>HTVA</span>.</h3>
                          <p>Afin de bénéficier de cet avantage vous devez satisfaire à nos critères* d’éligibilité</p>
                          <ol class="condition-list">
                            <li>Être actif depuis moins de 36 mois</li>
                            <li>Avoir un chiffre d’affaire ne dépassant pas les € 350 000</li>
                            <li>Être en situation de « cash drain » ou avoir un EBITDA négatif</li>
                            <li>Développer ou commercialiser un produit ou service innovant !</li>
                          </ol>
                          <a class="btn" href="{{ path('become_member') }}">Faites votre demande dès maintenant !</a>
                          <span class="nb">* Chaque demande sera examinée sur une base discrétionnaire.</span>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

{% endblock %}
