{% extends 'StaticBundle::layout.html.twig' %}

{% block body %}
    <div class="banner">
        <div class="inner_bnr_blk">
            <div class="col-xs-12 logo_inner fup visible animated fadeInUp">
                <img src="{{ asset('assets/static/images/logo-big.png') }}" alt="">
            </div>
        </div>
    </div>

    <div class="blk_2 dcm_content">
        <div class="container">
            <div class="row">
                <div class="two_inner">
                    <h1>{{ 'user_question.heading'|trans }}</h1>
                    <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2 deve_li fup visible animated fadeInUp">
                        <div class="dcm_form">

                            {{ form_start(form, {'attr': {'id': 'registration-form', 'class': 'form has-validation-callback'}}) }}
                            <fieldset>
                                <!-- Col Nom Prenom Email Telephone -->
                                <div class="row">
                                    {#<label class="col-xs-12 col-md-12" for="">Société</label>#}
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            {{ form_widget(form.nom, {'attr': {'class': 'form-control', 'placeholder': 'user_question.name'|trans, 'data-validation': 'required'}}) }}
                                            {{ form_errors(form.nom) }}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            {{ form_widget(form.prenom, {'attr': {'class': 'form-control', 'placeholder': 'user_question.first_name'|trans, 'data-validation': 'required'}}) }}
                                            {{ form_errors(form.prenom) }}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            {{ form_widget(form.entreprise, {'attr': {'class': 'form-control', 'placeholder': 'user_question.entreprise'|trans}}) }}
                                            {{ form_errors(form.entreprise) }}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            {{ form_widget(form.phone, {'attr': {'class': 'form-control', 'placeholder': 'user_question.phone'|trans, 'data-validation': 'bephone'}}) }}
                                            {{ form_errors(form.phone) }}
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': 'user_question.email'|trans, 'data-validation': 'email'}}) }}
                                            {{ form_errors(form.email) }}
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            {{ form_widget(form.commentaire, {'attr': {'class': 'form-control', 'placeholder': 'user_question.comment'|trans, 'data-validation': 'required', 'rows': '5'}}) }}
                                            {{ form_errors(form.commentaire) }}
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            {{ form_widget(form.recaptcha) }}
                                            {{ form_errors(form.recaptcha) }}
                                            <script src='https://www.google.com/recaptcha/api.js?hl={{ app.request.locale }}' async defer></script>
                                        </div>
                                        <p class="dcm_info">{{ 'mandatory_message'|trans }}</p>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            {{ form_widget(form.submit, {'attr': {'class': 'dcm_button btn-xl'}}) }}
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            {{ form_end(form) }}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}