{% extends 'StaticBundle::layout.html.twig' %}

{% block body %}
    <div class="banner">
        <div class="inner_bnr_blk">
            <div class="col-xs-12 logo_inner fup visible animated fadeInUp">
                <img src="{{ asset('assets/static/images/logo-big.png') }}" alt="">
            </div>
        </div>
    </div>

    <div class="blk_2 dcm_content">
        <div class="container">
            <div class="row">
                <div class="two_inner">
                    <h1>{{ 'user_company.heading'|trans }}</h1>
                    <p class="intro_form">En tant que spécialiste SEO/SEA, vous êtes continuellement en recherche de solutions à même d’améliorer la visibilité de vos clients. La Libre Network est l’une de ces solutions, en apportant une visibilité importante à l’article de présentation d’une entreprise, mais également en améliorant le ranking du site web de l’entreprise.</p>
                    <p class="intro_form">Nous sommes en contact avec de nombreuses entreprises, et notre mission dans le cadre de La Libre Network est de les sensibiliser aux enjeux du SEO. Pour que nous puissions aiguiller nos client vers une gamme complète de produits, nous pensons qu’il est important de nouer des collaborations avec des agences spécialistes de ce secteur. Nous vous invitons donc à prendre contact avec nous en remplissant le formulaire ci-dessous.</p>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3 deve_li fup visible animated fadeInUp">
                        <div class="dcm_form">

                            {{ form_start(form, {'attr': {'id': 'registration-form', 'class': 'form has-validation-callback'}}) }}
                            <fieldset>
                                <!-- Col Nom Prenom Email Telephone -->
                                <div class="row">
                                    {#<label class="col-xs-12 col-md-12" for="">Société</label>#}
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            {{ form_widget(form.nom, {'attr': {'class': 'form-control', 'placeholder': 'user_question.name'|trans, 'data-validation': 'required'}}) }}
                                            {{ form_errors(form.nom) }}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            {{ form_widget(form.prenom, {'attr': {'class': 'form-control', 'placeholder': 'user_question.first_name'|trans, 'data-validation': 'required'}}) }}
                                            {{ form_errors(form.prenom) }}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            {{ form_widget(form.entreprise, {'attr': {'class': 'form-control', 'placeholder': 'user_company.entreprise'|trans, 'data-validation': 'required'}}) }}
                                            {{ form_errors(form.entreprise) }}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            {{ form_widget(form.phone, {'attr': {'class': 'form-control', 'placeholder': 'user_question.phone'|trans, 'data-validation': 'bephone'}}) }}
                                            {{ form_errors(form.phone) }}
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': 'user_question.email'|trans, 'data-validation': 'email'}}) }}
                                            {{ form_errors(form.email) }}
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            {{ form_widget(form.recaptcha) }}
                                            {{ form_errors(form.recaptcha) }}
                                            <script src='https://www.google.com/recaptcha/api.js?hl={{ app.request.locale }}' async defer></script>
                                        </div>
                                        <p class="dcm_info">{{ 'mandatory_message'|trans }}</p>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            {{ form_widget(form.submit, {'attr': {'class': 'dcm_button btn-xl'}}) }}
                                        </div>
                                    </div>
                                </div>

                            </fieldset>
                            {{ form_end(form) }}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
