{% extends 'StaticBundle::layout.html.twig' %}

{% block body %}
    <div class="banner">
        <div class="inner_bnr_blk">
            <div class="col-xs-12 logo_inner fup visible animated fadeInUp">
                <img src="{{ asset('assets/static/images/logo-big.png') }}" alt="la libre network logo">
            </div>
        </div>
    </div>

    <div class="blk_2 dcm_content dcm_thanks">
        <div class="container">
            <div class="row">
                <div class="two_inner">
                    <h1>Merci pour votre intérêt !</h1>
                    <h2>Nous vous recontacterons dans les plus brefs délais.</h2>
                    <div class="line_blk" style="margin-top:25px;">
                        <div class="line_a_blk">
                            <a href="{{ path('static_homepage') }}">Retour à l'accueil</a>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
{% endblock %}