{% trans_default_domain 'FOSUserBundle' %}

<div class="login-page">
    <div class="login-bg-color"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                <div class="login-block text-center">
                    <a href="#" class="logo-login">
                        <img src="{{ asset('assets/images/login-logo.png') }}" alt="">
                    </a>
                    <span class="login-title">{{ 'login_heading'|trans }}</span>
                    {% if error %}
                        <p class="has-error">{{ error.messageKey|trans(error.messageData, 'security') }}</p>
                    {% endif %}
                    <form action="{{ path("fos_user_security_check") }}" method="post">
                        {% if csrf_token %}
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                        {% endif %}
                        <div class="row">
                            <div class="col-sm-10 col-sm-offset-1">
                                <input type="text" id="username" placeholder="{{ 'form.email'|trans }}" name="_username" value="{{ last_username }}" required="required" class="form-control login-email-inputs"/>
                                <input type="password" id="password" placeholder="{{ 'form.password'|trans }}" name="_password" required="required" class="form-control login-pw-inputs"/>
                                <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" class="btn btn-lg login-btn light-blue"/>
                                <br>
                                <a href="{{ path('fos_user_resetting_request') }}" class="forgot-link">{{ 'forget_password'|trans }}</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
