{% extends "@FOSUser/default/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
<div class="login-page">
    <div class="login-bg-color"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                <div class="login-block text-center">
                    <a href="#" class="logo-login">
                        <img src="{{ asset('assets/images/login-logo.png') }}" alt="">
                    </a>
                    <p class="mt-30">
                        {{ 'resetting.check_email'|trans({'%tokenLifetime%': tokenLifetime})|nl2br }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
