{% trans_default_domain 'FOSUserBundle' %}

<div class="login-page">
    <div class="login-bg-color"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                <div class="login-block text-center">
                    <a href="#" class="logo-login">
                        <img src="{{ asset('assets/images/login-logo.png') }}" alt="">
                    </a>
                    <span class="login-title">{{ 'forget_password'|trans }}</span>
                    <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
                        <div class="row">
                            <div class="col-sm-10 col-sm-offset-1">
                                <input type="text" id="username" placeholder="E-mail" name="username" required="required" class="form-control login-email-inputs" />

                                <div class="g-recaptcha" data-sitekey="{{ google_recaptcha.site_key }}"></div>
                                <script src='https://www.google.com/recaptcha/api.js' async defer></script>

                                {% if errors is defined and errors|length > 0 %}
                                    <div class="has-error text-left">
                                        {% for error in errors %}
                                            {{ error.message }}
                                            {%- if loop.last != true -%}
                                                ,
                                            {%- endif -%}
                                        {% endfor %}
                                    </div>
                                {% endif %}

                                <input type="submit" value="{{ 'resetting.request.submit'|trans }}" class="btn btn-lg login-btn light-blue mt-30" />
                                <br>
                                <a href="{{ path('fos_user_security_login') }}" class="forgot-link">{{ 'login_heading'|trans }}</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
