{% trans_default_domain 'FOSUserBundle' %}

<div class="login-page">
    <div class="login-bg-color"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                <div class="login-block text-center">
                    <a href="#" class="logo-login">
                        <img src="{{ asset('assets/images/login-logo.png') }}" alt="">
                    </a>
                    <span class="login-title">{{ 'reset_password'|trans }}</span>
                    {{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': { 'class': 'fos_user_resetting_reset' } }) }}
                        <div class="row">
                            <div class="col-sm-10 col-sm-offset-1">
{{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control login-pw-inputs', 'placeholder': 'form.new_password'|trans } }) }}
{{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control  login-pw-inputs', 'placeholder': 'form.password_confirmation'|trans}}) }}
<input type="submit" value="{{ 'resetting.reset.submit'|trans }}" class="btn btn-lg login-btn light-blue" />
                            </div>
                        </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</div>
