<a href="#" class="btn light-green btn-lg mb-20 hidden" data-toggle="modal" id="flashMessage" data-target="#flashMessageModal"></a>

{% if is_granted('ROLE_CUSTOMER') %}
    {% for msg in app.session.flashBag.get('success') %}
        <div class="modal fade" id="flashMessageModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <h2 class="text-center popup-title mb-30 mt-10">{{ 'flash_message.thanks'|trans }}</h2>
                        <p class="text-center">
                            {{ msg }}
                        </p>
                        <div class="text-center"><i class="fa fa-check popup-okay-icon"></i></div>
                        <div class="text-center">
                            <a class="btn light-blue" data-dismiss="modal">Ok</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

    {% for msg in app.session.flashBag.get('error') %}
        <div class="modal fade" id="flashMessageModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <h2 class="text-center popup-title mb-30 mt-10">{{ 'flash_message.error'|trans }}</h2>
                        <p class="text-center">
                            {{ msg }}
                        </p>
                        <div class="text-center"><i class="fa fa-times-circle popup-okay-icon popup-error-icon"></i></div>
                        <div class="text-center">
                            <a class="btn light-blue" data-dismiss="modal">{{ 'ok'|trans }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% else %}
    {% for msg in app.session.flashBag.get('success') %}
        <div class="row">
            <div class="col-sm-12">
                <div class="alert alert-success">
                    <div class="media">
                        <div class="media-left"><i class="fa fa-info-circle"></i></div>
                        <div class="media-body">
                            <strong>{{ 'success'|trans }}!</strong> {{ msg }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

    {% for msg in app.session.flashBag.get('error') %}
        <div class="row">
            <div class="col-sm-12">
                <div class="alert alert-success">
                    <div class="media">
                        <div class="media-left"><i class="fa fa-info-circle"></i></div>
                        <div class="media-body">
                            <strong>{{ 'warning'|trans }}!</strong> {{ msg }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endif %}