<header id="header">
    <nav class="navbar navbar-fixed-top top-bar">
        {% if app.user.company and app.user.company.status != constant('EntityBundle\\Entity\\Company::ACTIVE') %}
            <div class="warning-top-strip">
                <i class="fa fa-exclamation-triangle"></i> {{ "company_subscription_ended_note"|trans }}
            </div>
        {% endif %}
        <div class="container">
            <ul class="top-right-links">
                <li>
                    {% if app.user.company is not empty %}
                    <a href="#" class="btn light-blue credit-btn">{{ app.user.company.availableArticles }} {{ 'credit.article'|trans }}</a>
                    {% endif %}
                </li>
                <li><a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-circle-thin"></i></a></li>
            </ul>
            <div class="fix-left">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <img src="{{ asset('assets/images/responsive-btn.png') }}" alt="">
                    </button>
                    <a class="navbar-brand" href="{{ path('homepage') }}"><img src="{{ asset('assets/images/logo.png') }}" alt="logo" title="La Libre Network"></a>
                </div>
                <div class="profile-name">{{ app.user.name }}</div>
                <div id="navbar" class="collapse navbar-collapse left-panel-navigation">
                    <div class="scrollbar-inner no3">
                        <ul class="nav navbar-nav scroll-wrapper ">
                            <li {% if  app.request.attributes.get('_route') == 'article_list' %}class="active" {% endif %}><a href="{{ path('article_list') }}"><img src="{{ asset('assets/images/article-icon.png') }}" alt=""> {{ 'my.article'|trans }}</a></li>
                            <li {% if  app.request.attributes.get('_route') == 'company_profile' %}class="active" {% endif %}><a href="{{ path('company_profile') }}"><img src="{{ asset('assets/images/profile-icon.png') }}" alt=""> {{ 'my.profile'|trans }}</a></li>

                            <li {% if  app.request.attributes.get('_route') == 'view_credit_log' %}class="active" {% endif %} ><a href="{{ path('view_credit_log') }}"><img src="{{ asset('assets/images/agenda-icon.png') }}" alt="">{{ 'credit_log'|trans }}</a></li>
                            <li {% if  app.request.attributes.get('_route') == 'front_change_password' %}class="active" {% endif %}>
                                <a href="{{ path('fos_user_change_password') }}"><i class="fa fa-key"></i> {{ 'password_change'|trans }}</a>
                            </li>
                        </ul>
                    </div>
                </div><!--/.nav-collapse -->
                <div class="copyright-section">
                    <span>{{ 'version'|trans }}</span>
                </div>
            </div>
        </div>
    </nav>
</header>