<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{{ asset('assets/images/favicon.ico') }}">

    <title>La Libre</title>

    {% block stylesheets %}
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i" rel="stylesheet">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('assets/css/style.css') }}" rel="stylesheet">
        <link href="{{ asset('assets/css/custom.css') }}" rel="stylesheet">
    {% endblock %}
</head>
<body>
    <div class="loading-img hidden" id="loader_image"><img src="{{ asset('assets/images/loader-image.svg') }}"></div>
    {% if app.user and app.request.get('_route') != 'fos_user_security_login' %}
        {% include 'FrontBundle::header.html.twig' %}
    {% endif %}
    {% block body %}
    {% endblock %}
    {% include 'FrontBundle::flash_messages.html.twig' %}
    {% block javascript %}
        <!-- Bootstrap core JavaScript ================================================== -->
        <script src="{{ asset('assets/js/jquery-3.2.1.min.js') }}"></script>
        <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>

        <script type="text/javascript">
            $(document).ready(function () {
                {% if app.session.flashBag is not empty %}
                    $('#flashMessage').click();
                {% endif %}
            });
        </script>
        <script src="{{ asset('assets/js/custom.js') }}"></script>
    {% endblock %}
</body>

</html>