<div class="col-md-6">
    <div class="form-group mb-30">
        {{ form_label(form.name) }}
        {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.name) }}
    </div>
</div>
<div class="col-md-6">
    <div class="form-group mb-30">
        {{ form_label(form.email) }}
        {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.email) }}
    </div>
</div>
<div class="col-md-7">
    <div class="form-group mb-30">
        {{ form_label(form.jobTitle) }}
        {{ form_widget(form.jobTitle, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.jobTitle) }}
    </div>
</div>