{% extends 'AdminBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/jquery-ui.css') }}">
{% endblock %}

{% block body %}
    <div class="right-panel">
        <div class="main-box mb-30">
            <div class="title-block">
                <h1>{{ 'company.create'|trans }}</h1>
            </div>
            <div class="main-content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2 mb-30 mt-30">
                            {% include 'AdminBundle::flash_messages.html.twig' %}
                            {{ form_start(form) }}
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group mb-30">
                                            {{ form_label(form.name) }}<span class="has-error">*</span>
                                            {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                                            {{ form_errors(form.name) }}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group mb-30">
                                            {{ form_label(form.currentSubscription) }}<span class="has-error">*</span>
                                            {{ form_widget(form.currentSubscription, {'attr': {'class': 'form-control chosen-select'}}) }}
                                            {{ form_errors(form.currentSubscription) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group mb-30">
                                            {{ form_label(form.addressLine1) }}<span class="has-error">*</span>
                                            {{ form_widget(form.addressLine1, {'attr': {'class': 'form-control'}}) }}
                                            {{ form_errors(form.addressLine1) }}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group mb-30">
                                            {{ form_label(form.addressLine2) }}<span class="has-error">*</span>
                                            {{ form_widget(form.addressLine2, {'attr': {'class': 'form-control'}}) }}
                                            {{ form_errors(form.addressLine2) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group mb-30">
                                            {{ form_label(form.subscriptionStartDate) }}<span class="has-error">*</span>
                                            {{ form_widget(form.subscriptionStartDate, {'attr': {'class': 'form-control datepicker'}}) }}
                                            {{ form_errors(form.subscriptionStartDate) }}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group mb-30">
                                            {{ form_label(form.subscriptionEndDate) }}<span class="has-error">*</span>
                                            {{ form_widget(form.subscriptionEndDate, {'attr': {'class': 'form-control datepicker'}}) }}
                                            {{ form_errors(form.subscriptionEndDate) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group mb-30">
                                            {{ form_label(form.vat) }}<span class="has-error">*</span>
                                            {{ form_widget(form.vat, {'attr': {'class': 'form-control'}}) }}
                                            {{ form_errors(form.vat) }}
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group mb-30">
                                            {{ form_label(form.phone) }}<span class="has-error">*</span>
                                            {{ form_widget(form.phone, {'attr': {'class': 'form-control'}}) }}
                                            {{ form_errors(form.phone) }}
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group mb-30">
                                            {{ form_label(form.city) }}<span class="has-error">*</span>
                                            {{ form_widget(form.city, {'attr': {'class': 'form-control'}}) }}
                                            {{ form_errors(form.city) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    {#<div class="col-md-4">
                                        <div class="form-group mb-30">
                                            {{ form_label(form.state) }}<span class="has-error">*</span>
                                            {{ form_widget(form.state, {'attr': {'class': 'form-control'}}) }}
                                            {{ form_errors(form.state) }}
                                        </div>
                                    </div>#}
                                    <div class="col-md-4">
                                        <div class="form-group mb-30">
                                            {{ form_label(form.country) }}<span class="has-error">*</span>
                                            {{ form_widget(form.country, {'attr': {'class': 'form-control'}}) }}
                                            {{ form_errors(form.country) }}
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group mb-30">
                                            {{ form_label(form.zip) }}<span class="has-error">*</span>
                                            {{ form_widget(form.zip, {'attr': {'class': 'form-control'}}) }}
                                            {{ form_errors(form.zip) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <h3 class="mb-30">{{ 'label.companyadmin'|trans }}:</h3>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group mb-30">
                                            {{ form_label(form.adminName) }}<span class="has-error">*</span>
                                            {{ form_widget(form.adminName, {'attr': {'class': 'form-control'}}) }}
                                            {{ form_errors(form.adminName) }}
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group mb-30">
                                            {{ form_label(form.adminEmail) }}<span class="has-error">*</span>
                                            {{ form_widget(form.adminEmail, {'attr': {'class': 'form-control'}}) }}
                                            {{ form_errors(form.adminEmail) }}
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group mb-30">
                                            {{ form_label(form.adminJobTitle) }}<span class="has-error">*</span>
                                            {{ form_widget(form.adminJobTitle, {'attr': {'class': 'form-control'}}) }}
                                            {{ form_errors(form.adminJobTitle) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <h3 class="mb-30">{{ 'label.companyrepresentatives'|trans }}:</h3>
                                    </div>
                                    <div id="representative-fields-list"
                                         data-prototype="{% filter escape %}{% include 'AdminBundle:Customer:_prototype.html.twig' with {'form': form.companyRepresentatives.vars.prototype|e} %}{% endfilter %}">
                                        {% for representative in form.companyRepresentatives %}
                                            <div class="col-md-6">
                                                <div class="form-group mb-30">
                                                    {{ form_label(representative.name) }}
                                                    {{ form_widget(representative.name, {'attr': {'class': 'form-control'}}) }}
                                                    {{ form_errors(representative.name) }}
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group mb-30">
                                                    {{ form_label(representative.email) }}
                                                    {{ form_widget(representative.email, {'attr': {'class': 'form-control'}}) }}
                                                    {{ form_errors(representative.email) }}
                                                </div>
                                            </div>
                                            <div class="col-md-7">
                                                <div class="form-group mb-30">
                                                    {{ form_label(representative.jobTitle) }}
                                                    {{ form_widget(representative.jobTitle, {'attr': {'class': 'form-control'}}) }}
                                                    {{ form_errors(representative.jobTitle) }}
                                                </div>
                                            </div>
                                            <div class="col-md-5" id="add_more_representative"></div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 col-md-offset-4">
                                        {{ form_widget(form.submit, {'attr': {'class': 'btn light-green btn-lg btn-block mb-20'}}) }}
                                    </div>
                                </div>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}

    <script type="text/javascript" src="{{ asset('assets/js/jquery-ui.js') }}"></script>

    <script type="text/javascript">
        var $collectionHolder;

        // setup an "add a tag" link
        var $addTagLink = $('<a href="#" class="btn light-blue btn-block add-representative mb-20 add_tag_link">{{ 'company.add_representative'|trans }}</a>');
        var $newLinkLi = $('#add_more_representative').append($addTagLink);

        jQuery(document).ready(function() {
            // Get the ul that holds the collection of tags
            $collectionHolder = $('#representative-fields-list');

            // add a delete link to all of the existing tag form li elements
            $collectionHolder.find('li').each(function() {
//                addTagFormDeleteLink($(this));
            });

            // add the "add a tag" anchor and li to the tags ul
            $collectionHolder.append($newLinkLi);

            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new item (e.g. 2)
            $collectionHolder.data('index', $collectionHolder.find(':input').length);

            $addTagLink.on('click', function(e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // add a new tag form (see next code block)
                addTagForm($collectionHolder, $newLinkLi);
            });

            $("#customer_form_subscriptionStartDate").datepicker({
                dateFormat: 'dd/mm/yy',
                onSelect : function(selected_date) {
                    var date = $(this).datepicker('getDate');
                    $('#customer_form_subscriptionEndDate').datepicker('option', 'minDate', date); // Reset minimum date
                    date.setFullYear(date.getFullYear() + 1);
                    date.setDate(date.getDate() - 1);
                    $('#customer_form_subscriptionEndDate').datepicker('setDate', date); // Set as default
                }
            });
            $("#customer_form_subscriptionEndDate").datepicker({
                dateFormat: 'dd/mm/yy'
            });
        });

        function addTagForm($collectionHolder, $newLinkLi) {
            // Get the data-prototype explained earlier
            var prototype = $collectionHolder.data('prototype');

            // get the new index
            var index = $collectionHolder.data('index');

            var newForm = prototype;
            // You need this only if you didn't set 'label' => false in your tags field in TaskType
            // Replace '__name__label__' in the prototype's HTML to
            // instead be a number based on how many items we have
            // newForm = newForm.replace(/__name__label__/g, index);

            // Replace '__name__' in the prototype's HTML to
            // instead be a number based on how many items we have
            newForm = newForm.replace(/__name__/g, index);

            // increase the index with one for the next item
            $collectionHolder.data('index', index + 1);

            // Display the form in the page in an li, before the "Add a tag" link li
            var $newFormLi = $('<div></div>').append(newForm);
            $newLinkLi.after($newFormLi);
            addTagFormDeleteLink($newFormLi);
        }
        function addTagFormDeleteLink($tagFormLi) {
            var $removeFormA = $('<div id="" class="col-md-5"><a href="#" class="delete-representative btn dark-grey btn-block mb-20">Delete</a></div>');
            $tagFormLi.append($removeFormA);

            $removeFormA.on('click', function(e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // remove the li for the tag form
                $tagFormLi.remove();
            });
        }
    </script>
{% endblock %}