{% set baseTemplate = app.request.get('_route') == 'company_edit' ? 'FrontBundle::layout.html.twig' : 'AdminBundle::layout.html.twig' %}
{% extends baseTemplate %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/jquery-ui.css') }}">
{% endblock %}

{% if app.request.get('_route') == 'company_edit' %}
    {% set attributes = {'attr': {'class': 'form-control', 'readonly': 'readonly'}} %}
{% else %}
    {% set attributes = {'attr': {'class': 'form-control'}} %}
{% endif %}

{% block body %}
    <div class="right-panel">
        <div class="main-box mb-30">
            <div class="title-block">
                <h1>{{ 'company.edit'|trans }}</h1>
            </div>
            <div class="main-content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2 mb-30 mt-30">
                            {% include 'AdminBundle::flash_messages.html.twig' %}
                            {{ form_start(form) }}
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group mb-30">
                                        {{ form_label(form.name) }}<span class="has-error">*</span>
                                        {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                                        {{ form_errors(form.name) }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group mb-30">
                                        {{ form_label(form.addressLine1) }}<span class="has-error">*</span>
                                        {{ form_widget(form.addressLine1, attributes) }}
                                        {{ form_errors(form.addressLine1) }}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group mb-30">
                                        {{ form_label(form.addressLine2) }}<span class="has-error">*</span>
                                        {{ form_widget(form.addressLine2, attributes) }}
                                        {{ form_errors(form.addressLine2) }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group mb-30">
                                        {{ form_label(form.subscriptionStartDate) }}<span class="has-error">*</span>
                                        {{ form_widget(form.subscriptionStartDate, attributes) }}
                                        {{ form_errors(form.subscriptionStartDate) }}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group mb-30">
                                        {{ form_label(form.subscriptionEndDate) }}<span class="has-error">*</span>
                                        {{ form_widget(form.subscriptionEndDate, attributes) }}
                                        {{ form_errors(form.subscriptionEndDate) }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group mb-30">
                                        {{ form_label(form.vat) }}<span class="has-error">*</span>
                                        {{ form_widget(form.vat, attributes) }}
                                        {{ form_errors(form.vat) }}
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group mb-30">
                                        {{ form_label(form.phone) }}<span class="has-error">*</span>
                                        {{ form_widget(form.phone, {'attr': {'class': 'form-control'}}) }}
                                        {{ form_errors(form.phone) }}
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group mb-30">
                                        {{ form_label(form.city) }}<span class="has-error">*</span>
                                        {{ form_widget(form.city, attributes) }}
                                        {{ form_errors(form.city) }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                {#<div class="col-md-4">
                                    <div class="form-group mb-30">
                                        {{ form_label(form.state) }}<span class="has-error">*</span>
                                        {{ form_widget(form.state, attributes) }}
                                        {{ form_errors(form.state) }}
                                    </div>
                                </div>#}
                                <div class="col-md-4">
                                    <div class="form-group mb-30">
                                        {{ form_label(form.country) }}<span class="has-error">*</span>
                                        {{ form_widget(form.country, attributes) }}
                                        {{ form_errors(form.country) }}
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group mb-30">
                                        {{ form_label(form.zip) }}<span class="has-error">*</span>
                                        {{ form_widget(form.zip, attributes) }}
                                        {{ form_errors(form.zip) }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 col-md-offset-4">
                                    {{ form_widget(form.submit, {'attr': {'class': 'btn light-green btn-lg btn-block mb-20'}}) }}
                                </div>
                            </div>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}

    <script type="text/javascript" src="{{ asset('assets/js/jquery-ui.js') }}"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            {% if app.request.get('_route') != 'company_edit' %}
                $("#customer_edit_form_subscriptionStartDate").datepicker({
                    dateFormat: 'dd/mm/yy',
                    onSelect : function(selected_date) {
                        var date = $(this).datepicker('getDate');
                        date.setFullYear(date.getFullYear() + 1);
                        date.setDate(date.getDate() - 1);
                        $('#customer_edit_form_subscriptionEndDate').datepicker('setDate', date); // Set as default
                    }
                });
                $("#customer_edit_form_subscriptionEndDate").datepicker({
                    dateFormat: 'dd/mm/yy'
                });
            {% endif %}
        });
    </script>
{% endblock %}