{% extends ':EmailTemplates:email_layout.html.twig' %}

{% block body %}
    <tr>
        <td width="20" height="20"></td>
        <td width="560" height="20">
            <p style="font-size: 14px; color:#2d2d2e;">{{ 'hello'|trans }}<span style="color: #0c1224; font-weight: 600;"> {{ content_writer_name }},</span></p>
            <p>
                {{ 'company.block.msg.one'|trans }} {{ company.name }},{{ 'company.block.msg.two'|trans }}
            </p>
            <span style="font-size: 14px; color:#2d2d2e;">
                <ul>
                    {% for key, article in details.articles %}
                        <li>
                            {{ article.name }}
                        </li>
                    {% endfor %}
                </ul>
            </span>
        </td>
        <td width="20" height="20"></td>
    </tr>
{% endblock %}