{% extends ':EmailTemplates:email_layout.html.twig' %}

{% block body %}
    <tr>
        <td width="20" height="20"></td>
        <td width="560" height="20">
            <p style="font-size: 14px; color:#2d2d2e;">{{ 'hello'|trans }}<span style="color: #0c1224; font-weight: 600;"> {{ company.admin.name }},</span></p>
            <p>
                {{ 'subscription.end'|trans }} {{ company.subscriptionEndDate|date('Y-m-d') }}, {{ 'subscription.please_contact'|trans }}<br>
            </p>
        </td>
        <td width="20" height="20"></td>
    </tr>
{% endblock %}