<div class="row">
    <div class="col-sm-10 col-sm-offset-1">
        {% if article.status == constant('EntityBundle\\Entity\\Article::CHANGE_REQUESTED') %}
            <label class="btn btn-block dark-grey">
                {{ 'customer.article.request_sent.message'|trans }}&nbsp; <i class="fa fa-paper-plane"></i>
            </label>
        {% endif %}

        {% if article.status == constant('EntityBundle\\Entity\\Article::CHANGE_COMPLETED') %}
            <label class="btn btn-block dark-grey">
                {{ 'customer.article.changes_done.message'|trans }}&nbsp; <i class="fa fa-paper-plane"></i>
            </label>
        {% endif %}

        {# Statastics #}
        {#{% if article.status == constant('EntityBundle\\Entity\\Article::PUBLISHED')#}
           {#or article.status == constant('EntityBundle\\Entity\\Article::UNPUBLISHED_REQUESTED')#}
           {#or article.status == constant('EntityBundle\\Entity\\Article::UNPUBLISHED_REQUESTED_AUTO')#}
           {#or article.status == constant('EntityBundle\\Entity\\Article::UNPUBLISHED')#}
           {#or article.status == constant('EntityBundle\\Entity\\Article::UNPUBLISHED_AUTO')#}
        {#%}#}
            {#<a href="{{ path('statistics') }}" class="btn btn-block light-green">{{ 'label.article.statistics'|trans }}</a>#}
        {#{% endif %}#}

        {# Boost Button #}
        {% if article.boostStatus == constant('EntityBundle\\Entity\\Article::NOT_REQUESTED')
                and article.status == constant('EntityBundle\\Entity\\Article::PUBLISHED')
                and article.company.articleRequestedForBoost.count < article.company.availableBoosts
                and article.company.isSubscriptionRunning
        %}
                <a href="#" data-article="{{ article.id }}" data-end-date="{{ article.company.subscriptionEndDate|date('d/m/Y') }}" class="btn btn-block dark-grey boost-request">{{ 'boost.request.not'|trans }}</a>
           {# <a href="{{ path('boost_status', { id: article.id}) }}" class="btn btn-block dark-grey">{{ 'boost.request.not'|trans }}</a>#}
        {% elseif article.boostStatus == constant('EntityBundle\\Entity\\Article::BOOST_REQUEST_SENT') %}
            <label class="btn btn-block dark-grey">{{ 'boost.request.sent'|trans }}&nbsp; <i class="fa fa-paper-plane"></i></label>
        {% elseif article.boostStatus == constant('EntityBundle\\Entity\\Article::ARTICLE_BOOSTED') %}
            <label class="btn btn-block dark-grey">{{ 'boost.btn.boosted'|trans }}&nbsp; <i class="fa fa-paper-plane"></i></label>
        {% endif %}

        {# print Button #}
        {#{% if article.printStatus == constant('EntityBundle\\Entity\\Article::NOT_REQUESTED')#}
                {#and article.status == constant('EntityBundle\\Entity\\Article::PUBLISHED')#}
                {#and article.company.articleRequestedForPrint.count < article.company.availablePrints#}
                {#and article.company.isSubscriptionRunning#}
        {#%}#}
            {#<a href="{{ path('print_status', { id: article.id}) }}" class="btn btn-block light-green">{{ 'print.request.not'|trans }}</a>#}
        {#{% elseif article.printStatus == constant('EntityBundle\\Entity\\Article::PRINT_REQUEST_SENT') %}#}
            {#<label class="btn btn-block light-green">{{ 'print.request.sent'|trans }}&nbsp; <i class="fa fa-paper-plane"></i></label>#}
        {#{% elseif article.printStatus == constant('EntityBundle\\Entity\\Article::ARTICLE_PRINTED') %}#}
            {#<label class="btn btn-block light-green">{{ 'print.btn.printed'|trans }}&nbsp; <i class="fa fa-paper-plane"></i></label>#}
        {#{% endif %}#}

        {% if article.status == constant('EntityBundle\\Entity\\Article::ARTICLE_DRAFTED')
           or article.status == constant('EntityBundle\\Entity\\Article::CHANGE_COMPLETED')
           or article.status == constant('EntityBundle\\Entity\\Article::CHANGE_REQUESTED')
           or article.status == constant('EntityBundle\\Entity\\Article::APPROVED')  %}
            <a class="btn btn-block light-blue" href="{{ path('view_article', {id: article.id}) }}" > {{ 'article.btn.view_draft'|trans }}</a>
        {% endif %}

        {# Stop publication button #}
        {% if article.status == constant('EntityBundle\\Entity\\Article::PUBLISHED') %}
            <a href="{{ path('article_request_for_unpublish', {'id': article.id }) }}" class="btn btn-block dark-blue stop-publishing">
                {{ 'page.listing.backoffice.unpublished_articles.article_status.article_publication_stop'|trans }}
            </a>
                <span class="confirm-message hidden">{{ 'customer.dashboard.un_publish_article_confirm'|trans({'%article%': article.articletitle}) }}</span>
        {% endif %}

        {% if article.status == constant('EntityBundle\\Entity\\Article::UNPUBLISHED_REQUESTED')
        or article.status == constant('EntityBundle\\Entity\\Article::UNPUBLISHED_REQUESTED_AUTO')
        %}
            <label class="btn btn-block dark-grey">
                {{ 'customer.article.unpublished_request_sent.message'|trans }}&nbsp; <i class="fa fa-paper-plane"></i>
            </label>
        {% endif %}

        {% if article.status == constant('EntityBundle\\Entity\\Article::UNPUBLISHED')
        or article.status == constant('EntityBundle\\Entity\\Article::UNPUBLISHED_AUTO')
        %}
            <label class="btn btn-block dark-grey">
                {{ 'article.un_published'|trans }}&nbsp; <i class="fa fa-paper-plane"></i>
            </label>
        {% endif %}
    </div>
</div>



