{% extends 'FrontBundle::layout.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/jquery-ui.css') }}">
{% endblock %}
{% block body %}

    <div class="right-panel">
        <div class="main-box mb-30">
            <div class="title-block">
                <h1>{{ 'my.profile'|trans }}</h1>
            </div>
            <div class="main-content">
                <div class="steps-section">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-4 step-block">
                                <span class="step-number">1</span>
                                <span class="step-info">{{ 'fillmyservey'|trans }}</span>
                            </div>
                            <div class="col-sm-4 step-block has-border">
                                <span class="step-number">2</span>
                                <span class="step-info">{{ 'validation_article'|trans }}</span>
                            </div>
                            <div class="col-sm-4 step-block has-border">
                                <span class="step-number">3</span>
                                <span class="step-info">{{ 'statistics_myarticle'|trans }}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="row">
                        {% if articles %}
                            {% for article in articles %}
                                <div class="col-lg-3 col-md-6 mb-30">
                                    <div class="article-list-block text-center">
                                        {#<a href="#" class="publicer-btn btn">Publier</a>#}
                                        <div class="article-img mb-20 mt-10">
                                            {% if article.articleThumbnail %}
                                                <img height="200" width="200" class="img-responsive"src="{{ asset(article.articleThumbnail) }}" alt="{{ article.articleTitle }}">
                                            {% else %}
                                                <img height="200" width="200" class="img-responsive" src="http://placehold.it/200x200?text=Image" alt="{{ article.articleTitle }}">
                                            {% endif %}
                                            <span>
                                                {% if article.externalCmsLink %}
                                                    <a href="{{ article.externalCmsLink }}" target="_blank">
                                                {% endif %}

                                                {% if article.articleTitle %}
                                                    {{ article.articleTitle }}
                                                {% else %}
                                                    {{ 'label.article.title'|trans }}
                                                {% endif %}

                                                {% if article.externalCmsLink %}
                                                </a>
                                                {% endif %}
                                            </span>
                                        </div>

                                        {# Article actions #}
                                        {% if article.company.status == constant('EntityBundle\\Entity\\Company::ACTIVE') %}
                                            {{ include('FrontBundle:article:article_actions.html.twig', {'article': article}) }}
                                        {% endif %}
                                    </div>
                                </div>
                                {% if loop.index % 4 == 0 %}</div><div class="row">{% endif %}
                            {% endfor %}
                            <div class="col-lg-3 col-md-6 mb-30">
                        {% else %}
                            <div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-md-6 mb-30">
                        {% endif %}

                            <div class="article-list-block-add mt-10 text-center">
                                <a href="{{ path('article_add') }}"><img src="{{ asset('assets/images/plus.svg') }}" alt="" class="add-artice-icon"></a>
                                <a href="{{ path('article_add') }}" class="btn add-article-btn light-blue btn-block">{{ 'label.create.article'|trans }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="unpublish_confirm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
                <div class="modal-content">
                        <div class="modal-body">
                                <h2 class="text-center popup-title mb-30 mt-10">{{ 'confirm.msg'|trans }}</h2>
                                <p class="text-center confirmation-message">
                                        {{ 'confirmation_msg'|trans }}
                                </p>
                                <br>
                                <div class="text-center">
                                        <a href="#" class="btn light-green confirm-yes">{{ 'confirm.yes'|trans }}</a> &nbsp;&nbsp;&nbsp;&nbsp;
                                        <a class="btn btn-danger" data-dismiss="modal">{{ 'confirm.no'|trans }}</a>
                                </div>
                        </div>
                </div>
        </div>
</div>

<div class="modal fade" id="boost_model" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
                <div class="modal-content">
                        <div class="modal-body">
                                <h4 class="panel-heading popup-title mb-30 mt-10">{{ 'boost.form.msg'|trans }}</h4>
                                <form class="boost-model" method="post">
                                        <div class="row">
                                                <div class="col-lg-offset-3 col-lg-6 form-group">
                                                        <label>{{ 'label.mindate'|trans }}</label>
                                                        <input type="hidden" name="article_id" id="article_id" value="">
                                                        <input type="text" id="boost_start_date" name="boost_start_date" value="" class="form-control" required="required">
                                                </div>
                                                {#<div class="col-lg-6 form-group">#}
                                                    {#<label>{{ 'label.maxdate'|trans }}</label>#}
                                                        <input type="hidden" id="boost_end_date" name="boost_end_date" class="form-control" value="" disabled>
                                                {#</div>#}
                                        </div>

                                        <div class="row text-center">
                                                <input type="submit" id="boost_request_btn" class="btn btn-success" value="submit">
                                                <a class="btn btn-danger" data-dismiss="modal">{{ 'confirm.close'|trans }}</a>
                                        </div>
                                </form>
                        </div>
                </div>
        </div>
</div>
{% endblock body %}

{% block javascript %}
    {{ parent() }}

    <script type="text/javascript" src="{{ asset('assets/js/jquery-ui.js') }}"></script>

<script type="text/javascript">
 $(document).ready(function() {
    $("#boost_start_date").datepicker({
        dateFormat: 'dd/mm/yy',
         minDate : +2,
         maxDate: $('#boost_end_date').val(),
         defaultDate: +2
    });

 });

$('.boost-request').click(function() {
    $('#article_id').val($(this).attr('data-article'));
    $('#boost_end_date').val($(this).attr('data-end-date'));
    $('#boost_model').modal();
});

$('#boost_request_btn').on('click', function(e) {
    if ($('#boost_start_date').val() == "") {
        return false;
    }
    $('#loader_image').removeClass('hidden');
        e.preventDefault();
        var id = $('#article_id').val();
        var url = "{{ path('boost_status', { id: 'article_id'}) }}";
        url = url.replace("article_id", id);
        var data = {start_date : $('#boost_start_date').val(),
                end_date : $('#boost_end_date').val()};
        $.post(url, data, function(response) {
               $('input[type="text"]').val('');
                $('#boost_model').modal('toggle');
                window.location.href = '{{ url('article_list') }}';
        }, 'JSON');
});

    $('.stop-publishing').click(function (e) {
        $('#unpublish_confirm').find('.confirmation-message').html($(this).closest('.article-list-block').find('.confirm-message').html());
        $('#unpublish_confirm').find('.confirm-yes').attr('href', $(this).attr('href'));
        $('#unpublish_confirm').modal();
        e.preventDefault();
    });
</script>
{% endblock %}