{% extends 'FrontBundle::layout.html.twig' %}

{% block body %}
    <div class="right-panel">
        <div class="main-box mb-30">
            <div class="title-block">
                <h1>{{ 'my.profile'|trans }}</h1>
            </div>
            <div class="main-content">
                <div class="steps-section">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-4 step-block">
                                <span class="step-number"><i class="fa fa-check"></i></span>
                                <span class="step-info">{{ 'fillmyservey'|trans }}</span>
                            </div>
                            <div class="col-sm-4 step-block has-border">
                                <span class="step-number">2</span>
                                <span class="step-info">{{ 'validation_article'|trans }}</span>
                            </div>
                            <div class="col-sm-4 step-block has-border">
                                <span class="step-number">3</span>
                                <span class="step-info">{{ 'statistics_myarticle'|trans }}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2 mb-30">
                            <div class="page-title">{{ 'label.article.add'|trans }}</div>
                            {{ form_start(form) }}
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group mb-30">
                                        {{ form_label(form.enterpriseName) }} <span class="has-error">*</span>
                                        {{ form_widget(form.enterpriseName, {'attr': {'class' : 'form-control'}}) }}
                                        {{ form_errors(form.enterpriseName) }}
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group mb-30">
                                        {{ form_label(form.numberOfEmployees) }}<span class="has-error">*</span>
                                        {{ form_widget(form.numberOfEmployees, {'attr': {'class' : 'form-control'}}) }}
                                        {{ form_errors(form.numberOfEmployees) }}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group mb-30">
                                        {{ form_label(form.turnover) }}<span class="has-error">*</span>
                                        {{ form_widget(form.turnover, {'attr': {'class' : 'form-control'}}) }}
                                        {{ form_errors(form.turnover) }}
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group mb-30">

                                        {% for key,val in questions %}
                                            <input type="hidden" name="question[{{ loop.index }}]" value="{{ key }}">
                                            {% if val == "text" %}
                                                <div class="form-group">
                                                    <label>{{ key |trans }} <span class="has-error">*</span></label>   <input class="form-control" type="text" name="answer[{{ loop.index }}]" value="{% if  app.request.request.get('answer')[loop.index] is defined %}{{ app.request.request.get('answer')[loop.index] }}{% endif %}">
                                                </div>
                                            {% elseif val == "textArea" %}
                                                <div class="form-group">
                                                    <label>{{ key |trans }} <span class="has-error">*</span></label> <textarea cols="12" rows="5" class="form-control" name="answer[{{ loop.index }}]">{% if  app.request.request.get('answer')[loop.index] is defined %}{{ app.request.request.get('answer')[loop.index]  }} {% endif %}</textarea>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                        {% if error_msg is not empty %} <span class="has-error">{{ error_msg }} </span>{% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 col-md-offset-4">
                                    {{ form_widget(form.submit, {'attr': {'class' : 'btn light-green btn-lg btn-block mb-20'}}) }}
                                    {#<a href="#" class="btn light-green btn-lg btn-block mb-20" data-toggle="modal" data-target="#myModal1">Envoyer</a>#}
                                </div>
                            </div>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}