{% extends 'FrontBundle::layout.html.twig' %}

{% block body %}
<div class="right-panel">
    <div class="steps-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 step-block">
                    <span class="step-number"><i class="fa fa-check"></i></span>
                    <span class="step-info">{{ 'fillmyservey'|trans }}</span>
                </div>
                <div class="col-sm-4 step-block has-border">
                    <span class="step-number"><i class="fa fa-check"></i></span>
                    <span class="step-info">{{ 'validation_article'|trans }}</span>
                </div>
                <div class="col-sm-4 step-block has-border">
                    <span class="step-number"><i class="fa fa-check"></i></span>
                    <span class="step-info">{{ 'statistics_myarticle'|trans }}</span>
                </div>
            </div>
        </div>
    </div>

    <img src="{{ asset('assets/images/statistics.png') }}" alt="" style="width: 100%">
</div>
{% endblock body %}