{% extends 'FrontBundle::layout.html.twig' %}

{% block body %}
    <div class="right-panel">
        <div class="main-box mb-30">
            <div class="title-block">
                <h1>{{ 'my.profile'|trans }}</h1>
            </div>
            <div class="main-content">
                <div class="steps-section">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-4 step-block">
                                <span class="step-number"><i class="fa fa-check"></i></span>
                                <span class="step-info">{{ 'fillmyservey'|trans }}</span>
                            </div>
                            <div class="col-sm-4 step-block has-border">
                                <span class="step-number"><i class="fa fa-check"></i></span>
                                <span class="step-info">{{ 'validation_article'|trans }}</span>
                            </div>
                            <div class="col-sm-4 step-block has-border">
                                <span class="step-number">3</span>
                                <span class="step-info">{{ 'statistics_myarticle'|trans }}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2 mb-30">
                            {% if article.externalcmslink != '' %}
                                <iframe src="{{ article.externalcmslink }}" width="100%" height="400"> </iframe>
                                <div class="mb-20 mt-30 control-contents">
                                    <p>{{ article.shortDescription }}</p>
                                </div>
                                {% if article.status == constant('EntityBundle\\Entity\\Article::ARTICLE_DRAFTED') or article.status == constant('EntityBundle\\Entity\\Article::CHANGE_COMPLETED') %}
                                    <div class="row">
                                        <div class="col-md-7">
                                            <a href="#" class="btn light-blue btn-lg btn-block mb-20" data-toggle="modal" data-target="#myModal">{{ 'page.customer.view_drafter_article.button.request_change'|trans }}</a>
                                        </div>
                                        <div class="col-md-5">
                                            <a data-target="#openConfor" data-toggle="modal" class="btn light-green btn-lg btn-block mb-20 confirm-approve" href="#">
                                                {{ 'page.customer.view_drafter_article.button.approve_article'|trans }}
                                            </a>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <h2 class="text-center popup-title mb-30 mt-10">{{ 'label.contact'|trans }}</h2>
                    {{ form_start(form) }}
                    {{ form_widget(form.description, {'attr': {'class' : 'form-control mb-30', 'rows' : '10',
                        'cols' : '30' }}) }}
                    {{ form_errors(form.description) }}
                    <input type="hidden" id="article" name="article" value="{{ article.id }}" >
                    <input type="hidden" id="email" name="email" value="{{ article.user.email }}" >
                    <div class="row">
                        <div class="col-sm-6">
                            <button class="btn btn-block dark-grey mb-20" data-dismiss="modal">Annuler</button>
                        </div>
                        <div class="col-sm-6">
                            {{ form_widget(form.submit, {'attr': {'class' : 'btn btn-success btn-block'}}) }}
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="openConfor" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <h2 class="text-center popup-title mb-30 mt-10">{{ 'confirm.msg'|trans }}</h2>
                    <p class="text-center">
                       {{ 'confirmation_msg'|trans }}
                    </p>
                    <br>
                    <div class="text-center">
                        <a href="{{ path('approve_article',{'id': article.id}) }}" class="btn light-green">{{ 'confirm.yes'|trans }}</a> &nbsp;&nbsp;&nbsp;&nbsp;
                        <a class="btn btn-danger" data-dismiss="modal">{{ 'confirm.no'|trans }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
   {{ parent() }}
    <script>
        $('#frontbundle_article_submit').on('click', function(e) {
            if ($('#frontbundle_article_description').val() == "") {
                return false;
            }
            $('#loader_image').removeClass('hidden');
            e.preventDefault();
            var url = "{{ path('request_article_change', {id: article.id}) }}";
            var data = {message : $('#frontbundle_article_description').val(),
                email : $('#email').val()};

            $.post(url, data, function(response) {
                $('#frontbundle_article_description').val();
                $('input[type="text"],textarea').val('');
                $('#myModal').modal('toggle');
                window.location.href = '{{ url('article_list') }}';
            }, 'JSON');
        });
    </script>
{% endblock %}