{% extends 'FrontBundle::layout.html.twig' %}

{% block body %}
    <div class="right-panel">
        <div class="main-box mb-30">
            <div class="title-block">
                <h1>{{ 'page.heading.customer.view_credit_log'|trans }}</h1>
            </div>

            <div class="main-content pd-20">
                <div class="row">
                    <div class="col-lg-3 col-sm-6 text-center">
                        <div class="well balance">
                            {{ 'avilable.article'|trans }}<br>
                            <span class="badge">    {{ company.availableArticles }}</span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 text-center">
                        <div class="well balance">
                            {{ 'avilable.boosts'|trans }}<br>
                            <span class="badge"> {{ company.availableBoosts }}</span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 text-center">
                        <div class="well balance">
                            {{ 'avilable.prints'|trans }}<br>
                            <span class="badge">{{ company.availablePrints }} </span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 text-center">
                        <div class="well balance">
                            {{ 'avilable.conference'|trans }}<br>
                            <span class="badge">{{  company.availableConferences  }} </span>
                        </div>
                    </div>
                </div>
                <div class="table-responsive custom-table">
                    <table class="table table-bordered table-striped">
                        <tr class="table-headings">
                            <th>{{ 'page.heading.customer.view_credit_log.credit_type'|trans }}</th>
                            <th>{{ 'page.heading.customer.view_credit_log.date'|trans }}</th>
                            <th>{{ 'page.heading.customer.view_credit_log.movement_type'|trans }}</th>
                            <th>{{ 'page.heading.customer.view_credit_log.old_balance'|trans }}</th>
                            <th>{{ 'page.heading.customer.view_credit_log.amount'|trans }}</th>
                            <th>{{ 'page.heading.customer.view_credit_log.new_balance'|trans }}</th>
                            <th>{{ 'page.heading.customer.view_credit_log.reason_code'|trans }}</th>
                            {#<th>{{ 'page.heading.customer.view_credit_log.reason'|trans }}</th>#}
                        </tr>
                        {% if logs %}
                        {% for log in logs %}
                            <tr>
                                <td>
                                    <span class="responsive-label">{{ 'page.heading.customer.view_credit_log.credit_type'|trans }}</span>
                                    <span class="responsive-data">{{ log.credittype }}</span>
                                </td>
                                <td>
                                    <span class="responsive-label">{{ 'page.heading.customer.view_credit_log.date'|trans }}</span>
                                    <span class="responsive-data">{{ log.date|date('Y-m-d') }}</span>
                                </td>
                                <td>
                                    <span class="responsive-label">{{ 'page.heading.customer.view_credit_log.movement_type'|trans }}</span>
                                    <span class="responsive-data">{{ log.movementtype }}</span>
                                </td>
                                <td>
                                    <span class="responsive-label">{{ 'page.heading.customer.view_credit_log.old_balance'|trans }}</span>
                                    <span class="responsive-data">{{ log.oldBalance }}</span>
                                </td>
                                <td>
                                    <span class="responsive-label">{{ 'page.heading.customer.view_credit_log.amount'|trans }}</span>
                                    <span class="responsive-data">{{ log.amount }}</span>
                                </td>
                                <td>
                                    <span class="responsive-label">{{ 'page.heading.customer.view_credit_log.new_balance'|trans }}</span>
                                    <span class="responsive-data">{{ log.newBalance }}</span>
                                </td>
                                <td>
                                    <span class="responsive-label">{{ 'page.heading.customer.view_credit_log.reason_code'|trans }}</span>
                                    <span class="responsive-data">{{ log.reasoncode }}</span>
                                </td>
                                {#<td>#}
                                    {#<span class="responsive-label">{{ 'page.heading.customer.view_credit_log.reason'|trans }}</span>#}
                                    {#<span class="responsive-data">{{ log.exactreasonlog }}</span>#}
                                {#</td>#}
                            </tr>
                        {% endfor %}
                        {% else  %}
                        <tr>
                            <td colspan="8" class="text-center">{{ 'norecord_found'|trans }}</td>
                        </tr>
                         {% endif %}
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}