{% extends 'AdminBundle::layout.html.twig' %}

{% block body %}
    <div class="right-panel">
        <div class="main-box mb-30">
            <div class="title-block">
                <h1>{{ user.id ? 'user.edit'|trans : 'user.add'|trans }}</h1>
            </div>
            <div class="main-content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2 mb-30 mt-30">
                            {% include 'AdminBundle::flash_messages.html.twig' %}
                            {{ form_start(form) }}
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group mb-30">
                                            {{ form_label(form.name) }}<span class="has-error">*</span>
                                            {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                                            {{ form_errors(form.name) }}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group mb-30">
                                            {{ form_label(form.jobTitle) }}<span class="has-error">*</span>
                                            {{ form_widget(form.jobTitle, {'attr': {'class': 'form-control'}}) }}
                                            {{ form_errors(form.jobTitle) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group mb-30">
                                            {{ form_label(form.email) }}<span class="has-error">*</span>
                                            {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                                            {{ form_errors(form.email) }}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group mb-30">
                                            {{ form_label(form.role) }}<span class="has-error">*</span>
                                            {{ form_widget(form.role, {'attr': {'class': 'form-control chosen-select', 'data-placeholder': 'user.label.role_placeholder'|trans}}) }}
                                            {{ form_errors(form.role) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 col-md-offset-4">
                                        {{ form_widget(form.submit, {'attr': {'class': 'btn light-green btn-lg btn-block mb-20'}}) }}
                                    </div>
                                </div>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}