{% extends 'AdminBundle::layout.html.twig' %}

{% block body %}
    <div class="right-panel">
        <div class="main-box mb-30">
            <div class="title-block">
                <div class="row">
                    <div class="col-sm-6">
                        <h1>{{ 'page.heading.backoffice.users_list'|trans }}</h1>
                    </div>
                    <div class="col-sm-6 responsive-align-left">
                        <a href="{{ path('user_add') }}" class="btn dark-grey btn-icon">
                            {{ 'user.add'|trans }}
                        </a>
                    </div>
                </div>
            </div>
            <div class="main-content pd-20">
                {% include 'AdminBundle::flash_messages.html.twig' %}
                <div class="table-responsive custom-table">
                    <table class="table table-bordered table-striped">
                        <tr class="table-headings">
                            <th class="text-center">{{ 'page.heading.backoffice.users.name'|trans }}</th>
                            <th class="text-center">{{ 'page.heading.backoffice.users.job_title'|trans }}</th>
                            <th class="text-center">{{ 'page.heading.backoffice.users.email'|trans }}</th>
                            <th class="text-center">{{ 'page.heading.backoffice.users.role'|trans }}</th>
                            <th class="text-center listing-action-btns">{{ 'listings.heading.action'|trans }}</th>
                        </tr>
                        {% for user in users %}
                            <tr>
                                <td class="text-center">
                                    <span class="responsive-label">{{ 'page.heading.backoffice.users.name'|trans }}</span>
                                    <span class="responsive-data">{{ user.name }}</span>
                                </td>
                                <td class="text-center">
                                    <span class="responsive-label">{{ 'page.heading.backoffice.users.job_title'|trans }}</span>
                                    <span class="responsive-data">{{ user.jobTitle }}</span>
                                </td>
                                <td class="text-center">
                                    <span class="responsive-label">{{ 'page.heading.backoffice.users.email'|trans }}</span>
                                    <span class="responsive-data">{{ user.email }}</span>
                                </td>
                                <td class="text-center">
                                    <span class="responsive-label">{{ 'page.heading.backoffice.users.role'|trans }}</span>
                                    <span class="responsive-data">
                                        {% for role in user.roles %}
                                            {{ role }}{% if not loop.last %},{% endif %}
                                        {% endfor %}
                                    </span>
                                </td>
                                <td class="text-center">
                                    <a href="{{ path('user_edit', {'id': user.id}) }}" class="btn light-blue btn-icon" title="{{ 'user.edit'|trans }}">
                                        <i class="fa fa-pencil-square-o"></i>
                                    </a>
                                    {% if user.enabled %}
                                        <a href="{{ path('user_change_status', {'id': user.id}) }}" class="btn dark-blue btn-icon" title="{{ 'user.disable'|trans }}">
                                            <i class="fa fa fa-ban"></i>
                                        </a>
                                    {% else %}
                                        <a href="{{ path('user_change_status', {'id': user.id}) }}" class="btn light-blue btn-icon" title="{{ 'user.enable'|trans }}">
                                            <i class="fa fa-check"></i>
                                        </a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="5" class="text-center">{{ 'list.no_records_found'|trans }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}