{% extends 'AdminBundle::layout.html.twig' %}

{% block body %}
    <div class="right-panel">
        <div class="main-box mb-30">
            <div class="title-block">
                <div class="row">
                    <div class="col-sm-6">
                        <h1>{{ 'page.heading.backoffice.companies.list'|trans }}</h1>
                    </div>
                    {% if app.user.hasAccess('SALES_TEAM_AND_MANAGER_AND_ACCOUNT_MANAGER') %}
                        <div class="col-sm-6 responsive-align-left">
                            <a href="{{ path('customer_add') }}" class="btn dark-grey btn-icon">
                                {{ 'page.heading.backoffice.companies.create_company'|trans }}
                            </a>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="main-content pd-20">
                {% include 'AdminBundle::flash_messages.html.twig' %}
                <div class="table-responsive custom-table">
                    <table class="table table-bordered table-striped">
                        <tr class="table-headings">
                            <th class="text-center">{{ 'page.heading.backoffice.companies.company_name'|trans }}</th>
                            <th class="text-center">{{ 'page.heading.backoffice.companies.phone'|trans }}</th>
                            <th class="text-center">{{ 'page.heading.backoffice.companies.administrator'|trans }}</th>
                            <th class="text-center">{{ 'page.heading.backoffice.companies.pack'|trans }}</th>
                            <th class="text-center">{{ 'page.heading.backoffice.companies.credits_left'|trans }}</th>
                            <th class="text-center">{{ 'page.heading.backoffice.companies.company_status'|trans }}</th>
                            <th class="text-center">{{ 'page.heading.backoffice.companies.subscription_start_date'|trans }}</th>
                            <th class="text-center">{{ 'page.heading.backoffice.companies.subscription_end_date'|trans }}</th>
                            <th class="text-center listing-action-btns">{{ 'listings.heading.action'|trans }}</th>
                        </tr>
                        {% for company in companies %}
                            <tr>
                                <td class="text-center">
                                    <span class="responsive-label">{{ 'page.heading.backoffice.companies.company_name'|trans }}</span>
                                    <span class="responsive-data">{{ company.name }}</span>
                                </td>
                                <td class="text-center">
                                    <span class="responsive-label">{{ 'page.heading.backoffice.companies.phone'|trans }}</span>
                                    <span class="responsive-data">{{ company.phone }}</span>
                                </td>
                                <td class="text-center">
                                    <span class="responsive-label">{{ 'page.heading.backoffice.companies.administrator'|trans }}</span>
                                    <span class="responsive-data">{% if company.admin %}{{ company.admin.name }}{% endif %}</span>
                                </td>
                                <td class="text-center">
                                    <span class="responsive-label">{{ 'page.heading.backoffice.companies.pack'|trans }}</span>
                                    <span class="responsive-data">{{ company.currentSubscription.title }}</span>
                                </td>
                                <td class="text-center">
                                    <span class="responsive-label">{{ 'page.heading.backoffice.companies.credits_left'|trans }}</span>
                                    <span class="responsive-data">
                                        {{ 'page.heading.backoffice.companies.credit_left.articles'|trans }}: {{ company.availableArticles }}
                                        {{ 'page.heading.backoffice.companies.credit_left.boosts'|trans }}: {{ company.availableBoosts }}
                                        {{ 'page.heading.backoffice.companies.credit_left.prints'|trans }}: {{ company.availablePrints }}
                                        {{ 'page.heading.backoffice.companies.credit_left.conference'|trans }}: {{ company.availableConferences }}
                                    </span>
                                </td>
                                <td class="text-center">
                                    <span class="responsive-label">{{ 'page.heading.backoffice.companies.company_status'|trans }}</span>
                                    <span class="responsive-data">{{ company.status }}</span>
                                </td>
                                <td class="text-center">
                                    <span class="responsive-label">{{ 'page.heading.backoffice.companies.subscription_start_date'|trans }}</span>
                                    <span class="responsive-data">{{ company.subscriptionstartdate|date('Y-m-d') }}</span>
                                </td>
                                <td class="text-center">
                                    <span class="responsive-label">{{ 'page.heading.backoffice.companies.subscription_end_date'|trans }}</span>
                                    <span class="responsive-data">{{ company.subscriptionenddate|date('Y-m-d') }}</span>
                                </td>
                                <td class="text-center listing-action-btns">
                                    {% if app.user.hasAccess('SALES_TEAM_AND_MANAGER_AND_ACCOUNT_MANAGER') %}
                                        <a href="{{ path('customer_edit', {'id': company.id}) }}" title="{{ 'company.edit'|trans }}" class="btn light-blue btn-icon">
                                            <i class="fa fa-pencil-square-o"></i>
                                        </a>
                                    {% endif %}
                                    {% if app.user.hasAccess('SALES_TEAM_AND_MANAGER') %}
                                        {% if company.status != constant('EntityBundle\\Entity\\Company::BLOCKED') %}
                                            <a href="{{ path('block_company', {'id': company.id}) }}" title="{{ 'company.listing.block'|trans }}" class="btn dark-blue btn-icon">
                                                <i class="fa fa fa-ban"></i>
                                            </a>
                                        {% endif %}
                                        {% if company.dndRegistered %}
                                            <a href="{{ path('company_register_as_dnd', {'id': company.id}) }}" title="{{ 'company.listing.dnd_remove'|trans }}" class="btn light-green btn-icon">
                                                <i class="fa fa-eye-slash"></i>
                                            </a>
                                        {% else %}
                                            <a href="{{ path('company_register_as_dnd', {'id': company.id}) }}" title="{{ 'company.listing.dnd'|trans }}" class="btn dark-grey btn-icon">
                                                <i class="fa fa-eye-slash"></i>
                                            </a>
                                        {% endif %}
                                    {% endif %}
                                    {% if app.user.hasAccess('MANAGER_AND_ACCOUNT_MANAGER') %}
                                        <a href="{{ path('company_process_extra_credit', {'id': company.id}) }}" title="{{ 'company.listing.process_extra_credits'|trans }}" class="btn light-green btn-icon">
                                            <i class="fa fa-money"></i>
                                        </a>
                                    {% endif %}
                                    {% if app.user.hasAccess('SALES_TEAM_AND_MANAGER') %}
                                        <a href="{{ path('company_subscription_upgrade', {'id': company.id}) }}" title="{{ 'company.listing.add_package'|trans }}" class="btn light-blue btn-icon">
                                            <i class="fa fa-cube"></i>
                                        </a>
                                    {% endif %}
                                    <a href="{{ path('company_view_credit_log', {'id': company.id}) }}" title="{{ 'credit_log'|trans }}" class="btn dark-grey btn-icon">
                                        <i class="fa fa-list-alt"></i>
                                    </a>
                                    <a href="{{ path('un_published_articles', {'id': company.id}) }}" title="{{ 'backend.left_panel.heading.un_published_article'|trans }}" class="btn light-green btn-icon">
                                        <i class="fa fa-eye"></i>
                                    </a>
                                    <a href="{{ path('published_articles', {'id': company.id}) }}" title="{{ 'backend.left_panel.heading.published_article'|trans }}" class="btn light-blue btn-icon">
                                        <i class="fa fa-eye"></i>
                                    </a>

                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="9" class="text-center">{{ 'list.no_records_found'|trans }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}