{% extends 'AdminBundle::layout.html.twig' %}

{% block body %}
    <div class="right-panel">
        <div class="main-box mb-30">
            <div class="title-block">
                <h1>{{ 'page.heading.backoffice.company.add_extra_credit.heading'|trans }}</h1>
            </div>
            <div class="main-content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12 mb-30 mt-30">
                            {% include 'AdminBundle::flash_messages.html.twig' %}
                            {{ form_start(form) }}
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group clearfix mb-30">
                                            {{ form_label(form.article) }}
                                            {{ form_widget(form.article, {'attr': {'class': 'form-control'}}) }}
                                            {{ form_errors(form.article) }}
                                            <span class="available-info">{{ 'credit.available_article'|trans }}: {{ company.availableArticles }}</span>
                                            {{ form_widget(form.articleAdd, {'attr': {'class': 'btn light-green btn-small mt-10 add-credit', 'data-submit': 'false'}}) }}
                                            {{ form_widget(form.articleRemove, {'attr': {'class': 'btn dark-grey btn-small pull-right mt-10 remove-credit', 'data-submit': 'false'}}) }}
                                            <span class="add-credit-confirm-message hidden">{{ 'label.add_credit.confirmation_message'|trans({'%type%': 'Article', '%company%': company.name}) }}</span>
                                            <span class="remove-credit-confirm-message hidden">{{ 'label.remove_credit.confirmation_message'|trans({'%type%': 'Article', '%company%': company.name}) }}</span>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group clearfix mb-30">
                                            {{ form_label(form.boost) }}
                                            {{ form_widget(form.boost, {'attr': {'class': 'form-control'}}) }}
                                            {{ form_errors(form.boost) }}
                                            <span class="available-info">{{ 'credit.available_boost'|trans }}: {{ company.availableBoosts }}</span>
                                            {{ form_widget(form.boostAdd, {'attr': {'class': 'btn light-green btn-small mt-10 add-credit', 'data-submit': 'false'}}) }}
                                            {{ form_widget(form.boostRemove, {'attr': {'class': 'btn dark-grey btn-small pull-right mt-10 remove-credit', 'data-submit': 'false'}}) }}
                                            <span class="add-credit-confirm-message hidden">{{ 'label.add_credit.confirmation_message'|trans({'%type%': 'Boost', '%company%': company.name}) }}</span>
                                            <span class="remove-credit-confirm-message hidden">{{ 'label.remove_credit.confirmation_message'|trans({'%type%': 'Boost', '%company%': company.name}) }}</span>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group clearfix mb-30">
                                            {{ form_label(form.print) }}
                                            {{ form_widget(form.print, {'attr': {'class': 'form-control'}}) }}
                                            {{ form_errors(form.print) }}
                                            <span class="available-info">{{ 'credit.available_print'|trans }}: {{ company.availablePrints }}</span>
                                            {{ form_widget(form.printAdd, {'attr': {'class': 'btn light-green btn-small mt-10 add-credit', 'data-submit': 'false'}}) }}
                                            {{ form_widget(form.printRemove, {'attr': {'class': 'btn dark-grey btn-small pull-right mt-10 remove-credit', 'data-submit': 'false'}}) }}
                                            <span class="add-credit-confirm-message hidden">{{ 'label.add_credit.confirmation_message'|trans({'%type%': 'Print', '%company%': company.name}) }}</span>
                                            <span class="remove-credit-confirm-message hidden">{{ 'label.remove_credit.confirmation_message'|trans({'%type%': 'Print', '%company%': company.name}) }}</span>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group clearfix mb-30">
                                            {{ form_label(form.conference) }}
                                            {{ form_widget(form.conference, {'attr': {'class': 'form-control'}}) }}
                                            {{ form_errors(form.conference) }}
                                            <span class="available-info">{{ 'credit.available_conference'|trans }}: {{ company.availableConferences }}</span>
                                            {{ form_widget(form.conferenceAdd, {'attr': {'class': 'btn light-green btn-small mt-10 add-credit', 'data-submit': 'false'}}) }}
                                            {{ form_widget(form.conferenceRemove, {'attr': {'class': 'btn dark-grey btn-small pull-right mt-10 remove-credit', 'data-submit': 'false'}}) }}
                                            <span class="add-credit-confirm-message hidden">{{ 'label.add_credit.confirmation_message'|trans({'%type%': 'Conference', '%company%': company.name}) }}</span>
                                            <span class="remove-credit-confirm-message hidden">{{ 'label.remove_credit.confirmation_message'|trans({'%type%': 'Conference', '%company%': company.name}) }}</span>
                                        </div>
                                    </div>
                                </div>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="add_credit_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <h2 class="text-center popup-title mb-30 mt-10">{{ 'confirm.msg'|trans }}</h2>
                    <p class="text-center confirmation-message">
                        {{ 'confirmation_msg'|trans }}
                    </p>
                    <br>
                    <div class="text-center">
                        <a href="#" class="btn light-green confirm-yes">{{ 'confirm.yes'|trans }}</a> &nbsp;&nbsp;&nbsp;&nbsp;
                        <a class="btn btn-danger confirm-no" data-dismiss="modal">{{ 'confirm.no'|trans }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}

{% block javascript %}
   {{ parent() }}
    <script>
        $('.add-credit').click(function (e) {

            if ($(this).attr('data-submit') == 'false') {

                var formGroup = $(this).closest('.form-group');
                var html = formGroup.find('.add-credit-confirm-message').html().replace('%credit%', formGroup.find('input[type=number]').val());

                $(this).attr('data-submit', 'true');
                $('#add_credit_modal').find('.confirmation-message').html(html);
                $('#add_credit_modal').find('.confirm-yes').attr('data-button', $(this).attr('id'));
                $('#add_credit_modal').find('.confirm-no').attr('data-button', $(this).attr('id'));
                $('#add_credit_modal').modal();

                e.preventDefault();
            }
        });

        $('.remove-credit').click(function (e) {

            if ($(this).attr('data-submit') == 'false') {

                var formGroup = $(this).closest('.form-group');
                var html = formGroup.find('.remove-credit-confirm-message').html().replace('%credit%', formGroup.find('input[type=number]').val());

                $(this).attr('data-submit', 'true');
                $('#add_credit_modal').find('.confirmation-message').html(html);
                $('#add_credit_modal').find('.confirm-yes').attr('data-button', $(this).attr('id'));
                $('#add_credit_modal').find('.confirm-no').attr('data-button', $(this).attr('id'));
                $('#add_credit_modal').modal();

                e.preventDefault();
            }
        });

        $('.confirm-yes').click(function (e) {
            $('#'+$(this).attr('data-button')).click();
            e.preventDefault();
        });

        $('.confirm-no').click(function () {
            $('#'+$(this).attr('data-button')).attr('data-submit', 'false');
        });
    </script>
{% endblock %}