{% extends 'AdminBundle::layout.html.twig' %}

{% block body %}
    <div class="right-panel">
        <div class="main-box mb-30">
            <div class="title-block">
                <h1>{{ 'add_package_heading'|trans }}</h1>
            </div>
            <div class="main-content">
                <div class="container mt-30">
                    <div class="row">
                        {% for subscription in subscriptions %}
                            <div class="col-md-4 text-center">
                                <div class="package-blocks mb-30">
                                    <h2>{{ subscription.title }}</h2>
                                    <a class="btn dark-grey change-package" href="{{ path('upgrade_subscription', {'subscription': subscription.id, 'company': company.id}) }}">{{ 'continue'|trans }}</a>
                                    <span class="confirm-message hidden">{{ 'label.change_package.message'|trans({'%company%': company.name, '%package%': subscription.title}) }}</span>
                                    {#<a class="btn dark-grey" href="{{ path('upgrade_subscription', {'subscription': subscription.id, 'company': company.id}) }}">{{ 'continue'|trans }}</a>#}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="clearfix">&nbsp;</div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="upgrade_package" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <h2 class="text-center popup-title mb-30 mt-10">{{ 'confirm.msg'|trans }}</h2>
                    <p class="text-center confirmation-message">
                        {{ 'confirmation_msg'|trans }}
                    </p>
                    <br>
                    <div class="text-center">
                        <a href="#" class="btn light-green confirm-yes">{{ 'confirm.yes'|trans }}</a> &nbsp;&nbsp;&nbsp;&nbsp;
                        <a class="btn btn-danger confirm-no" data-dismiss="modal">{{ 'confirm.no'|trans }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}

{% block javascript %}
    {{ parent() }}

    <script>
        $('.change-package').click(function (e) {
            $('#upgrade_package').find('.confirmation-message').html($(this).closest('.package-blocks').find('.confirm-message').html());
            $('#upgrade_package').find('.confirm-yes').attr('href', $(this).attr('href'));
            $('#upgrade_package').modal();
            e.preventDefault();
        });
    </script>
{% endblock %}