{% extends 'AdminBundle::layout.html.twig' %}

{% block body %}
    <div class="right-panel">
        <div class="main-box mb-30">
            <div class="title-block">
                <h1>{{ 'page.heading.customer.view_credit_log'|trans }}</h1>
            </div>
            <div class="main-content pd-20">
                {% include 'AdminBundle::flash_messages.html.twig' %}
                <div class="table-responsive custom-table">
                    <table class="table table-bordered table-striped">
                        <tr class="table-headings">
                            <th>{{ 'page.heading.customer.view_credit_log.credit_type'|trans }}</th>
                            <th>{{ 'page.heading.customer.view_credit_log.date'|trans }}</th>
                            <th>{{ 'page.heading.customer.view_credit_log.movement_type'|trans }}</th>
                            <th>{{ 'page.heading.customer.view_credit_log.old_balance'|trans }}</th>
                            <th>{{ 'page.heading.customer.view_credit_log.amount'|trans }}</th>
                            <th>{{ 'page.heading.customer.view_credit_log.new_balance'|trans }}</th>
                            <th>{{ 'page.heading.customer.view_credit_log.reason_code'|trans }}</th>
                            {#<th>{{ 'page.heading.customer.view_credit_log.reason'|trans }}</th>#}
                            {#<th>Name</th>
                            <th class="text-center">Description</th>
                            <th class="text-center">Date</th>
                            <th>Status</th>
                            <th class="text-center listing-action-btns">Action</th>#}
                        </tr>
                        {% for log in logs %}
                            <tr>
                                <td>
                                    <span class="responsive-label">{{ 'page.heading.customer.view_credit_log.credit_type'|trans }}</span>
                                    <span class="responsive-data">{{ log.credittype }}</span>
                                </td>
                                <td>
                                    <span class="responsive-label">{{ 'page.heading.customer.view_credit_log.date'|trans }}</span>
                                    <span class="responsive-data">{{ log.date|date('Y-m-d') }}</span>
                                </td>
                                <td>
                                    <span class="responsive-label">{{ 'page.heading.customer.view_credit_log.movement_type'|trans }}</span>
                                    <span class="responsive-data">{{ log.movementtype }}</span>
                                </td>
                                <td>
                                    <span class="responsive-label">{{ 'page.heading.customer.view_credit_log.old_balance'|trans }}</span>
                                    <span class="responsive-data">{{ log.oldBalance }}</span>
                                </td>
                                <td>
                                    <span class="responsive-label">{{ 'page.heading.customer.view_credit_log.amount'|trans }}</span>
                                    <span class="responsive-data">{{ log.amount }}</span>
                                </td>
                                <td>
                                    <span class="responsive-label">{{ 'page.heading.customer.view_credit_log.new_balance'|trans }}</span>
                                    <span class="responsive-data">{{ log.newBalance }}</span>
                                </td>
                                <td>
                                    <span class="responsive-label">{{ 'page.heading.customer.view_credit_log.reason_code'|trans }}</span>
                                    <span class="responsive-data">{{ log.reasoncode }}</span>
                                </td>
                                {#<td>#}
                                    {#<span class="responsive-label">{{ 'page.heading.customer.view_credit_log.reason'|trans }}</span>#}
                                    {#<span class="responsive-data">{{ log.exactreasonlog }}</span>#}
                                {#</td>#}
                            </tr>
                        {% else  %}
                        <tr>
                            <td colspan="8" class="text-center">{{ 'norecord_found'|trans }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}