{% extends 'AdminBundle::layout.html.twig' %}

{% block body %}

    <div class="right-panel">
        <div class="main-box mb-30">
            <div class="title-block">
                <h1>{{ 'page.heading.backoffice.companies.waiting_period'|trans }}</h1>
            </div>
            <div class="main-content pd-20">
                {% include 'AdminBundle::flash_messages.html.twig' %}
                <div class="table-responsive custom-table">
                    <table class="table table-bordered table-striped">
                        <tr class="table-headings">
                            <th class="text-center">{{ 'page.heading.backoffice.companies.company_name'|trans }}</th>
                            <th class="text-center">{{ 'page.heading.backoffice.companies.company_status'|trans }}</th>
                            <th class="text-center">{{ 'page.heading.backoffice.companies.subscription_end_date'|trans }}</th>
                            <th class="text-center listing-action-btns">{{ 'listings.heading.action'|trans }}</th>
                        </tr>
                        {% for company in companies %}
                            <tr>
                                <td class="text-center">
                                    <span class="responsive-label">{{ 'page.heading.backoffice.companies.company_name'|trans }}</span>
                                    <span class="responsive-data">{{ company.name }}</span>
                                </td>
                                <td class="text-center">
                                    <span class="responsive-label">{{ 'page.heading.backoffice.companies.company_status'|trans }}</span>
                                    <span class="responsive-data">{{ company.status }}</span>
                                </td>
                                <td class="text-center">
                                    <span class="responsive-label">{{ 'page.heading.backoffice.companies.subscription_end_date'|trans }}</span>
                                    <span class="responsive-data">{{ company.subscriptionenddate|date('Y-m-d') }}</span>
                                </td>
                                <td class="text-center listing-action-btns">
                                    {% if app.user.hasAccess('SALES_TEAM_AND_MANAGER') %}
                                        <a href="{{ path('company_complete_waiting_period', {'id': company.id}) }}" title="{{ 'company.listing.waiting_period.payment_received'|trans }}" class="btn light-green btn-icon">
                                            <i class="fa fa-check"></i>
                                        </a>
                                        {% if company.status != constant('EntityBundle\\Entity\\Company::BLOCKED') %}
                                            <a class="btn btn-icon dark-blue" href="{{ path('block_company', {'id': company.id}) }}" title="{{ 'company.listing.block'|trans }}">
                                                <i class="fa fa-ban"></i>
                                            </a>
                                        {% endif %}

                                        {% if company.isDndRegistered == false %}
                                            <a class="btn btn-icon dark-grey" href="{{ path('company_register_as_dnd', {'id': company.id}) }}" title="{{ 'company.listing.dnd'|trans }}">
                                                <i class="fa fa-eye-slash"></i>
                                            </a>
                                        {% else %}
                                            <a href="{{ path('company_register_as_dnd', {'id': company.id}) }}" title="{{ 'company.listing.dnd_remove'|trans }}" class="btn light-green btn-icon">
                                                <i class="fa fa-eye-slash"></i>
                                            </a>
                                        {% endif %}
                                    {% endif %}
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="4" class="text-center">{{ 'list.no_records_found'|trans }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}